<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
        Rental Information
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
          </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="content">

      <rental-manager-progress-bar
      total = "7"
      active = "7"
    >
    </rental-manager-progress-bar>


      <div class="page-content">

          <div class="container">
            <div class="component">
              <div class="rentali-info">
                <strong>
                  RO# {{rentalInfo.roNumber}}
                </strong>
                <p>
                  <span class="title">Fee: </span>
                  ${{rentalInfo.rentalFee}}/mo
                </p>
                <p>
                  <span class="title">Service Advisor: </span>
                  {{rentalInfo.serviceAdvisor}}
                </p>
                <p>
                  <span class="title">Pick-up Date: </span>
                  {{rentalInfo.pickupDate | date:'MM-dd-yy | h:mm A'}}
                </p>
                <p>
                  <span class="title">Return Date: </span>
                  {{rentalInfo.dropoffDate | date:'MM-dd-yy | h:mm A'}}
                </p>
              </div>
            </div>

            <div class="component">
                <div class="rentali-info">
                  <strong>
                    Customer Information
                  </strong>
                  <p>
                    <span class="title">Name: </span>
                    {{customer.firstName}} {{customer.lastName}}
                  </p>
                  <p>
                    <span class="title">Address: </span>
                    {{customer.addressOne}}
                  </p>
                  <p>
                    <span class="title">Phone: </span>
                    {{customer.phoneNumber}}
                  </p>
                  <p>
                    <span class="title">Email: </span>
                    {{customer.customerEmail}}
                  </p>
                </div>
              </div>
          </div>
         

            <header-vehicle-detail-new
              [vehicle] = "vehicle"
            >
            </header-vehicle-detail-new>
            
            <div class="container">

                <div class="component">
                    <div class="component-content">
                      <div class="section">
                        <ion-grid class="no-padding">
                          <ion-row>
                              <ion-col col-12 col-sm-6 class="padding-right-20"  *ngFor="let d of damageInfo">
                                <div class="sub-container">
                                  <ion-grid class=" no-padding">
                                    <ion-row>
                                      <ion-col col-5 class="no-padding-top-down no-padding-left">
                                        <div class="image">
                                          <div class="red-icon">
                                            <p> {{d.damage_type | getFirstCharacter | uppercase | getNcharacters: 2}} </p>
                                          </div>
                                          <img src="{{baseUrl}}{{d.image_path}}" imageViewer>
                                        </div>
                                      </ion-col>
                                      <ion-col col-7 class="no-padding-top-down no-padding-right">
                                        <div class="sub-container-content">
                                          <p>{{d.damage_location}}</p>
                                          <p class="sub-p">{{d.comment}}</p>
                                        </div>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </div>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                </div>
              
                <div class="component">
                  <div class="component-content">
                    <div class="title">
                          <span class="header">
                              Rental Agreement
                          </span>
                    </div>
                    <div class="section">
                      <div class="agreement-text-area" [innerHTML]="agreement">
                      </div>
                      <div class="tos-area">
                        <ion-item class="no-padding" no-lines>
                            <ion-checkbox [(ngModel)]="accept_tos" item-start> </ion-checkbox>
                            <ion-label class="tos">I agree to the terms of services</ion-label> 
                        </ion-item>
                      </div>
                      <div class="signature-area">
                          <div *ngIf="operation == 'rental_manager_edit_loaner'">
                            <span class="title">Your Signature. </span>
                            <img src="{{my_signature}}">
                            <span class="title">Please leave the singature field blank if you do not want to update your previous signature. </span>
                          </div> 
                          <span class="title">Please Sign Below</span>
                          <canvas #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
                          <p class="pull-right clear-btn" (click)="clearCanvas()"> CLEAR </p>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="component">
                  <ion-grid>
                    <ion-row>
                        <ion-col col-md-12 col-6>
                            <div class="submit-btn" style="padding-top:0; padding-bottom:10px">
                              <button class=" cancel-btn" ion-button block large (click)="back()">
                                  <p>
                                    Cancel
                                  </p>
                              </button>
                            </div>
                        </ion-col>
                        <ion-col col-md-12 col-6>
                            <div class="submit-btn" style="padding-top:0; padding-bottom:10px">

                              <button *ngIf="operation == 'rental_manager_edit_loaner'; else assignTag" [disabled]= "!accept_tos" ion-button block large (click)="updateLoanerAssigned()">
                                  <p>
                                    Submit
                                  </p>
                              </button>
                              <ng-template #assignTag>
                                <button ion-button block large [disabled]= "!accept_tos || !signed" (click)="assignVehicle()">
                                  <p>
                                    Submit 
                                  </p>
                                </button>
                              </ng-template>

                            </div>
                        </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>


            </div>
      
    </div>
  </ion-content>