page-vehicle-profile-new {

  //large screen
  @media screen and (min-width: 900px) {
    .component-content .sub-container .image {
      width: 160px !important;
    }

    .sub-container-content {
      margin-left: -20% !important;
    }
  }

  .row{
    align-items: unset !important;
  }

  .red-indicator,
  .green-indicator,
  .yellow-indicator {
    margin-top: 3px !important;
  }

  .top-content {
    // height: 50vh;

    .main-title {
      color: white;
      font-weight: 700;
      font-size: 30px;
    }

    .header-img-default {
      margin: 20px 0;
      margin-top: 20px;
    }

    .header-img {
      // margin-top: -25px;
      // margin: 20px 0;
      // margin-bottom: 0;
      width: 400px;
    }

    .top-content-container {
      position: relative;

      .component {
        width: 100%;
        margin: 0;

        .component-content {

          // padding: 0 25px;
          .title {
            color: white;
            margin-bottom: 35px;

            .header-sub {
              font-size: 23px;
            }
          }

          p {
            font-size: 16px;
            margin-top: 0;
            font-weight: 700;
            margin-bottom: 5px;
          }

          .sub-p {
            font-size: 12px;
            color: gray;
            font-weight: 10;
          }

          .header-icon {
            max-width: 18px;
            min-height: 20px;
            margin-bottom: -5px;
            margin-right: 5px;
          }

          .icon {
            max-width: 25px;
            min-height: 20px;
            margin-bottom: -5px;
            margin-right: 5px;
          }

          .icon-medium {
            max-width: 20px;
            min-height: 20px;
            margin-bottom: -5px;
            margin-right: 5px;
          }

          .icon-small {
            max-width: 15px;
            min-height: 20px;
            margin-bottom: -5px;
            margin-right: 5px;
          }

          .sub-container {
            border: lightgray 1px solid;
            background: white;
            border-radius: 5px;
            padding: 5px;
            margin: 2px 0;
            text-align: left;

            .image {
              width: auto;
              max-height: 90px;
              min-height: 90px;
              border-radius: 5px;
              border: 1px lightgray solid;

              img {
                width: 100%;
                height: -webkit-fill-available;
              }

              .red-icon {
                max-width: 25px;
                min-height: 25px;
                max-height: 25px;
                border-radius: 5px;
                background-color: red;
                font-weight: 500;
                margin-right: 5px;
                top: -2px;
                left: 2px;
                position: absolute;

                p {
                  display: flex;
                  justify-content: center;
                  padding: 3px 5px;
                  margin: 0;
                  color: white;
                }
              }
            }

            .sub-header-head {
              padding-bottom: 5px;
              font-size: 14px;
            }
          }


        }
      }
    }

    .component-indicators {
      // margin-top: 35px;

      .indicator-div:first-of-type {
        text-transform: uppercase;
        font-weight: 600;
        color: rgba($color: #000000, $alpha: 0.4)
      }

      .indicator-div {
        border-radius: 5px;
        padding: 10px;
        padding-left: 7px;
        margin-right: 10px;
        // font-size: 20px;

        .battery-icon {
          width: 15px;
        }

        .fuel-icon {
          width: 15px;
          margin-bottom: -5px;
        }

        .mileage-icon {
          width: 20px;
          margin-bottom: -2px;
        }
      }

      .indicator-black {
        background-color: #333333;
        color: #f3f3f3 !important;
      }

      .indicator-primary {
        background-color: #f3f3f3;
      }

      .indicator-success {
        background-color: #00aa58;
        color: white;
      }

      .indicator-danger {
        background-color: #ee3324;
        color: white;
      }

      .indicator-warning {
        background-color: #ebc200;
        color: white;
      }
    }

    .customer-section {
      margin: 10px 0;
      color: white;
      font-size: 16px;

      .title {
        opacity: 0.5;
      }

      .customer-name {
        opacity: 1 !important;
      }

      .customer-icon {
        width: 12px;
        margin-right: 5px;
      }
    }


  }

  .map-content {
    height: 50vh;
    // height: 450px;
    // margin-top: 15px;
    background: #222;

    .toggle-div {
      margin-top: -130px;

      .toggle-container {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #ffffff;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        padding: 15px 30px;
        font-size: 16px;
        align-items: center;

        .toggle-btn {
          margin-left: 35px;

          .toggle-md {
            width: 50px;
            padding: 12px 0;
            padding-top: 3px;

            .toggle-inner {
              margin-top: 5px;
              width: 17px;
              height: 17px;
            }

            .toggle-icon {
              height: 21px;
              width: 40px;
            }
          }

          .toggle-ios {
            // width:50px !important;
            padding: 0;
          }

          .toggle-md.toggle-checked .toggle-inner {
            transform: translate3d(22px, 0, 0);
            background-color: white;
          }

          .toggle-md.toggle-checked .toggle-icon {
            background-color: #005cb9;
          }

          .toggle-ios.toggle-checked .toggle-inner {
            transform: translate3d(22px, 0, 0);
            background-color: white;
          }

          .toggle-ios.toggle-checked .toggle-icon {
            background-color: #005cb9;
          }

        }


      }
    }
  }

  .review-section {
    color: #000;
    background-color: #fff;
    font-weight: 450;
    margin-top: 0px;
    min-height: 47vh;
    // height: 100vh;

    .component {
      width: 100%;
      padding-top: 20px;
      margin: 0;
      padding-left: 10px;

      .component-content {
        // padding: 0 25px;

        .title {
          // margin: 10px 0;
          padding-right: 20px;
          padding-bottom: 10px;

          .header {
            font-size: 29px;
            font-weight: 500 !important;
          }

          .header-sub {
            font-size: 23px;
            font-weight: 500 !important;
          }

          .btn {
            color: #000;
            opacity: 0.5;
            float: right;
            text-transform: uppercase;
            font-size: 16px;
            padding-top: 15px;
          }
        }

        p {
          font-size: 16px;
          margin-top: 0;
          font-weight: 700;
          margin-bottom: 5px;
        }


        .sub-p {
          font-size: 13px;
          color: gray;
          font-weight: 10;
        }

        .header-icon {
          max-width: 15px;
          min-height: 15px;
          margin-bottom: -3px;
          margin-right: 5px;
        }

        .icon {
          max-width: 40px;
          min-height: 25px;
          margin-bottom: -5px;
          margin-right: 5px;
        }

        .icon-medium {
          max-width: 25px;
          min-height: 25px;
          margin-bottom: -5px;
          margin-right: 5px;
        }

        .icon-small {
          max-width: 20px;
          min-height: 15px;
          margin-bottom: -5px;
          margin-right: 5px;
        }

        .icon-extra-small {
          max-width: 14px;
          min-height: 15px;
          margin-bottom: -5px;
          margin-right: 5px;
        }

        .sub-container {
          border: lightgray 1px solid;
          border-radius: 5px;
          padding: 10px;
          margin: 2px 0;

          .image {
            width: 100%;
            max-height: 110px;
            min-height: 110px;
            border-radius: 5px;
            border: 1px lightgray solid;

            img {
              width: 100%;
              height: -webkit-fill-available;
            }

            .red-icon {
              max-width: 25px;
              min-height: 25px;
              max-height: 25px;
              border-radius: 5px;
              background-color: red;
              font-weight: 500;
              margin-right: 5px;
              top: -5px;
              left: -5px;
              position: absolute;

              p {
                display: flex;
                justify-content: center;
                padding: 3px 5px;
                margin: 0;
                color: white;
              }
            }
          }

          .sub-header-head {
            padding-bottom: 10px;
            font-size: 16px;
          }
        }


      }

      .submit-btn {
        padding-top: 26px;
        padding-bottom: 100px;

        button {
          color: #fff;
          border-radius: 100px;
          background: #fe9900;
          height: 50px;
        }

        img {
          width: 8px;
          margin: 0 5px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }

  
  .zoom-btn-container{
    bottom: 40px !important;
  }


  .submit-btn {
    // padding-bottom: 60px;

    button {
      color: #fff;
      border-radius: 100px;
      background: #fe9900;
      height: 50px;
    }

    p {
      font-size: 15px;
    }
  }

  @media (max-width: 576px) {
    .component-content {
      .title {
        padding-right: 20px;
        padding-bottom: 10px;

        .header {
          font-size: 20px !important;
        }
        .header-sub{
          font-size: 18px !important; 
        }
      }
    }

    .map-content{
      // height: 50vh;
      // height: 400px !important;
      
      .toggle-div {
        margin-right: 5px;
        margin-top: -105px;
      }
    }

    .top-content {
      // height: 62vh;
      .component-indicators {
        .indicator-div {
          border-radius: 5px;
          padding: 4px;
          padding-left: 5px;
          margin-right: 7px;
          text-transform: uppercase;
          font-size: 11px !important;

          img {
            height: 12px !important;
            width: auto !important;
          }

          .fuel-icon {
            margin-bottom: -3px;
          }
        }

      }

      .main-title {
        font-size: 24px;
        font-weight: normal;

        small {
          font-weight: 400;
          font-size: 14px;
        }
      }

      .header-img-default {
        margin: 10px 0;
      }
      .header-img-default, .header-img{
        width: 200px;
      }
    }

    .zoom-btn-container{
      bottom: 15px !important;
    }

    .component-content .title .btn {
      padding-top: 5px !important;
    }

  }

  @media (max-width: 360px) {
    .component-content .title .header{
      font-size: 16px !important;
    }
  }

  

}
