page-vehicle-list {

  .page-content {
    color: #000;
    background-color: #fff;
    margin-top: 20px;

  }


  .search-align {
    display: flex;
    align-items: center;

    input.searchbar-input::placeholder {
      font-size: 14px;
    }

    .dropdown {
      background: rgba($color: #fff, $alpha: .25);
      border-radius: 10px;

      .select-md {
        padding: 0 !important;
        padding-right: 9px !important;
      }

      .select-text {
        display: none;
      }

      .text {
        color: #ffffff;
        letter-spacing: -0.75px;
        font-size: 14px;
      }

      .select-icon-inner {
        background: url('../assets/icon/qodelogix-dropdown-arrow-white.svg') no-repeat;
        width: 15px !important;
        background-size: contain;
        height: 15px !important;
        border: none !important;
        left: 0px;
      }

      .item-inner {
        border-bottom: none !important;
      }

    }
  }





  .dashboard-icon {
    width: 80px;
    // height: 85px;
    // margin-left: 30px;
    float: right;
  }

  .dashboard-arrow-icon {
    width: 25px;
    // margin-left: 50px;
    float: right;
    margin-top: 15px;
  }



  .highlight {
    border-radius: 17px;
    background-color: #000000;
    padding: 2px 5px;
    margin: 0 5px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .margin-0 {
    margin: 0;
  }

  @media (max-width: 576px) {
    
  }
}
