page-login {

  /* landscape */
  @media screen and (orientation: landscape) {



   /*  .logo {
      display: flex;
      justify-content: center;
      margin: -50px 0;
      padding-top: 50px;
    } */
  }

  ion-content {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    width: 100% !important;
    height: 100vh !important;
  }

  .login-page-content {
    /* padding-top: 150px !important; */
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute;

    .form {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .login-page {
    background: #0066cc;
  }

  /*   .login-page-content {
    padding-top: 200px;
  }
 */
  .login-form {
    padding-top: 25px;
  }

  input {
    margin: 10px 0;
    width: 100%;
    height: 40px !important;
    border-radius: 10px;
    border: none;
    margin: -3px 1px;
    background-color: rgba(0, 0, 0, 0.225);
    padding: 0 20px;
  }

  .form-field {
    border: 2px solid #0066db;
    border-radius: 10px;
    margin: 15px 0;
  }

  ::placeholder,
  input,
  .help-text {
    opacity: 0.8;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: -0.6px;
  }

  .help-text {
    text-align: right;
    padding-bottom: 0px;
    padding-right: 0;
    opacity: 1;
    font-size: 16px !important;
  }

  .help-text a,
  .help-text a:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
  }

  .button-inner{
    font-weight: 400 !important;
  }
}
