<ion-content class="login-page" overflow-scroll="false">
  <div class="login-page-content">
    <ion-grid  class="form">
      <ion-row>
        <ion-col offset-1 col-10 offset-sm-2 col-sm-8>

          <ion-grid>
            <ion-row>
              <ion-col col-10 offset-1>
                <div center class="logo">
                  <img src="assets/imgs/qodelogix-logo-old.png" />
                </div>
              </ion-col>

              <ion-col col-12>
                <div class="login-form">

                    <div class="form-field">
                      <input type="email" placeholder="Email" autocorrect="off" autocapitalize="none" [(ngModel)]="user.email">
                    </div>

                    <div class="form-field">
                      <input type="password" placeholder="Password" autocorrect="off" autocapitalize="none" [(ngModel)]="user.password">
                    </div>

                    <div class="help-text">
                      <p (click)="forgotPassword()"> Forgot Password?</p>
                    </div>

                    <div class="form-button">
                        <button ion-button block large (click)="login()">Log in &nbsp;
                          <img src="assets/imgs/rounded-rectangle.png">
                        </button>
                    </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>
      </ion-row>
    </ion-grid>



  </div>
</ion-content>
