header-vehicle-detail-new {
    .component {
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        // border-bottom: 1px solid #f3f3f3;
        margin-top: 10px;

        .component-title-new{
        color: #000000;
        font-size: 20px;
        // font-weight: 700;
        margin-top: 0;
        }

        .vinModel{
            font-size: 22px;
        }

        .component-arrow {
        width: 18px;
        padding-top: 20px;
        }

        .component-content {
        
            .component-indicators {
                margin-top: 5px;
    
                .indicator-div-new {
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 5px;
                    padding-left: 7px;
                    margin-right: 10px;

                    .lot-icon {
                        width: 28px;
                    }
    
                }

                .indicator-light-gray {
                    // background-color: #999999;
                    // color: #f3f3f3;
                    // position: absolute;
                    padding: 0;
                    left: 5px;
                }

                .indicator-primary {
                    background-color: #f3f3f3;
                }

    
                .indicator-black {
                    background-color: #333333;
                    color: #f3f3f3;
                    // margin-left: 35px;
                }
    
                .indicator-primary {
                    background-color: #f3f3f3;
                }
    
                .indicator-success {
                    background-color: #00aa58;
                    color: white;
                }
    
                .indicator-danger {
                    background-color: #ee3324;
                    color: white;
                }
    
                .indicator-warning {
                    background-color: #ebc200;
                    color: white;
                }
            }
            
        }

        .info{
            font-size: 16px; 

            .fuel-icon{
                width: 17px;
                height: 15px;
            }
            .mileage-icon {
              height: 15px;
              width: 20px;
              margin-right: 2px;
              margin-left: 15px;
          }

            .fuel-info:first-of-type{
                padding-right: 15px;
            }
        }
    }

    @media (max-width: 576px) {
  
        .component {
            padding: 8px 0;
            margin-top: 0 !important;

            .vinModel {
                font-size: 18px !important;
            }
      
            .component-content {
              font-size: 14px !important;
            //   padding: 0px 0px 0px 10px !important;

                .title {
                    padding-right: 20px;
                    padding-bottom: 10px;
            
                    .header {
                    font-size: 18px !important;
                    }
                    .header-sub{
                    font-size: 16px !important; 
                    }
                    .btn {
                        padding-top: 5px !important;
                      }
                }
            }
      
            .component-title-new {
              font-size: 17px !important;
              font-weight: normal !important;
              margin-top: 5px !important;
            }
      
            .component-indicators {
              margin-top: 5px;
            }

            .indicator-div-new {
              font-size: 16px !important;
            }
        }

    }
}
