<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Damage Reporting
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
 
  <div>
      <div class = "blue-bg">
          <header-vehicle-detail 
            [vehicle]= vehicle
            [checkin_type] = checkin_type
            [show_spray_name] = 0
          >
          </header-vehicle-detail>
      
          <div class="color-spray container flex" no-padding *ngIf="checkin_type == 1 || checkin_type==2">
            <img class="spray-icon" src="assets/icon/car-paint-icon.svg">
            <div class="color-spray-dropdown" *ngIf="intColorList">
                <ion-item no-padding>
                  <ion-label class="color-name" [style.background]="interiorColor">IN</ion-label>
                  <ion-select [(ngModel)]="interiorColor" interface="{{interface}}" #C (ionChange)="onColorChange(C.value, 0)">
                      <ion-option *ngFor="let color of intColorList" [value]="color.color_code">{{color.color_name}}</ion-option>
                  </ion-select>
                </ion-item>
            </div>
            <div class="color-spray-dropdown padding-left-10" *ngIf="extColorList">
                <ion-item no-padding>
                  <ion-label class="color-name" [style.background]="exteriorColor">EX</ion-label>
                  <ion-select [(ngModel)]="exteriorColor" interface="{{interface}}" #C (ionChange)="onColorChange(C.value, 1)">
                    <ion-option *ngFor="let color of extColorList" [value]="color.color_code">{{color.color_name}}</ion-option>
                  </ion-select>
                </ion-item>
            </div>
          </div>
      
          <vehicle-parts-damage-report
            [vehicle] = vehicle
            [checkin_type] = checkin_type
          >
          </vehicle-parts-damage-report>
      </div>
      <form #form="ngForm" (ngSubmit)="gotoAccessoriesChecklist(form.value)">
        <input type="hidden" name="user_id" value="{{user_id}}" [(ngModel)]="user_id">
        <input type="hidden" name="dealer_id" value="{{dealer_id}}" [(ngModel)]="dealer_id">
        <input type="hidden" name="vin_number" value="{{vehicle.vin_number}}" [(ngModel)]="vehicle.vin_number">
        <input type="hidden" name="asset_id" value="{{vehicle.asset_id}}" [(ngModel)]="vehicle.asset_id">
        <input type="hidden" name="checkin_type" value="{{checkin_type}}" [(ngModel)]="checkin_type">
        <div class="page-content">
            <div class="component">
                <div class="container">
                        <div class="component-title">
                            Warning Lights
                        </div>
                        <div class="component-content">
                          <ion-grid class="padding-side">
                            <ion-row>
                              <ion-col col-md-3 col-6  no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                <ion-grid  class="padding-side">
                                  <ion-row>
                                    <ion-col col-md-4 col-2>
                                      <img class="icon" src="assets/icon/check-in/assurant-drive-warning-lights-check-engine.svg"
                                      >
                                    </ion-col>
                                    <ion-col col-md-8 col-10>
                                      <ion-grid class="no-padding">
                                        <ion-row>
                                          <ion-col class="no-padding">
                                            <p>
                                              Check Engine 
                                            </p>
                                          </ion-col>
                                          <ion-col col-2>
                                              <span class="green-indicator pull-right" *ngIf="damageReport.check_engine == 1"></span>
                                              <span class="red-indicator pull-right" *ngIf="damageReport.check_engine == 0"></span>
                                          </ion-col>
                                        </ion-row>
                                      </ion-grid>
                                    </ion-col>
                                    <ion-col col-12>
                                        <div class="dropdown">
                                          <ion-select interface="{{interface}}" [(ngModel)]="damageReport.check_engine" name="check_engine">
                                            <ion-option value="-1" disabled>Select Status</ion-option>
                                            <ion-option value="1">Pass</ion-option>
                                            <ion-option value="0">Fail</ion-option>
                                          </ion-select>
                                        </div>
                                        <!-- <input type="text"placeholder="Notes" [ngModel]="damageReport.check_engine_note | removeNull" name="check_engine_note"> -->
                                        <textarea maxlength="100" rows="4" type="text" placeholder="Notes" [ngModel]="damageReport.check_engine_note | removeNull" name="check_engine_note"></textarea>
                                      </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col col-md-3 col-6   no-padding  class="padding-side" [ngClass]="{'padding-right-20' : isTabletOrIpad}">
                                <ion-grid  class="padding-side">
                                  <ion-row>
                                    <ion-col  col-md-4 col-2>
                                      <img class="icon" src="assets/icon/check-in/assurant-drive-warning-lights-tire-pressure.svg"
                                      >
                                    </ion-col>
                                    <ion-col col-md-8 col-10>
                                      <ion-grid class="no-padding">
                                          <ion-row>
                                            <ion-col class="no-padding">
                                              <p>
                                                Tire Pressure  
                                              </p>
                                            </ion-col>
                                            <ion-col col-2>
                                                <span class="green-indicator pull-right" *ngIf="damageReport.tire_pressure == 1"></span>
                                                <span class="red-indicator pull-right" *ngIf="damageReport.tire_pressure == 0"></span>
                                            </ion-col>
                                          </ion-row>
                                        </ion-grid>
                                    </ion-col>
                                    <ion-col col-12>
                                      <div class="dropdown">
                                        <ion-select interface="{{interface}}" [(ngModel)]="damageReport.tire_pressure" name="tire_pressure">
                                          <ion-option value="-1" disabled>Select Status</ion-option>
                                          <ion-option value="1">Pass</ion-option>
                                          <ion-option value="0">Fail</ion-option>
                                        </ion-select>
                                      </div>
                                      <!-- <input  id="test" type="text"placeholder="Notes" [ngModel]="damageReport.tire_pressure_note | removeNull" name="tire_pressure_note"> -->
                                      <textarea maxlength="100" rows="4" type="text" placeholder="Notes" [ngModel]="damageReport.tire_pressure_note | removeNull" name="tire_pressure_note"></textarea>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col col-md-3 col-6  no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                  <ion-grid  class="padding-side">
                                    <ion-row>
                                      <ion-col  col-md-4 col-2>
                                        <img class="icon"src="assets/icon/check-in/assurant-drive-warning-lights-airbag.svg"
                                        >
                                      </ion-col>
                                      <ion-col col-md-8 col-10>
                                        <ion-grid class="no-padding">
                                          <ion-row>
                                            <ion-col class="no-padding">
                                              <p>
                                                Airbag 
                                              </p>
                                            </ion-col>
                                            <ion-col col-2>
                                                <span class="green-indicator pull-right" *ngIf="damageReport.airbag == 1"></span>
                                                <span class="red-indicator pull-right" *ngIf="damageReport.airbag == 0"></span>
                                            </ion-col>
                                          </ion-row>
                                        </ion-grid>
                                      </ion-col>
                                      <ion-col col-12>
                                        <div class="dropdown">
                                          <ion-select interface="{{interface}}" [(ngModel)]="damageReport.airbag" name="airbag">
                                            <ion-option value="-1" disabled>Select Status</ion-option>
                                            <ion-option value="1">Pass</ion-option>
                                            <ion-option value="0">Fail</ion-option>
                                          </ion-select>
                                        </div>
                                          <!-- <input type="text"placeholder="Notes" [ngModel]="damageReport.airbag_note | removeNull" name="airbag_note"> -->
                                          <textarea maxlength="100" rows="4" type="text" placeholder="Notes" [ngModel]="damageReport.airbag_note | removeNull" name="airbag_note"></textarea>
                                        </ion-col>
                                    </ion-row>
                                  </ion-grid>
                              </ion-col>
                              <ion-col col-md-3 col-6 no-padding class="padding-side" [ngClass]="{'padding-right-20' : isTabletOrIpad}">
                                  <ion-grid class="padding-side">
                                    <ion-row>
                                      <ion-col  col-md-4 col-2>
                                        <img class="icon" src="assets/icon/check-in/assurant-drive-warning-lights-dsc.svg"
                                          >
                                      </ion-col>
                                      <ion-col col-md-8 col-10>
                                        <ion-grid class="no-padding">
                                          <ion-row>
                                            <ion-col class="no-padding">
                                              <p>
                                                DSC 
                                              </p>
                                            </ion-col>
                                            <ion-col col-2>
                                                <span class="green-indicator pull-right" *ngIf="damageReport.dsc == 1"></span>
                                                <span class="red-indicator pull-right" *ngIf="damageReport.dsc == 0"></span>
                                            </ion-col>
                                          </ion-row>
                                        </ion-grid>
                                      </ion-col>
                                      <ion-col col-12>
                                        <div class="dropdown">
                                          <ion-select interface="{{interface}}" [(ngModel)]="damageReport.dsc" name="dsc">
                                            <ion-option value="-1" disabled>Select Status</ion-option>
                                            <ion-option value="1">Pass</ion-option>
                                            <ion-option value="0">Fail</ion-option>
                                          </ion-select>
                                        </div>
                                          <!-- <input type="text"placeholder="Notes" [ngModel]="damageReport.dsc_note | removeNull" name="dsc_note"> -->
                                          <textarea maxlength="100" rows="4" type="text" placeholder="Notes" [ngModel]="damageReport.dsc_note | removeNull" name="dsc_note"></textarea>
                                        </ion-col>
                                    </ion-row>
                                  </ion-grid>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>
                </div>
            </div>
            <hr class="margin-0">
      
            <div class="component">
                <div class="container">
                        <div class="component-title">
                            Tire Pressure/Tread Depth
                        </div>
                        <div class="component-content">
                          <ion-grid  class="padding-side">
                            <ion-row>
                              <ion-col col-6  no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                <ion-grid  class="padding-side">
                                  <ion-row>
                                    <ion-col col-3 >
                                      <img src="assets/icon/check-in/assurant-drive-tire-left-front.svg"
                                      >
                                    </ion-col>
                                    <ion-col col-9>
                                      <p>
                                        Left Front
                                        <!-- <span class="null-indicator pull-right" *ngIf="damageReport.left_front == -1"></span> -->
                                        <span class="green-indicator pull-right" *ngIf="damageReport.left_front == 1"></span>
                                        <span class="yellow-indicator pull-right" *ngIf="damageReport.left_front == 2"></span>
                                        <span class="red-indicator pull-right" *ngIf="damageReport.left_front == 0"></span>
                                      </p>
                                    </ion-col>
                                    <ion-col col-12>
                                      <div class="right-placeholder">
                                        <div class="dropdown">
                                          <ion-select interface="{{interface}}" [(ngModel)]="damageReport.left_front" name="left_front">
                                            <ion-option value="-1" disabled>Select Status</ion-option>
                                            <ion-option value="1">Pass</ion-option>
                                            <ion-option value="2">Warning</ion-option>
                                            <ion-option value="0">Fail</ion-option>
                                          </ion-select>
                                        </div>
                                        <ion-grid class="no-padding">
                                          <ion-row inset>
                                            <ion-col col-md-6 col-12 padding class="no-padding-left flex flex"  [ngClass]="{'padding-right-10' : isTabletOrIpad}">
                                              <input type="number" ng-pattern="\d*\.?\d*" maxlength="5" (keypress)="checkInput($event)" [(ngModel)]="damageReport.left_front_tire_pressure" name="left_front_tire_pressure">
                                              <span class="label-text">PSI"</span>
                                            </ion-col>
                                            <ion-col col-md-6 col-12  padding class="no-padding-right  flex" [ngClass]="[isTabletOrIpad ?'padding-left-10' : 'no-padding-left']">
                                              <input ng-pattern="\d*\.?\d*" type="number"  (keypress)="checkInput($event)"  maxlength="5" [(ngModel)]="damageReport.left_front_tire_thread" name="left_front_tire_thread">
                                              <span class="label-text">/32"</span>
                                              </ion-col>
                                          </ion-row>
                                        </ion-grid>
                                      </div>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col col-6 no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                <ion-grid class="padding-side">
                                  <ion-row>
                                    <ion-col col-3>
                                      <img src="assets/icon/check-in/assurant-drive-tire-right-front.svg"
                                      >
                                    </ion-col>
                                    <ion-col col-9>
                                      <p> 
                                        Right Front
                                        <!-- <span class="null-indicator pull-right" *ngIf="damageReport.right_front == -1"></span> -->
                                        <span class="green-indicator pull-right" *ngIf="damageReport.right_front == 1"></span>
                                        <span class="yellow-indicator pull-right" *ngIf="damageReport.right_front == 2"></span>
                                        <span class="red-indicator pull-right" *ngIf="damageReport.right_front == 0"></span>
                                      </p>
                                    </ion-col>
                                    <ion-col col-12>
                                        <div class="right-placeholder">
                                          <div class="dropdown">
                                              <ion-select interface="{{interface}}" [(ngModel)]="damageReport.right_front" name="right_front">
                                                <ion-option value="-1" disabled>Select Status</ion-option>
                                                <ion-option value="1">Pass</ion-option>
                                                <ion-option value="2">Warning</ion-option>
                                                <ion-option value="0">Fail</ion-option>
                                              </ion-select>
                                            </div>
                                          <ion-grid class="no-padding">
                                            <ion-row>
                                              <ion-col col-md-6 col-12 padding class="no-padding-left padding-right-10 flex">
                                                <input  type="number"  ng-pattern="\d*\.?\d*" maxlength="5" (keypress)="checkInput($event)"  [(ngModel)]="damageReport.right_front_tire_pressure" name="right_front_tire_pressure">
                                                <span class="label-text">PSI"</span>
                                              </ion-col>
                                              <ion-col col-md-6 col-12 padding class="no-padding-right  flex" [ngClass]="[isTabletOrIpad ?'padding-left-10' : 'no-padding-left']">
                                                <input  type="number"  ng-pattern="\d*\.?\d*" maxlength="5" (keypress)="checkInput($event)"  [(ngModel)]="damageReport.right_front_tire_thread" name="right_front_tire_thread">
                                                <span class="label-text">/32"</span>
                                              </ion-col>
                                            </ion-row>
                                          </ion-grid>
                                        </div>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col col-6  no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                  <ion-grid class="padding-side">
                                    <ion-row>
                                      <ion-col col-3>
                                        <img src="assets/icon/check-in/assurant-drive-tire-left-rear.svg"
                                        >
                                      </ion-col>
                                      <ion-col col-9>
                                        <p>
                                          Left Rear
                                        <!-- <span class="null-indicator pull-right" *ngIf="damageReport.left_rear == -1"></span> -->
                                        <span class="green-indicator pull-right" *ngIf="damageReport.left_rear == 1"></span>
                                        <span class="yellow-indicator pull-right" *ngIf="damageReport.left_rear == 2"></span>
                                        <span class="red-indicator pull-right" *ngIf="damageReport.left_rear == 0"></span>
                                      </p>
                                      </ion-col>
                                      <ion-col col-12>
                                          <div class="right-placeholder">
                                            <div class="dropdown">
                                              <ion-select interface="{{interface}}" [(ngModel)]="damageReport.left_rear" name="left_rear">
                                                <ion-option value="-1" disabled>Select Status</ion-option>
                                                <ion-option value="1">Pass</ion-option>
                                                <ion-option value="2">Warning</ion-option>
                                                <ion-option value="0">Fail</ion-option>
                                              </ion-select>
                                            </div>
                                            <ion-grid class="no-padding">
                                              <ion-row>
                                                <ion-col col-md-6 col-12 padding class="no-padding-left flex" [ngClass]="{'padding-right-10' : isTabletOrIpad}">
                                                  <input  type="number" ng-pattern="\d*\.?\d*" maxlength="5" (keypress)="checkInput($event)"  [(ngModel)]="damageReport.left_rear_tire_pressure" name="left_rear_tire_pressure">
                                                  <span class="label-text">PSI"</span>
                                                </ion-col>
                                                <ion-col col-md-6 col-12 padding class="no-padding-right  flex" [ngClass]="[isTabletOrIpad ?'padding-left-10' : 'no-padding-left']">
                                                  <input  type="number" ng-pattern="\d*\.?\d*" maxlength="5" (keypress)="checkInput($event)"  [(ngModel)]="damageReport.left_rear_tire_thread" name="left_rear_tire_thread">
                                                  <span class="label-text">/32"</span>
                                                </ion-col>
                                              </ion-row>
                                            </ion-grid>
                                          </div>
                                      </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col col-6 no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                  <ion-grid class="padding-side">
                                    <ion-row>
                                      <ion-col col-3>
                                        <img src="assets/icon/check-in/assurant-drive-tire-right-rear.svg">
                                      </ion-col>
                                      <ion-col col-9>
                                        <p>
                                          Right Rear
                                          <!-- <span class="null-indicator pull-right" *ngIf="damageReport.right_rear == -1"></span> -->
                                          <span class="green-indicator pull-right" *ngIf="damageReport.right_rear == 1"></span>
                                          <span class="yellow-indicator pull-right" *ngIf="damageReport.right_rear == 2"></span>
                                          <span class="red-indicator pull-right" *ngIf="damageReport.right_rear == 0"></span>
                                      </p>
                                      </ion-col>
                                      <ion-col col-12>
                                          <div class="right-placeholder">
                                            <div class="dropdown">
                                              <ion-select interface="{{interface}}" [(ngModel)]="damageReport.right_rear" name="right_rear">
                                                <ion-option value="-1" disabled>Select Status</ion-option>
                                                <ion-option value="1">Pass</ion-option>
                                                <ion-option value="2">Warning</ion-option>
                                                <ion-option value="0">Fail</ion-option>
                                              </ion-select>
                                            </div>
                                            <ion-grid class="no-padding">
                                              <ion-row>
                                                <ion-col col-md-6 col-12 padding class="no-padding-left flex" [ngClass]="{'padding-right-10' : isTabletOrIpad}">
                                                  <input  type="number"  ng-pattern="\d*\.?\d*" maxlength="5" (keypress)="checkInput($event)"  [(ngModel)]="damageReport.right_rear_tire_pressure" name="right_rear_tire_pressure">
                                                  <span class="label-text">PSI"</span>
                                                </ion-col>
                                                <ion-col col-md-6 col-12 padding class="no-padding-right  flex" [ngClass]="[isTabletOrIpad ?'padding-left-10' : 'no-padding-left']">
                                                  <input type="number" ng-pattern="\d*\.?\d*" maxlength="5" (keypress)="checkInput($event)"  [(ngModel)]="damageReport.right_rear_tire_thread" name="right_rear_tire_thread">
                                                  <span class="label-text">/32"</span>
                                                </ion-col>
                                              </ion-row>
                                            </ion-grid>
                                           </div>
                                      </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>
                </div>
            </div>
            <hr class="margin-0">
      
            <div class="component">
                <div class="container">
                        <div class="component-title">
                          Exterior/Interior
                        </div>
                        <div class="component-content">
                          <ion-grid  class="padding-side">
                              <ion-row>
                                <ion-col col-md-3 col-6  no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                  <ion-grid  class="padding-side">
                                    <ion-row>
                                      <ion-col col-12>
                                        <p class="margin-bottom">
                                          Exterior Body  
                                          <span class="green-indicator pull-right" *ngIf="damageReport.ext_body == 1"></span>
                                          <span class="red-indicator pull-right" *ngIf="damageReport.ext_body == 0"></span>
                                        </p>
                                        <div class="dropdown">
                                          <ion-select interface="{{interface}}" [(ngModel)]="damageReport.ext_body" name="ext_body">
                                            <ion-option value="-1" disabled>Select Status</ion-option>
                                            <ion-option value="1">Pass</ion-option>
                                            <ion-option value="0">Fail</ion-option>
                                          </ion-select>
                                        </div>
                                        <textarea maxlength="100" rows="4" type="text"placeholder="Notes" [ngModel]="damageReport.ext_body_note | removeNull" name="ext_body_note"></textarea>
                                      </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col col-md-3 col-6   no-padding  class="padding-side" [ngClass]="{'padding-right-20' : isTabletOrIpad}">
                                <ion-grid class="padding-side">
                                  <ion-row>
                                    <ion-col col-12>
                                        <p class="margin-bottom">
                                          Windshield 
                                          <span class="green-indicator pull-right" *ngIf="damageReport.windshield == 1"></span>
                                          <span class="red-indicator pull-right" *ngIf="damageReport.windshield == 0"></span>
                                        </p>
                                        <div class="dropdown">
                                          <ion-select interface="{{interface}}" [(ngModel)]="damageReport.windshield" name="windshield">
                                            <ion-option value="-1" disabled>Select Status</ion-option>
                                            <ion-option value="1">Pass</ion-option>
                                            <ion-option value="0">Fail</ion-option>
                                          </ion-select>
                                        </div>
                                      <textarea maxlength="100" rows="4" type="text"placeholder="Notes" [ngModel]="damageReport.windshield_note | removeNull" name="windshield_note"></textarea>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col col-md-3 col-6  no-padding class="padding-side"  [ngClass]="[isTabletOrIpad ?'padding-right-20' : 'padding-right-10']">
                                  <ion-grid class="padding-side">
                                    <ion-row>
                                      <ion-col col-12>
                                          <p class="margin-bottom">
                                            Wipers 
                                            <span class="green-indicator pull-right" *ngIf="damageReport.wiper == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.wiper == 0"></span>
                                          </p>
                                          <div class="dropdown">
                                            <ion-select interface="{{interface}}" [(ngModel)]="damageReport.wiper" name="wiper">
                                              <ion-option value="-1" disabled>Select Status</ion-option>
                                              <ion-option value="1">Pass</ion-option>
                                              <ion-option value="0">Fail</ion-option>
                                            </ion-select>
                                          </div>
                                          <textarea maxlength="100" rows="4" type="text"placeholder="Notes" [ngModel]="damageReport.wiper_note | removeNull" name="wiper_note"></textarea>
                                        </ion-col>
                                    </ion-row>
                                  </ion-grid>
                              </ion-col>
                              <ion-col col-md-3 col-6   no-padding  class="padding-side" [ngClass]="{'padding-right-20' : isTabletOrIpad}">
                                  <ion-grid class="padding-side">
                                    <ion-row>
                                      <ion-col col-12>
                                          <p class="margin-bottom">
                                            Lights 
                                            <span class="green-indicator pull-right" *ngIf="damageReport.light == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.light == 0"></span>
                                          </p>
                                          <div class="dropdown">
                                            <ion-select interface="{{interface}}" [(ngModel)]="damageReport.light" name="light">
                                              <ion-option value="-1" disabled>Select Status</ion-option>
                                              <ion-option value="1">Pass</ion-option>
                                              <ion-option value="0">Fail</ion-option>
                                            </ion-select>
                                          </div>
                                          <textarea maxlength="100" rows="4" type="text"placeholder="Notes" [ngModel]="damageReport.light_note | removeNull" name="light_note"></textarea>
                                        </ion-col>
                                    </ion-row>
                                  </ion-grid>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>
                </div>
            </div> 
      
            <div class="component">
              <div class="container">
                <div class="submit-btn">
                  <button type="submit" ion-button block large [disabled]="!validaDamageReport">
                      <p>
                        Accessories Checklist
                      </p>
                      &nbsp;
                      <img src="assets/imgs/rounded-rectangle.png"> 
                  </button>
                </div>
              </div>
            </div>
        </div>
      </form>
  </div>


</ion-content>
