page-damage-reporting {
  .hide {
    display: none;
  }

  .block {
    display: block;
  }

  .radio-icon {
    height: 15px !important;
    width: 15px !important;
  }

  .radio-ios .radio-checked .radio-inner {
    border-width: 0px;
    height: 14px;
    left: 0px !important;
    top: 0px !important;
  }

  .color-spray{
    margin: -10px 10px;

    .spray-icon {
        margin-right: 10px;
        width: 8px;
    }

    .color-spray-dropdown {
      font-weight: 400;
      font-size: 16px;
      color: white;
      display: flex;
      align-items: center;

      .label-md{
        margin-right: 5px !important;
      }
      .color-name{
        color: white;
        background-color: #999;
        padding: 5px;
        border-radius: 5px;
      }

      ion-item{
        color: #fff !important;
        background-color: transparent !important;
        text-transform: capitalize;

        .item-inner{
          padding: 0 !important;
          border: none !important;

        }
      }
  
      ion-select {
        max-width: 100%;
      }
  
      .select-md {
        padding-left: 0 !important;
        
        .select-icon{
          width: 15px !important;
        }
      }
  
      .select-icon-inner {
        background: url('../assets/icon/qodelogix-dropdown-arrow-white.svg') no-repeat;
        width: 13px !important;
        background-size: contain;
        height: 15px !important;
        border: none !important;
        left: 5px;
      }
    }
  }

  .view-options {
    display: flex;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;

    .option {
      width: 20%;
      text-align: center;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      margin: 0px 5px;
      font-size: 12px;

      p {
        margin: 10px;
      }
    }

    .selected {
      box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32);
      border-radius: 5px;
      background-color: #ffffff !important;
      background-image: linear-gradient(-243deg, rgba(231, 251, 255, 0.25) 0%, rgba(114, 233, 255, 0.25) 100%);
      color: #000;
    }
  }

  span.label-text {
    color: #999;
    margin-left: 5px;
  }




  .page-content {
    color: #000;
    background-color: #fff;
    font-weight: 450;

    .component {
      width: 100%;
      padding-top: 15px;
      margin: 0;
      padding-left: 20px;

      .component-title {
        color: #000000;
        font-size: 25px;
        margin-top: 0;
      }

      .component-content {

        // padding: 0 25px;
        p {
          font-size: 16px;
          margin: 0;
          font-weight: 700;
        }

        .margin-bottom {
          margin-bottom: 13px;
        }

        input,
        textarea {
          width: 100%;
          // border-bottom: none;
          border-radius: 5px;
          padding: 5px 10px;
          font-size: 16px;
          margin-bottom: 10px;
          border-style: groove;
          opacity: 0.7;
        }

        .dropdown {
          background: #f3f3f3;
          border-radius: 5px;
          border: 1px solid #cccccc;
          margin-bottom: 10px;
          font-weight: 500;
          // height: 40px;
          padding-top: 4px;

          ion-select {
            max-width: 100%;
          }

          .select-md {
            padding: 3px 10px !important;
          }

          .select-icon-inner {
            background: url(../assets/icon/assurant-drive-right-arrow-list.svg) no-repeat !important;
            transform: rotate(90deg);
            width: 15px !important;
            background-size: contain;
            height: 15px !important;
            border: none !important;
            left: 0px;
          }
        }

        .icon {
          max-width: 40px;
          min-height: 43px;
          margin-bottom: -5px;
        }

        .right-placeholder input::placeholder {
          text-align: right;
        }

        .right-placeholder input {
          margin: -5px 0;
          // height: 40px;
        }

        .toggle-btn {
          height: 25px;
        }

        .toggle-md {
          width: 50px;
          height: 22px;
          padding: 0px 0;
          margin-top: -10px;

          .toggle-inner {
            margin-top: 5px;
            width: 17px;
            height: 17px;
          }

          .toggle-icon {
            height: 21px;
            width: 40px;
          }
        }

        .toggle-ios {
          // width:50px !important;
          padding: 12px 0;
        }

        .toggle-md.toggle-checked .toggle-inner {
          transform: translate3d(22px, 0, 0);
          background-color: white;
        }

        .toggle-md.toggle-checked .toggle-icon {
          background-color: #41a7da;
        }

        .toggle-ios.toggle-checked .toggle-inner {
          transform: translate3d(22px, 0, 0);
          background-color: white;
        }

        .toggle-ios.toggle-checked .toggle-icon {
          background-color: #41a7da;
        }
      }


    }
  }

  @media (max-width: 576px) {
    .component-title {
      font-size: 20px !important;
      font-weight: 400;
    }

    .page-content .component {
    
      padding-top: 10px;
      padding-left: 5px;
    }
    .component-content p{
        font-size:15px !important;
    }
    ion-select.select-ios {
        padding: 5px 8px 8px 16px !important;
    }
    .component ion-grid{
        padding: 0px !important;
        ion-col{
            padding-bottom:0px; 
        }

        .padding-left-10 {
          padding-left: 0 !important;
      }
        
    }
    .component-content img.icon{
        max-width: 16px !important;
    }
  }
}
