page-assign-loaner-vehicle-step-5-agreement {
    // @media (min-width: 577px) {
    //     .scroll-content {
    //         overflow-y: hidden !important;
    //     }
    // }

    .page-content{
        color: #000;
        background-color: #fff;
        font-weight: 450;
        margin-top: 0px;
        min-height: 78%;

        .component{
            width: 100%;
            padding-top: 20px;
            margin: 0;
            padding-left: 10px;

            .price-rates {
                background: #f3f3f3;
                border-radius: 10px;
                padding: 10px;
                margin-top: 10px;

                .title {
                    opacity: 0.5;
                    font-size: 16px;
                }
                .rate {
                    margin: 0;
                    font-size: 25px;
                    font-weight: 400;
                }

            }

            .component-content{
                .title{
                    margin-bottom: 20px;
                    padding-right: 20px; 

                    .header{
                        font-size:29px;
                        font-weight: 500 !important;
                    }
                }  
            }   

            .section{
                .agreement-text-area {
                    color: gray;
                    font-weight: 400;
                    max-height: 500px;
                    overflow-y: auto;
                }
                
                .tos-area {
                    margin: 20px 0;

                    .tos{
                        padding-left: 10px;
                    }
                }

                .signature-area{
                    .title {
                        opacity: 0.5;
                        font-size: 16px;
                    }
                    canvas {
                        display: block;
                        border: 1px solid #cccccc;
                        width: 100%;
                        border-radius: 10px;
                        margin-top: 10px;
                    }
                    .clear-btn {
                        background: whitesmoke;
                        padding: 8px;
                        border-radius: 5px;
                        color: red;
                    }
                }
            }

            .submit-btn {
                padding-bottom: 50px;
            }
            
            
        }
    }
}
