<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Assign Loaner Vehicle 
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce>
  
    <div class="page-content">

        <div class="blue-bg">

        
                <header-vehicle-detail 
                [vehicle]= vehicle
                [checkin_type] = checkin_type
              >
              </header-vehicle-detail>
        </div>
      <div class="container">

        <div class="component">
            <div class="price-rates">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <span class="title">Daily Rate</span>
                            <p class="rate">${{vehicle.daily_rate}}</p>
                        </ion-col>
                        <ion-col col-6>
                            <span class="title">Fuel Rate (Per Gallon)</span>
                            <p class="rate">${{vehicle.fuel_rate_per_gallon}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
  
          <div class="component">
              <div class="component-content">
                <div class="title">
                      <span class="header">
                          Loaner Vehicle Agreement
                      </span>
                </div>
                <div class="section">
                  <div class="agreement-text-area" [innerHTML]="agreement">
                  </div>
                  <div class="tos-area">
                      <input type="checkbox" [(ngModel)]="accept_tos"> 
                      <span class="tos">I agree to these terms of services</span>
                  </div>
                  <div class="signature-area">
                      <span class="title">Please Sign Below</span>
                      <canvas #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
                      <p class="pull-right clear-btn" (click)="clearCanvas()"> CLEAR </p>
                  </div>
                </div>
              </div>
            </div>

        <div class="component">
          <div class="submit-btn">
            <button ion-button block large [disabled]= "!accept_tos || !signed" (click)="assignVehicle()">
                <p>
                  Submit Agreement
                </p>
                &nbsp;
                <img src="assets/imgs/rounded-rectangle.png"> 
            </button>
          </div>
        </div>
  
      </div>
    </div>
    
  
  </ion-content>
  