page-service-vehicle {

    //large screen
    @media screen and (min-width: 900px) {
        .barcode{
            padding: 25% 0 !important;
        }
    }

    @media screen and (orientation:landscape) {
        .barcode{
            padding: 30% 0 !important;
        }
    }
    
    .page-content{
        color: #000;
        background-color: #fff;
        margin-top: 20px;

    }


    .search-align{
        display: flex;
        align-items: center;

        input.searchbar-input::placeholder {
            font-size: 14px;
        }
        
        .barcode{
            padding: 60% 0;

            img{
                width: 100px;
            }

            p{
                color: #fff;
                font-size: 16px;
            }
        }

        .intro{
            color:white;
            margin: -25px 0;
    
            .intro-img {
                width: 100px;
                margin-top: 40px;                    
                float: right;
            }
            .intro-text{
                font-weight: 300;
                line-height: 25px;
                margin:40px 0;
                width: 90%;
                padding-left: 25px;
            }
        }
        

    }

}
