<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Check-in Vehicle 
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="content" >

    <div class="page-content">

      <div class="blue-bg">
        <div class="intro container">
          <ion-grid>
            <div class="success-header" *ngIf="vehicle != 0">
              <ion-row>
                <ion-col col-12>
                    <div class="vehicle-img">
                        <img *ngIf="vehicle.model_image; else elsetag" src="{{baseUrl+vehicle.model_image}}" >
                        <ng-template #elsetag>
                          <img class="header-img-default" src="assets/imgs/car-list.png">
                        </ng-template>
                      <!-- <img src="assets/imgs/car-list.png"> -->
                    </div>
                    <div class="vehicle-detail">
                      <p> {{vehicle.vin_number}}</p>
                      <div class="component-indicators" style="display: block"> 
                        <span class="indicator-div indicator-primary">
                          {{vehicle.Vehicle_type}}
                        </span>
                      </div> 
                    </div>
                    <p style="font-size:20px; text-align: center;margin-top: 0;">
                        {{vehicle.year}} {{vehicle.make}} {{vehicle.model_trim}}
                    </p>
                    <p class="success_message"> Successfully Checked-In </p>
                </ion-col>
              </ion-row>
            </div>

            <div *ngIf="vehicle == 0 && isTabletOrIpad">
              <ion-row>
                <ion-col offset-md-1 col-md-4 col-5>
                  <img src="assets/icon/check-in page icon.png" class="intro-img">
                </ion-col>
                <ion-col col-md-6 col-7>
                  <p class="intro-text">
                    The vehicle’s VIN number will populate 2 minutes after the ODB-ii device has been plugged in. Select vehicle VIN to begin check in.
                  </p>
                </ion-col>
              </ion-row>
            </div>

          </ion-grid>
        </div>
        
        <ion-grid>
          <ion-row class="search-align container">
            <ion-col col-12 col-md-8>
                <ion-searchbar class="searchbar" (ionInput)="getItems($event)" placeholder="Search"></ion-searchbar>
            </ion-col>
            <ion-col col-12 col-md-4>
              <div class="dropdown">  
                  <ion-select interface="action-sheet" [(ngModel)]="checkin_status" name="checkin_status" (ngModelChange)="OnCheckinStatusChange($event)">
                    <ion-option value="-1">All Check-Ins</ion-option>
                    <ion-option value="0">Check-In Pending</ion-option>
                    <ion-option value="1">Check-In Completed</ion-option>
                  </ion-select>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngFor="let v of filterData; let i=index">
        <div class="component" (click)="displayOption(i, v)">
          <div class="container">
            <ion-grid>
              <ion-row>
                <ion-col col-sm-3 class="car-img" *ngIf="this.isTabletOrIpad">
                    <img *ngIf="v.model_image; else elsetag" class="header-img" src="{{baseUrl+v.model_image}}" >
                     <ng-template #elsetag>
                      <img class="header-img-default" src="assets/imgs/car-list.png">
                    </ng-template>
                  <!-- <img src="assets/imgs/car-list.png"> -->
                </ion-col>
                <ion-col col-sm-8 col-11>
                  <div class="component-content">
                    <div class="component-title">
                      <p class="vinModel margin-0">
                        {{v.year}} {{v.make}} {{v.model_trim}}
                      </p>
                      <div class="vinNumber">{{v.vin_number}}</div> 
                      <!-- <img *ngIf="v.is_checked_in == 1" class="checkin-icon" src="assets/icon/check-in/qodelogix-checkin-completed.svg"> -->
                    </div>
                    <div class="component-indicators"> 
                        <span class="indicator-div indicator-black"[innerHTML] = "v.stock_number | valueOrNa">
                          </span>
                      <!-- <span class="indicator-div" style="padding-left: 0" [innerHTML] = "v.stock_number | valueOrNa">
                      </span> -->
                      <span class="indicator-div indicator-primary">
                        {{v.Vehicle_type}}
                      </span>
                      <!-- <span *ngIf="this.isTabletOrIpad">
                        <span *ngIf="v.battery_level < 12500" class="indicator-div indicator-danger">
                          <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                          {{v.battery_level | volt}}V
                        </span>
                        <span *ngIf="v.battery_level >= 12500 && v.battery_level <= 13000" class="indicator-div indicator-warning">
                            <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                            {{v.battery_level | volt}}V
                        </span>
                        <span *ngIf="v.battery_level > 13000" class="indicator-div indicator-success">
                            <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                            {{v.battery_level | volt}}V
                        </span>

                        <span *ngIf="v.fuel_level < 20" class="indicator-div indicator-danger">
                          <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                            {{v.fuel_level}}%
                        </span>
                        <span *ngIf="v.fuel_level >= 20 && v.fuel_level <= 30" class="indicator-div indicator-warning">
                            <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                              {{v.fuel_level}}%
                        </span>
                        <span *ngIf="v.fuel_level > 30" class="indicator-div indicator-success">
                          <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                            {{v.fuel_level}}%
                        </span>
                      </span> -->
                      <!-- <span *ngIf="!this.isTabletOrIpad"> -->
                        <span class="indicator-div color-name" [style.background]="v.int_color_code" *ngIf="v.int_color_code">
                          IN
                        </span>
                        <span class="indicator-div color-name" [style.background]="v.ext_color_code" *ngIf="v.ext_color_code">
                            EX
                        </span>
                      <!-- </span> -->
                      <span>
                          <img *ngIf="v.check_in_type == 1" class="check_in_type" src="assets/icon/check-in/qodelogix-checkin-vehicle-new-inventory.svg"> 
                          <img *ngIf="v.check_in_type == 2" class="check_in_type" src="assets/icon/check-in/qodelogix-checkin-vehicle-dealer-trade.svg"> 
                      </span>
                    </div>

                  </div>
                </ion-col>
                <ion-col col-sm-1 col-1>
                  <img *ngIf="v.is_checked_in != 1" src="assets/icon/assurant-drive-right-arrow-list.svg" [class]="(selectedVehicleIndex == i) ? 'component-arrow pull-right arrow-up' : 'component-arrow pull-right arrow-down'">
                  <img *ngIf="v.is_checked_in == 1" src="assets/icon/assurant-drive-right-arrow-list.svg" class="component-arrow pull-right">
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        
        <!-- sub menu for each vehicles -->
        <div class="sub-menu" *ngIf="selectedVehicleIndex == i">
          <div class="container">
            <ion-grid>
              <ion-row>
                <ion-col col-md-6 col-12 class="padding-right-10">
                    <div class="form-button">
                        <button ion-button block large (click)="gotoDamageReportingPage(v, 1)">
                          <img src="assets/icon/check-in/qodelogix-checkin-vehicle-new-inventory.svg"> &nbsp;
                          <span class="btn-text">New Inventory</span>
                        </button>
                    </div>
                </ion-col>
                <ion-col col-md-6 col-12 class="padding-left-10">
                    <div class="form-button">
                        <button ion-button block large (click)="gotoDamageReportingPage(v, 2)">
                            <img src="assets/icon/check-in/qodelogix-checkin-vehicle-dealer-trade.svg"> &nbsp;
                            <span class="btn-text">Dealer Trade</span>
                        </button>
                    </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
         <!-- sub menu for each vehicles ends -->
        <hr class="margin-0">
      </div>

    </div>

</ion-content>
