page-check-in {
  // .black-text{
  //   color:#fff !important;
  // }

  .sub-menu {
    margin-top: -20px;
  }

  .page-content {
    color: #000;
    background-color: #fff;
    margin-top: 20px;

    .component {
      width: 100%;
      padding: 15px 0;
      margin: 0;
      text-transform: uppercase;

      .component-title {
        color: #000000;
        font-size: 29px;
        // font-weight: 700;
        margin-top: 0;
      }

      .component-arrow {
        width: 18px;
        // padding-top:20px;
        padding: 30px 0;
      }

      .arrow-up {
        transform: rotate(-90deg) !important;
        transition: transform 550ms ease;
      }

      .arrow-down {
        transform: rotate(90deg) !important;
        transition: transform 550ms ease;
      }

      .component-content {
        padding: 0 25px;
      }

      .component-indicators {
        margin-top: 15px;

        .indicator-div {
          border-radius: 5px;
          padding: 5px;
          padding-left: 7px;
          margin-right: 10px;

          .battery-icon {
            width: 15px;
          }

          .fuel-icon {
            width: 11px;
          }
        }
        .indicator-black {
          background-color: #333333;
          color: #f3f3f3;
        }

        .indicator-primary {
          background-color: #f3f3f3;
        }

        .indicator-success {
          background-color: #00aa58;
          color: white;
        }

        .indicator-danger {
          background-color: #ee3324;
          color: white;
        }

        .indicator-warning {
          background-color: #ebc200;
          color: white;
        }
      }

    }
  }

  .intro {
    color: white;
    // margin: -25px 0;

    .intro-img {
      width: 105px;
      margin-top: 30px;
      float: right;
      margin-right: 25px;
    }

    .success-header {
      padding-top: 30px;

      .vehicle-img {
        display: flex;
        justify-content: center;
      }

      .success_message {
        color: white;
        font-size: 16px;
        text-align: center;
        margin-top: 0;
      }

      .vehicle-detail {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;

        p {
          color: white;
          font-size: 28px;
          margin: 0 0 10px 0px;
          font-weight: 700;
        }

        .component-indicators {
          margin: 9px 0;
          margin-left: 10px;

          .indicator-div {
            border-radius: 5px;
            padding: 5px;
            padding-left: 7px;
            margin-right: 10px;
            font-size: 13px;
          }

          .indicator-primary {
            background-color: #f3f3f3;
            color: #000;
            text-transform: uppercase;
            font-size: 14px !important;
          }
        }
      }
    }

    .intro-text {
      font-weight: 300;
      line-height: 25px;
      margin: 40px 0;
      width: 90%;
    }
  }


  .search-align {
    display: flex;
    align-items: center;

    .dropdown {
      color: #fff;
      border-radius: 5px;
      // font-weight: 500;
      background: rgba($color: #fff, $alpha: .25);

      ion-select {
        max-width: 100%;
      }

      .select-icon-inner {
        background: url('../assets/icon/qodelogix-dropdown-arrow-white.svg') no-repeat;
        width: 15px !important;
        background-size: contain;
        height: 15px !important;
        border: none !important;
        left: -5px;
      }
    }

    input.searchbar-input::placeholder {
      font-size: 14px;
    }
  }

  .form-button {

    .button,
    .button:hover {
      padding: 20px 0;
      box-shadow: none;
      background-image: none;
      border: 2px solid #ebebeb;
    }

    .btn-text {
      padding: 0 5px;
      font-size: 16px;
      padding-top: 5px;
    }

    img {
      height: 25px;
    }
  }



  .margin-0 {
    margin: 0;
  }

  .checkin-icon {
    width: 25px;
  }

  @media (max-width: 576px) {
    .intro-img {
      margin-top: 5px;
      margin-right: 15px !important;
    }

    .intro {
      margin-top: 0px;

      .intro-text {
        font-weight: 400 !important;
        line-height: 25px !important;
        width: 100%;
      }
    }

    .component {
      padding: 8px 0 !important;

      .component-content {
        font-size: 14px !important;
        padding: 0px 0px 0px 10px !important;
      }

      .component-title {
        font-size: 14px !important;
        font-weight: normal !important;
        margin-top: 5px !important;
        line-height: 160%;
      }

      .component-indicators {
        margin-top: 5px !important;
      }

      .component-arrow {
        width: 15px !important;
        padding: 0px 0 !important;
      }

    }

    .form-button .button,
    .form-button .button:hover {
      padding: 20px 0;
      height: 40px;
      border: none !important;
      margin: 5px 0 !important;

      img{
        height: 25px;
      }
    }
    
    .intro .success-header .vehicle-detail p {
      font-size: 22px !important;
    }
    .padding-left-10, .padding-right-10{
      padding: 0;
    }  
  }
  @media (max-width: 400px) {
    .indicator-div {
        font-size: 14px !important;
    }
  }

}
