customer-list-2 {

    
    .search-align{
        display: flex;
        align-items: center;

        input.searchbar-input::placeholder {
            font-size: 14px;
        }

        .dropdown{
            background: #f9a11b;
            border-radius: 10px;
            
            .text{
                color: #ffffff;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;

                .add_icon{
                    font-weight: 600;
                    padding-right: 10px;
                }
            }
            .item-inner{
                border: none;
            }
    
        }
    }
    
    .page-content{
        color: #000;
        background-color: #fff;
        margin-top: 20px;

        .component{
            width: 100%;
            padding-top: 10px;
            margin: 0;
            text-transform: capitalize;
            
            .picture {
                border-radius: 100%;
                width: 97px;
            }

            .component-title {
                color: #999999;
                font-size: 20px !important;
                margin-top: 5px;
            }
            .component-phone {
                color: #999999;
                font-size: 18px !important;
                margin-top: 5px;
            }

            .component-vehicle {
                color: #000;
                font-size: 18px !important;
                margin-top: 5px;
            }

            .component-arrow{
                width:18px;
                padding-top:25px;
            }

            .component-content{
                padding: 0 25px;
                padding-left: 0;
            }

            .component-indicators{
                margin-top: 15px;

                .indicator-div{
                    border-radius: 5px;
                    padding: 5px;
                    // padding-left: 7px;
                    margin-left: 10px;
                    text-transform: lowercase !important;
                }

                .phone{
                    color: #005cb9;
                    margin: 0;
                    padding: 0;
                }

                .indicator-primary{
                    background-color: #f3f3f3;
                    opacity: 0.5;
                }
            }
        
        }
    }
}
