<div class="container">
    <ion-grid>
        <ion-row class="search-align"  *ngIf="listFor != 'rental_manager_edit_loaner'; else assignTaga">
          <ion-col col-12  col-sm-8>
              <ion-searchbar class="searchbar" (ionInput)="filterCustomer($event)" placeholder="Search"></ion-searchbar>
          </ion-col>
          <ion-col col-12 col-sm-4>
              <ion-item class="dropdown" (click)="gotoCreateCustomerPage()">
                  <ion-label class="text"> 
                      <ion-icon name="ios-add" class="add_icon"></ion-icon>
                       Create Customer
                  </ion-label>
                </ion-item>
          </ion-col>
        </ion-row>

        <ng-template #assignTaga>
            <ion-col col-12>
                <ion-searchbar class="searchbar" (ionInput)="filterCustomer($event)" (ionCancel)="filterCustomer($event)" placeholder="Search"></ion-searchbar>
            </ion-col>
        </ng-template>
      </ion-grid>
</div>


<div class="page-content"> 
    <div *ngFor="let customer of filterData; let i = index">
      <div class="component" *ngIf="customer.id">
        <div class="container"(click)="gotoRentalManagerSelectVehicle(customer)">
          <ion-grid>
            <ion-row>
              <ion-col col-11>
                <div class="component-content">
                  <div class="component-title">
                    {{customer.firstName}} {{customer.lastName}}
                  </div>
                  <div *ngIf="customer.vin_number" class="component-vehicle">
                    {{customer.year}} {{customer.make}} {{customer.model_trim}}
                  </div>
                  <div class="component-phone">
                      {{customer.phoneNumber}}
                  </div>
                </div>
              </ion-col>
              <ion-col col-1>
                <img src="assets/icon/assurant-drive-right-arrow-list.svg" class="component-arrow pull-right">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <hr>
      </div>
    </div>
</div>