<ion-content class="forgot-password-page blue-bg" overflow-scroll="false">

  <div class="forgot-password-page-content">


    <ion-grid  class="form">
      <ion-row>
        <ion-col offset-1 col-10>

          <ion-grid>
            <ion-row>
              <ion-col col-10 offset-1>
                <div center class="logo">
                  <img src="assets/imgs/assurant-drive-logo-white.svg" />
                </div>
              </ion-col>

              <ion-col col-12>
                <div class="forgot-password-form">
                  <div *ngIf="isEmailSent">
                    <div class="email-response">
                      <span class="big-text">
                        Thank You!
                      </span>
                      <br>
                      <span class="small-text">
                          A link to reset your password has been sent to your email account.
                      </span>
                    </div>
                  </div>

                  <div *ngIf = "!isEmailSent">
                      <div class="help-text">
                          <p>
                            Please enter your email address. <br>
                            We'll send you a link to reset a password 
                          </p>
                      </div>
  
                      <div class="form-field">
                        <input type="email" placeholder="Email Address" autocorrect="off" autocapitalize="none" [(ngModel)]="email">
                      </div>
  
                      <div class="form-button">
                          <button ion-button block large (click)="sendEmail()">Send Email 
                              &nbsp;<img src="assets/imgs/rounded-rectangle.png">
                          </button>
                      </div>
                  </div>

                    <div class="form-button backBtn">
                        <button ion-button block large (click)="goBack()" >
                          <img src="assets/imgs/rounded-rectangle.png">  &nbsp;
                          Back
                        </button>
                    </div>
                  
                  
                  
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>
      </ion-row>
    </ion-grid>



  </div>
</ion-content>
