page-forgot-password {
    
    ion-content {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
        width: 100% !important;
        height: 100vh !important;
      }
    
      .forgot-password-page-content {
        /* padding-top: 150px !important; */
        display: table !important;
        width: 100% !important;
        height: 100% !important;
        position: absolute;
    
        .form {
          display: table-cell;
          vertical-align: middle;
        }
      }


   
      input {
        margin: 10px 0;
        width: 100%;
        height: 40px !important;
        border-radius: 10px;
        border: none;
        margin: -3px 1px;
        background-color: rgba(0, 0, 0, 0.225);
        padding: 0 20px;
      }

      .form-field {
        border: 2px solid #0066db;
        border-radius: 10px;
        margin: 15px 0;
      }

    ::placeholder, input, .help-text {
        opacity: 0.8;
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.6px;
    }

    .help-text {
        text-align: center;
        margin-bottom: 50px;
        opacity: 1;
    }

    .help-text a, .help-text a:hover{
        color: #ffffff;
        text-decoration: none;
        opacity: 1;
    }

    .form-button button, .form-button button:hover {        
        border-radius: 100px;
        background: #0066cc;
        color: #000;
        height:50px;
        margin: 30px 0;
    }

    .form-button img{
        height: 15px;
    }

    .backBtn img {
        transform: scaleX(-1);
    }
    .email-response {
        padding-bottom: 75px;
        color: white;
        text-align: center;
        margin-top: 25px;

        .big-text{
            font-size: 25px;
        }

        .small-text{
            font-size: 15px;
        }
    }
}
