<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Review and Check-In
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
<div class="page-content">

    <div class="blue-bg">
        <header-vehicle-detail 
          [vehicle]= vehicle
          [checkin_type] = checkin_type
        >
        </header-vehicle-detail>
      </div>

  <div class="container">
    <div class="component">
      <div class="component-content">
        <div class="title">
            <ion-grid>
                <ion-row>
                  <ion-col col-9 class="no-padding">
                      <span class="header">
                        Review Damages and Warnings
                      </span>
                  </ion-col>
                  <ion-col col-3 class="no-padding">
                      <span class="btn" (click)="gotoDamagereportingpage()"><img class="header-icon" src="assets/icon/check-in/edit.png">Edit</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </div>
        <div class="section">
          <ion-grid class="no-padding">
            <ion-row>
                <ion-col col-12 col-sm-6 class="padding-right-20"  *ngFor="let d of damageInfo">
                  <div class="sub-container">
                    <ion-grid class=" no-padding">
                      <ion-row>
                        <ion-col col-5 class="no-padding-top-down no-padding-left">
                          <div class="image">
                            <div class="red-icon">
                              <p> {{d.damage_type | getFirstCharacter | uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="{{baseUrl}}{{d.image_path}}" imageViewer>
                          </div>
                        </ion-col>
                        <ion-col col-7 class="no-padding-top-down no-padding-right">
                          <div class="sub-container-content">
                            <p>{{d.damage_location}}</p>
                            <p class="sub-p">{{d.comment}}</p>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>

   <div class="component">
        <div class="component-content">
          <div class="title">
                <span class="header-sub">
                  Warning Lights
                </span>
          </div>
          <div class="section-sub">
            <ion-grid class="no-padding">
              <ion-row>
                <ion-col col-12 col-sm-6 class="padding-right-20">
                  <div class="sub-container">
                    <div class="sub-header-head">
                      <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-check-engine.svg">
                      Engine
                      <span class="green-indicator pull-right" *ngIf="damageReport.check_engine == 1"></span>
                      <span class="red-indicator pull-right" *ngIf="damageReport.check_engine == 0"></span>
                    </div>
                    <p class="sub-p">{{damageReport.check_engine_note}}</p>
                  </div>
                </ion-col>
                <ion-col col-12 col-sm-6 class="padding-right-20">
                    <div class="sub-container">
                      <div class="sub-header-head">
                        <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-tire-pressure.svg">
                        Tire Pressure
                        <span class="green-indicator pull-right" *ngIf="damageReport.tire_pressure == 1"></span>
                        <span class="red-indicator pull-right" *ngIf="damageReport.tire_pressure == 0"></span>
                      </div>
                      <p class="sub-p">{{damageReport.tire_pressure_note}}</p>
                    </div>
                </ion-col>
                <ion-col col-12 col-sm-6 class="padding-right-20">
                  <div class="sub-container">
                    <div class="sub-header-head">
                      <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-airbag.svg">
                      Airbag
                      <span class="green-indicator pull-right" *ngIf="damageReport.airbag == 1"></span>
                      <span class="red-indicator pull-right" *ngIf="damageReport.airbag == 0"></span>
                    </div>
                    <p class="sub-p">{{damageReport.airbag_note}}</p>
                  </div>
                </ion-col>
                <ion-col col-12 col-sm-6 class="padding-right-20">
                  <div class="sub-container">
                    <div class="sub-header-head">
                      <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-dsc.svg">
                      DSC
                      <span class="green-indicator pull-right" *ngIf="damageReport.dsc == 1"></span>
                      <span class="red-indicator pull-right" *ngIf="damageReport.dsc == 0"></span>
                    </div>
                    <p class="sub-p">{{damageReport.dsc_note}}</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
    </div>

      <div class="component">
          <div class="component-content">
            <div class="title">
                  <span class="header-sub">
                      Tire Pressure/Tread Depth
                  </span>
            </div>
            <div class="section-sub">
              <ion-grid class="no-padding">
                <ion-row>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                    <div class="sub-container">
                      <div class="sub-header-head">
                          <img class="icon" src="assets/icon/check-in/assurant-drive-tire-left-front.svg"
                          >
                          Left Front
                          <!-- <span class="null-indicator pull-right" *ngIf="damageReport.left_front == -1"></span> -->
                          <span class="green-indicator pull-right" *ngIf="damageReport.left_front == 1"></span>
                          <span class="yellow-indicator pull-right" *ngIf="damageReport.left_front == 2"></span>
                          <span class="red-indicator pull-right" *ngIf="damageReport.left_front == 0"></span>
                      </div>
                      <p class="sub-p">
                        {{damageReport.left_front_tire_pressure}} PSI
                        <span class="pull-right">
                            {{damageReport.left_front_tire_thread}}/32"
                        </span>
                      </p>
                    </div>
                  </ion-col>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                      <div class="sub-container">
                        <div class="sub-header-head">
                          <img class="icon" src="assets/icon/check-in/assurant-drive-tire-right-front.svg"
                            >
                          Right Front
                          <!-- <span class="null-indicator pull-right" *ngIf="damageReport.right_front == -1"></span> -->
                          <span class="green-indicator pull-right" *ngIf="damageReport.right_front == 1"></span>
                          <span class="yellow-indicator pull-right" *ngIf="damageReport.right_front == 2"></span>
                          <span class="red-indicator pull-right" *ngIf="damageReport.right_front == 0"></span>
                        </div>
                        <p class="sub-p">
                            {{damageReport.right_front_tire_pressure}} PSI
                            <span class="pull-right">
                                {{damageReport.right_front_tire_thread}}/32"
                            </span>
                          </p>
                      </div>
                  </ion-col>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                    <div class="sub-container">
                      <div class="sub-header-head">
                        <img class="icon" src="assets/icon/check-in/assurant-drive-tire-left-rear.svg"
                              >
                        Left Rear
                        <!-- <span class="null-indicator pull-right" *ngIf="damageReport.left_rear == -1"></span> -->
                          <span class="green-indicator pull-right" *ngIf="damageReport.left_rear == 1"></span>
                          <span class="yellow-indicator pull-right" *ngIf="damageReport.left_rear == 2"></span>
                          <span class="red-indicator pull-right" *ngIf="damageReport.left_rear == 0"></span>
                      </div>
                      <p class="sub-p">
                          {{damageReport.left_rear_tire_pressure}} PSI
                          <span class="pull-right">
                              {{damageReport.left_rear_tire_thread}}/32"
                          </span>
                        </p>
                    </div>
                  </ion-col>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                    <div class="sub-container">
                      <div class="sub-header-head">
                        <img class="icon" src="assets/icon/check-in/assurant-drive-tire-right-rear.svg"
                                >
                        Right Rear
                        <!-- <span class="null-indicator pull-right" *ngIf="damageReport.right_rear == -1"></span> -->
                          <span class="green-indicator pull-right" *ngIf="damageReport.right_rear == 1"></span>
                          <span class="yellow-indicator pull-right" *ngIf="damageReport.right_rear == 2"></span>
                          <span class="red-indicator pull-right" *ngIf="damageReport.right_rear == 0"></span>
                      </div>
                      <p class="sub-p">
                          {{damageReport.right_rear_tire_pressure}} PSI
                          <span class="pull-right">
                              {{damageReport.right_rear_tire_thread}}/32"
                          </span>
                        </p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
      </div>

      <div class="component">
          <div class="component-content">
            <div class="title">
                  <span class="header-sub">
                      Exterior/Interior
                  </span>
            </div>
            <div class="section-sub">
              <ion-grid class="no-padding">
                <ion-row>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                    <div class="sub-container">
                      <div class="sub-header-head">
                        Exterior Body
                        <span class="green-indicator pull-right" *ngIf="damageReport.ext_body == 1"></span>
                        <span class="red-indicator pull-right" *ngIf="damageReport.ext_body == 0"></span>
                      </div>
                      <p class="sub-p">{{damageReport.ext_body_note}}</p>
                    </div>
                  </ion-col>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                      <div class="sub-container">
                        <div class="sub-header-head">
                            Windshield
                          <span class="green-indicator pull-right" *ngIf="damageReport.windshield == 1"></span>
                          <span class="red-indicator pull-right" *ngIf="damageReport.windshield == 0"></span>
                        </div>
                        <p class="sub-p">{{damageReport.windshield_note}}</p>
                      </div>
                  </ion-col>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                    <div class="sub-container">
                      <div class="sub-header-head">
                          Wipers
                          <span class="green-indicator pull-right" *ngIf="damageReport.wiper == 1"></span>
                          <span class="red-indicator pull-right" *ngIf="damageReport.wiper == 0"></span>
                      </div>
                      <p class="sub-p">{{damageReport.wiper_note}}</p>
                    </div>
                  </ion-col>
                  <ion-col col-12 col-sm-6 class="padding-right-20">
                    <div class="sub-container">
                      <div class="sub-header-head">
                          Lights
                          <span class="green-indicator pull-right" *ngIf="damageReport.light == 1"></span>
                          <span class="red-indicator pull-right" *ngIf="damageReport.light == 0"></span>
                      </div>
                      <p class="sub-p">{{damageReport.light_note}}</p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
      </div>
  
      <div class="component">
          <div class="component-content">
            <div class="title">
                  <span class="header">
                      Accessories Checklist
                  </span>
                  <span class="btn" (click)="goback()"><img class="header-icon" src="assets/icon/check-in/edit.png">Edit</span>
            </div>
            <div class="section">
                <ion-grid class="no-padding">
                  <ion-row>
                    <ion-col col-md-4 col-12 col-sm-6 class="padding-right-20">
                      <div class="sub-container">
                        <div class="sub-header-head">
                            <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-books.svg"
                                >
                            Books
                          <span [class]="accessories.books == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                        </div>
                        <p class="sub-p">{{accessories.books_note}}</p>
                      </div>
                    </ion-col>
                    <ion-col col-md-4 col-12 col-sm-6  class="padding-right-20">
                        <div class="sub-container">
                          <div class="sub-header-head">
                            <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-pouch.svg"
                              >
                            Pouch
                            <span [class]="accessories.pouch == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                          </div>
                          <p class="sub-p">{{accessories.pouch_note}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-md-4 col-12 col-sm-6  class="padding-right-20">
                      <div class="sub-container">
                        <div class="sub-header-head">
                          <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-keys.svg"
                                >
                          2 Set of Keys
                          <span [class]="accessories.keys == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                        </div>
                        <p class="sub-p">{{accessories.keys_note}}</p>
                      </div>
                    </ion-col>
                    <ion-col col-md-4 col-12 col-sm-6  class="padding-right-20">
                      <div class="sub-container">
                        <div class="sub-header-head">
                          <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-tablet.svg"
                                  >
                          Tablet
                          <span [class]="accessories.tablet == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                        </div>
                        <p class="sub-p">{{accessories.tablet_note}}</p>
                      </div>
                    </ion-col>
                    <ion-col col-md-4 col-12 col-sm-6 class="padding-right-20">
                        <div class="sub-container">
                          <div class="sub-header-head">
                            <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-headphones.svg"
                                    >
                            Headphones
                            <span [class]="accessories.headphones == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                          </div>
                          <p class="sub-p">{{accessories.headphones_note}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-md-4 col-12 col-sm-6 class="padding-right-20">
                          <div class="sub-container">
                            <div class="sub-header-head">
                              <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-mats.svg"
                                      >
                              Mats
                              <span [class]="accessories.mats == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                            </div>
                            <p class="sub-p">{{accessories.mats_note}}</p>
                          </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
          </div>
        </div> 
      

        <div class="component">
              <div class="submit-btn">
                <button ion-button block large (click)="gotoCheckin()">
                    <p *ngIf="checkin_type == 3">
                      Make Delivery
                    </p>
                    <p *ngIf="checkin_type == 4">
                      Service Vehicle
                    </p>
                    <p *ngIf="checkin_type < 3">
                      Check-in
                    </p>
                    &nbsp;
                    <img src="assets/imgs/rounded-rectangle.png"> 
                </button>
              </div>
          </div>

  </div>
</div>
