page-review-and-check-in {

  .row {
    align-items: unset !important;
  }

  //large screen
  @media screen and (min-width: 900px) {
    .page-content .component .component-content .sub-container .image {
      width: 160px !important;
    }

    .sub-container-content {
      margin-left: -20% !important;
    }
  }

  .sub-header {
    margin-top: 0px;
    text-transform: uppercase;

    .vehicle-detail {
      p {
        color: white;
        font-size: 28px;
        margin: 0 0 10px 0px;
        font-weight: 500;
      }

      .component-indicators {

        .indicator-div {
          border-radius: 5px;
          padding: 5px;
          padding-left: 7px;
          margin-right: 10px;
          font-size: 13px;

          .battery-icon {
            width: 15px;
          }

          .fuel-icon {
            width: 11px;
          }
        }

        .indicator-primary {
          background-color: #f3f3f3;
        }

        .indicator-success {
          background-color: #00aa58;
          color: white;
        }

        .indicator-danger {
          background-color: #ee3324;
          color: white;
        }

        .indicator-warning {
          background-color: #ebc200;
          color: white;
        }
      }
    }

    .vehicle-img {
      padding-left: 25px;
      padding-top: 10px;
      width: 280px;
      float: right;
    }
  }

  .section {
    margin: 15px 0 0 0;
  }

  .section-sub {
    margin: 5px 0 0 0;
  }

  .page-content {
    color: #000;
    background-color: #fff;
    font-weight: 450;
    margin-top: 0px;
    // height: 100vh;

    .component {
      width: 100%;
      padding-top: 20px;
      margin: 0;
      padding-left: 10px;

      .component-content {
        // padding: 0 25px;

        .title {
          // margin: 10px 0;
          padding-right: 20px;

          .header {
            font-size: 29px;
            font-weight: 500 !important;
          }

          .header-sub {
            font-size: 23px;
            font-weight: 500 !important;
          }

          .btn {
            color: #000;
            opacity: 0.5;
            float: right;
            text-transform: uppercase;
            font-size: 16px;
            padding-top: 15px;
          }
        }

        p {
          font-size: 16px;
          margin-top: 0;
          font-weight: 700;
          margin-bottom: 5px;
        }


        .sub-p {
          font-size: 13px;
          color: gray;
          font-weight: 10;
        }

        .header-icon {
          max-width: 15px;
          min-height: 15px;
          margin-bottom: -3px;
          margin-right: 5px;
        }

        .icon {
          max-width: 40px;
          min-height: 25px;
          margin-bottom: -5px;
          margin-right: 5px;
        }

        .icon-medium {
          max-width: 25px;
          min-height: 25px;
          margin-bottom: -5px;
          margin-right: 5px;
        }

        .icon-small {
          max-width: 20px;
          min-height: 15px;
          margin-bottom: -5px;
          margin-right: 5px;
        }

        .sub-container {
          border: lightgray 1px solid;
          border-radius: 5px;
          padding: 10px;
          margin: 2px 0;

          .image {
            width: 100%;
            max-height: 110px;
            min-height: 110px;
            border-radius: 5px;
            border: 1px lightgray solid;

            img {
              width: 100%;
              height: -webkit-fill-available;
            }

            .red-icon {
              max-width: 25px;
              min-height: 25px;
              max-height: 25px;
              border-radius: 5px;
              background-color: red;
              font-weight: 500;
              margin-right: 5px;
              top: -5px;
              left: -5px;
              position: absolute;

              p {
                display: flex;
                justify-content: center;
                padding: 3px 5px;
                margin: 0;
                color: white;
              }
            }
          }

          .sub-header-head {
            padding-bottom: 10px;
            font-size: 16px;
          }
        }


      }

    }
  }

  @media (max-width: 576px) {
    .btn{
      padding-top: 6px !important;
    }
    .header {
        // margin-top: 15px;
        font-size: 20px !important;
    }
    .header-sub{
        font-size: 17px !important;
    }
    .sub-header-head{
        font-size: 16px !important;
    }
  }
}
