<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
          Account Settings
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding class="content" >
  <div class="page-content">
    <div class="container">

      <div class="component padding-1">
        <div class="component-content">
            <p class="title">
              User Settings
            </p>
            <ion-grid>
              <ion-row>
                <ion-col col-3 class="no-padding">
                    <div class="image" (click)="presentActionSheet()">
                        <img src="{{image}}">
                        <!-- <img [src]="damage_location_get.image_path" *ngIf="damage_location_get.image_path" />
                        <img src="assets/icon/check-in/qodelogix-take-picture-damage.svg" class="cam-icon" *ngIf="!damage_location_get.image_path"> -->
                      </div>
                </ion-col>
                <ion-col col-9 class="no-padding-right">
                  <ion-grid class="no-padding">
                    <ion-row>
                      <!-- <ion-col col-6>
                        <input type="text" placeholder="First Name" [(ngModel)] = "first_name">
                      </ion-col>
                      <ion-col col-6>
                        <input type="text" placeholder="Last Name" [(ngModel)] = "last_name">
                      </ion-col> -->
                      <ion-col col-12>
                        <input type="text" placeholder="Full Name" [(ngModel)] = "full_name" name="full_name">
                      </ion-col>
                      <ion-col col-6>
                        <input type="number" placeholder="Phone" [(ngModel)] = "phone_number" name="phone_number">
                      </ion-col>
                      <ion-col col-6>
                        <input type="email" placeholder="Email" [(ngModel)] = "email" name="email">
                      </ion-col>
                      <ion-col col-6>
                        <input type="password" placeholder="Password" [(ngModel)] = "password1" name="password1">
                      </ion-col>
                      <ion-col col-6>
                        <input type="password" placeholder="Confirm Password" [(ngModel)] = "password2">
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
        </div>
      </div>

      <div class="component padding-1">
        <div class="component-content">
          <p class="title">
            Notification Settings
          </p>
        </div>
      </div>

    </div> 
    
    <div class="notification-headers">
      <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                  Alert Type
                </ion-col>
                <ion-col col-3>
                  Push
                </ion-col>
                <!-- <ion-col col-3>
                  Browser
                </ion-col> -->
                <ion-col col-3>
                  Email
                </ion-col>
              </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="container">
      <ion-grid>

          <ion-row class="alert-type" *ngFor="let notification of notification_setting">
              <ion-col col-6>
                {{notification.name}}
              </ion-col>
              <ion-col col-3>
                  <ion-toggle (ionChange)="updateNotificationSetting(notification.id, $event.checked, 3)" checked="{{notification.in_app | toBoolean}}"></ion-toggle>
              </ion-col>
              <!-- <ion-col col-3>
                  <ion-toggle (ionChange)="updateNotificationSetting(notification.id, $event.checked, 2)" checked="{{notification.desktop_status | toBoolean}}"></ion-toggle>
              </ion-col> -->
              <ion-col col-3>
                  <ion-toggle (ionChange)="updateNotificationSetting(notification.id, $event.checked, 1)" checked="{{notification.email_status | toBoolean}}"></ion-toggle>
              </ion-col>
            </ion-row>
        <ion-row>
          <ion-col col-6>
              <div class="component">
                  <div class="submit-btn">
                    <button type="button" class="cancel-btn" ion-button block large (click)="back()">
                        <p>
                          Cancel
                        </p>
                    </button>
                  </div>
                </div>
          </ion-col>
          <ion-col col-6>
              <div class="component">
                  <div class="submit-btn">
                    <button type="button" ion-button block large (click)="save()">
                        <p>
                          Save
                        </p>
                    </button>
                  </div>
                </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>
  

</ion-content>
