page-account-setting {
    //large screen
    @media screen and (min-width: 900px) {
        .image {
            width: 160px !important;
        }
    }

    @media (max-width: 400px) {
        .notification-headers{
          font-size: 14px !important;
        }
      }


    .page-content{
        color: #000;
        background-color: #fff;
        font-weight: 450;
        margin-top: 0px;
        min-height: 100%;

        .component{
            width: 100%;
            padding-top: 20px;
            margin: 0;
            padding-left: 10px;

            .component-content{
                .title{
                    margin-bottom: 20px;
                    padding-right: 20px; 
                    font-size:20px;
                    font-weight: 500 !important;
                }  

                .image{
                    width: 100%;
                    max-height: 145px;

                    img {
                        width: 250px;
                        border-radius: 5px;
                        height: 145px;
                    }
                    
                    .cam-icon {
                        width: 30% !important;
                        margin: 0 30%;
                    }
                }

                input{
                    width: 100%;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-size: 12px;
                    margin-bottom: 10px;
                    border-style: groove;
                    opacity: 0.7;
                }
                input:last-child{
                    margin-bottom: 0;
                }
            }    
            
            .cancel-btn {
                color: #fff !important;
                background-image: none !important;
                background: lightgrey !important;
                box-shadow: none !important;
            }
        }
        
        .padding-1 {
            padding-top: 1px !important;
        }

        .notification-headers {
            font-size: 16px;
            background: black;
            color: gray;
        }

        .alert-type {
            color: gray;
            font-size: 16px;
            padding: 5px 0;
        }

        .toggle-md {
            width: 50px;
            padding: 12px 0;

            .toggle-inner {
                margin-top: 5px;
                width: 17px;
                height: 17px;
            }
            .toggle-icon{
                height: 21px;
                width: 40px;
            }
        }

        .toggle-ios {
            // width:50px !important;
            padding: 12px 0;
        }

         .toggle-md.toggle-checked .toggle-inner{
            transform: translate3d(22px, 0, 0);
            background-color: white;
        }
        .toggle-md.toggle-checked .toggle-icon {
            background-color: #005cb9;
        }

        .toggle-ios.toggle-checked .toggle-inner{
            transform: translate3d(22px, 0, 0);
            background-color: white;
        }
        .toggle-ios.toggle-checked .toggle-icon {
            background-color: #005cb9;
        }
        
    }
}
