page-assign-loaner-vehicle-create-customer {

  //large screen
  @media screen and (min-width: 900px) {
    .customer-profile .upload .box {
      width: 300px !important;
    }
  }

  .page-content {
    color: #000;
    background-color: #fff;
    margin-top: 20px;
    position: absolute;
  }


  .customer-profile {
    .title {
      font-size: 30px;
      padding-top: 20px;
    }

    .cancel-btn {
      color: #fff !important;
      background-image: none !important;
      background: lightgrey !important;
      box-shadow: none !important;
    }

    .formfield {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ccc;
      height: 35px;
      padding: 0 10px;
      margin: 10px 0;
    }

    .upload {
      .upload-title {
        font-size: 16px;
        margin-left: 15px;
        font-weight: 700;
        margin-top: 20px;
      }

      .box {
        border: 1px solid #b7b7b7;
        text-align: center;
        width: 45%;
        margin: 10px;
        cursor: pointer;
        max-height: 150px;
        border-radius: 10px;

        .icon {
          width: 20px;
          padding-top: 40px;
        }

        p {
          margin-top: 5px;
          padding-bottom: 30px;
          color: gray;
        }

        .image {
          max-height: 150px;
          width: 100%;
          margin-bottom: -4px;
          padding-bottom: 2px;
          border-radius: 10px;
        }
      }


      .upload-small {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        text-align: center;
        padding: 5px;

        img {
          width: 40px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .submit-btn {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
  }
}
