<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
          <span *ngIf="from_customer_list">{{from_customer_list}}</span>
          <span *ngIf="!from_customer_list">Assign Loaner Vehicle</span>
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
          </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="content" >
    <div>
      <div *ngIf="vehicle" class="blue-bg">
        <header-vehicle-detail 
        [vehicle]= vehicle
        [checkin_type] = checkin_type
      >
      </header-vehicle-detail>
    </div>
    <!-- <form #form="ngForm" (ngSubmit)="saveCustomer(form.value)"> -->
    <div class="page-content"> 
      <div class="container">
        <div class="customer-profile">
            <ion-grid>
                <ion-row>
                  <ion-col col-11>
                        <div class="title">
                          <span>Customer Profile</span>
                        </div>
                  </ion-col>
                  <ion-col col-1>
                    <span *ngIf="customer_id && listFor != 'assign_loaner' && listFor != 'rental_manager_assign_loaner'"
                      (click)="showConfirm()" 
                      style="color: #f6f3f3;
                        float: right;
                        margin-top: 20px;
                        background: #f20f58;
                        padding: 5px 10px;
                        border-radius: 10px;
                      "
                    >
                      <ion-icon name="trash"></ion-icon>
                    </span>     
                  </ion-col>
                </ion-row>
              </ion-grid>

          <form [formGroup]="createCustomer" (ngSubmit)="submitCustomer(createCustomer.value)" >

            <input type="hidden" formControlName="Token" name="Token">
            <input type="hidden" formControlName="Id" name="Id">
            <input type="hidden" formControlName="DealerId" name="DealerId">
            <input type="hidden" formControlName="DLFront" name="DLFront">
            <input type="hidden" formControlName="DLBack" name="DLBack">
            <input type="hidden" formControlName="ICFront" name="ICFront">
            <input type="hidden" formControlName="ICBack" name="ICBack">

            <ion-grid>
              <ion-row>
                <ion-col col-6 class="padding-right-10">
                  <input type="text" class="formfield" placeholder="First Name" name="FirstName" formControlName="FirstName">
                </ion-col>
                <ion-col col-6 class="padding-left-10">
                  <input type="text" class="formfield" placeholder="Last Name"  name="LastName" formControlName="LastName">
                </ion-col>
                <ion-col col-6 class="padding-right-10">
                  <input type="number" class="formfield" placeholder="Phone" name="PhoneNumber" formControlName="PhoneNumber">
                </ion-col>
                <ion-col col-6 class="padding-left-10">
                  <input type="email" class="formfield" placeholder="Email"   name="CustomerEmail"  formControlName="CustomerEmail">
                </ion-col>
                <ion-col col-12>
                  <input type="text" class="formfield" placeholder="Address Line 01" name="AddressOne" formControlName="AddressOne">
                </ion-col>
                <ion-col col-12>
                  <input type="text" class="formfield" placeholder="Address Line 02" name="AddressTwo" formControlName="AddressTwo">
                </ion-col>
                <ion-col col-6 class="padding-right-10">
                  <input type="text" class="formfield" placeholder="City" name="City"  formControlName="City">
                </ion-col>
                <ion-col col-6 class="padding-left-10">
                  <input type="text" class="formfield" placeholder="Province/State" name="State" formControlName="State">
                </ion-col>
                <ion-col col-6 class="padding-right-10">
                  <input type="text" class="formfield" placeholder="Postal Code/Zip Code"  name="PostalCode" formControlName="PostalCode">
                </ion-col>
                <ion-col col-6 class="padding-left-10">
                  <input type="text" class="formfield" placeholder="Country" name="Country" formControlName="Country">
                </ion-col>
              </ion-row>
            </ion-grid>            


            <!-- <div class="upload">
                <div class="upload-title">
                    Credit Card
                </div>
                <ion-grid>
                    <ion-row>
                      <ion-col col-6 class="padding-right-10">
                        <input type="text" class="formfield" placeholder="Cardholder Name" [(ngModel)]="customer.cc_name" name="cc_name">
                      </ion-col>
                      <ion-col col-6 class="padding-left-10">
                        <input type="tel" class="formfield" placeholder="Card Number" [(ngModel)]="customer.cc_number " name="cc_number" [textMask]="{mask: masks.cardNumber}"> 
                      </ion-col>
                      <ion-col col-6 class="padding-right-10">
                        <input type="tel" class="formfield" placeholder="Expiry Date" [(ngModel)]="customer.cc_expiry_date" name="cc_expiry_date" [textMask]="{mask: masks.cardExpiry}">
                      </ion-col>
                      <ion-col col-6 class="padding-left-10">
                        <input type="tel" class="formfield" placeholder="CVS"  [(ngModel)]="customer.cc_cvs" name="cc_cvs" [textMask]="{mask: masks.cardCvv}">
                      </ion-col>
                    </ion-row>
                </ion-grid>
            </div> -->

            <div class="upload">
              <div class="upload-title">
                  Driver’s License
              </div>
              <div class="flex justify-center">
                      <div class="box" (click)="capture_dl_front()">
                        <div *ngIf="!createCustomer.get('DLFront').value">
                          <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                          <p>Upload Front</p>
                        </div>
                        <img class="image" [src]="createCustomer.get('DLFront').value" *ngIf="createCustomer.get('DLFront').value" />
                      </div>
                      <div class="box" (click)="capture_dl_back()">
                        <div *ngIf="!createCustomer.get('DLBack').value">
                          <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                          <p>Upload Back</p>
                        </div>
                        <img class="image" [src]="createCustomer.get('DLBack').value" *ngIf="createCustomer.get('DLBack').value" />
                      </div>
              </div>
            </div>
            
            <div class="upload">
                  <div class="upload-title">
                      Insurance Card
                  </div>
                  <div class="flex justify-center">
                      <div class="box" (click)="capture_ic_front()">
                        <div *ngIf="!createCustomer.get('ICFront').value">
                          <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                          <p>Upload Front</p>
                        </div>
                        <img class="image" [src]="createCustomer.get('ICFront').value" *ngIf="createCustomer.get('ICFront').value" />
                      </div>
                      <div class="box" (click)="capture_ic_back()">
                        <div *ngIf="!createCustomer.get('ICBack').value">
                          <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                          <p>Upload Back</p>
                        </div>
                        <img class="image" [src]="createCustomer.get('ICBack').value" *ngIf="createCustomer.get('ICBack').value" />
                      </div>
                  </div>
            </div>


            <ion-grid>
              <ion-row>
                  <ion-col col-md-6 offset-md-6 col-12>
                    <div class="my-btn">
                        <div class="submit-btn" style="margin: 0; padding:0">
                          <button [disabled]="cc_added" type="button" ion-button block large (click)="initiateCardCreation()">
                            <p>
                                <span *ngIf="!cc_added">Add Credit Card</span>
                                <span *ngIf="cc_added">Credit Card Added</span>
                            </p>
                          </button>
                        </div>
                      </div>
                    </ion-col>
              </ion-row>
            </ion-grid>


            <ion-grid class="padding-bottom-50">
              <ion-row>
                <ion-col col-md-6 col-12>
                    <div class="my-btn">
                      <div class="submit-btn">
                        <button type="button" class="cancel-btn" ion-button block large  (click)="back()">
                          <p>
                              Cancel
                          </p>
                        </button>
                      </div>
                    </div>
                </ion-col>
                <ion-col col-md-6 col-12>
                    <div class="my-btn">
                      <div class="submit-btn">
                        <button type="submit" ion-button block large [disabled]="!createCustomer.valid || !cc_added">
                          <p>
                              <span *ngIf="customer_id" >Update Customer Profile</span>
                              <span *ngIf="!customer_id">Create Customer Profile</span>
                          </p>
                        </button>
                      </div>
                    </div>
                </ion-col>
              </ion-row>
            </ion-grid>

        </form>
        </div>
      </div>
    </div>
  <!-- </form> -->

    </div>
</ion-content>