<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
        Alerts List
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
              <div class="notification">
                <img *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
                <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
              </div>
              <div class="back" (click)="back()">
                Back
              </div>
            </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content">

  <div class="" id = "page-content">
    <div class="blue-bg">
      <ion-grid>
        <ion-row class="search-align container">
          <ion-col col-sm-9 col-12>
            <ion-searchbar class="searchbar" (ionInput)="getItems($event)" placeholder="Search"></ion-searchbar>
          </ion-col>
          <ion-col col-sm-3 col-12>
            <ion-item class="dropdown">
              <ion-label class="text"> {{dropdown_text}} </ion-label>
              <ion-select interface="{{interface}}" [(ngModel)]="vehicle_status" (ngModelChange)="OnVehicleStatusChange($event)">
                <ion-option value="-1" selected>All Alerts</ion-option>
                <ion-option value="0">Battery Alerts</ion-option>
                <ion-option value="1">Fuel Alerts</ion-option>
                <ion-option value="2">Mileage Alerts</ion-option>
                <ion-option value="3">GPS Alerts</ion-option>
                <ion-option value="4">Disconnect Alerts</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngFor="let v of filterData; let i = index;">
      <!-- <div (click)="gotoVehicleProfile(v)">
        <vehicle-detail-list [vehicle]=v>
        </vehicle-detail-list>
      </div> -->

        <div  (click)="gotoVehicleProfileWithAnimation($event, i , v)" attr.id="component{{i}}">
          <vehicle-detail-list-new [vehicle] = v>
          </vehicle-detail-list-new>
      </div>
    </div>

  </div>

</ion-content>