page-alerts {
    
    .page-content{
        color: #000;
        background-color: #fff;
        margin-top: 20px;


    }


    .search-align{
        display: flex;
        align-items: center;

        input.searchbar-input::placeholder {
            font-size: 14px;
        }

        .dropdown{
            background: rgba($color: #fff, $alpha: .25);
            border-radius: 10px;

            .select-md {
                padding: 0 !important;
                padding-right: 9px !important;
            }

            .select-text{
                display: none;
            }
            
            .text{
                color: #ffffff;
                letter-spacing: -0.75px;
                font-size: 14px;
            }
    
            .select-icon-inner{
                background: url('../assets/icon/qodelogix-dropdown-arrow-white.svg') no-repeat;
                width: 15px !important;
                background-size: contain;
                height: 15px !important;
                border: none !important;
                left: 0px;
            }
    
            .item-inner{
                border-bottom: none !important;
            }
    
        }
    }


}
