page-rental-manager-locate-vehicle-2 {
    .bottom-icon{
        z-index: 9999;
        display: flex;
        justify-content: center;
        width: 100%;
  
            .img_div{
                background: #F9A11B;
                padding: 10px; 
                border-radius: 10px;
                color: white;
                font-size: 16px;
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
            }
      }
}
