<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
        Locate Vehicle
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
          </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="content">

      <span *ngIf="operation== 'rental_manager_return_loaner'; else assignTag">
          <rental-manager-progress-bar
            total = "4"
            active = "4"
          >
          </rental-manager-progress-bar> 
      </span> 
      <ng-template #assignTag>
         
        <rental-manager-progress-bar
          total = "7"
          active = "5"
        >
        </rental-manager-progress-bar>
      </ng-template>

      <div class="page-content">
  
          <div class="component" id="component">

              <vehicle-parts-damage-report-2
              [vehicle] = vehicle
            >
            </vehicle-parts-damage-report-2>

          </div> <!-- ends component -->
    
      </div><!-- ends page-content-->
  </ion-content>

  <ion-footer no-border>
      <div class="container">
        <div class="bottom-icon" id="bottom-icon"> 
            <div class="img_div" (click)="gotoRentalInformation()">
                <span *ngIf="operation== 'rental_manager_return_loaner'; else assignTag2">Return Rental </span> 
                <ng-template #assignTag2>
                    <span> Rental Information</span> 
                </ng-template>
            </div>
          </div>
      </div>
    </ion-footer>