page-damage-reporting-add-popover {
    .icon{
        width: 12px;
    }

    .title{
        font-size: 25px;
        font-weight: 500;
    }

    .error{
        color:red;
    }

    .sub-title{
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 8px;
    }

    textarea{
        width: 100%;
        border-radius: 5px;
        border: lightgray 1px solid;
        font-size: 12px;
        padding: 10px;
    }

    .red-icon{
        max-width:25px;
        min-height:20px;
        max-height:20px;
        border-radius: 5px;
        background-color: red;
        font-weight: 500;
        margin-right: 5px;
        p{
            display: flex;
            justify-content: center;
            padding: 2px 5px;
            margin:0;
            color:white;
        }
    }

    .item-block {
        min-height: 30px !important ;
    }

    .item-md{
        padding-left: 10px;
    }


    .dropdown{
        // background: rgba($color: #fff, $alpha: .25);
        border: lightgray 1px solid;
        border-radius: 5px;
        height:10px;

        .select-md {
            padding: 0 !important;
            padding-right: 5px !important;
        }

        .select-text{
            display: none;
        }
        
        .text{
            color: #000;
            letter-spacing: -0.25px;
            font-size: 12px;
        }

        .select-icon-inner{
            background: url('../assets/icon/down-arrow-gradient.png') no-repeat;
            width: 12px !important;
            background-size: contain;
            height: 15px !important;
            border: none !important;
            left: 0px;
        }

        .item-inner{
            border-bottom: none !important;
        }
    }
    

    .edit-image-section{
        padding-left: 10px;

        .image{
            width: 100%;
            max-height: 208px;
            min-height: 208px;
            border-radius: 5px;
            border: 1px lightgray solid;

            img {
                width: 100%;
                // width: 250px;
                border-radius: 5px;
                height: -webkit-fill-available;
            }
            
            .cam-icon {
                width: 30% !important;
                margin: 0 30%;
            }
        }
    }

    .cancel-btn, .save-btn, .delete-btn{
        button{
            color: #000;
            box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32);
            border-radius: 100px;
            background-color: #ffffff;
            height: 50px;
        }
        p {
            font-size: 15px;
        }
    }
    .cancel-btn button{
        background-image: linear-gradient(-243deg, rgba(199, 225, 255, 0) 0%, rgba(200, 200, 200, 0.25) 100%);
    }
    .delete-btn button{
        background-image: linear-gradient(-243deg, rgba(199, 225, 255, 0) 0%, rgba(218, 43, 43, 0.25) 100%);
    }
    .save-btn button{
        color: #ffffff;
        background-color: #f9a11b ;
    }
    @media (max-width: 576px) {
        
    }
}
