<div padding>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <div *ngIf="damage_location_get.isSaved == 0" class="title">Insert Damage</div> 
          <div *ngIf="damage_location_get.isSaved == 1" class="title">Edit Damage</div> 
        </ion-col>
        <ion-col >
          <img src="assets/icon/check-in/qodelogix-pop-up-close.svg" class="icon pull-right" (click)="dismissPopover()">
        </ion-col>
      </ion-row>

      <!-- <p *ngIf="damage_location_get.image_path == ''">alksdj</p> -->
<!-- 
      <button ion-button  outline color="dark" class="" text-center block outline icon-only small (click)="presentActionSheet()"
      right>
      <ion-icon name="camera"></ion-icon> ajsdh
    </button> -->
    
      <ion-row>
        <ion-col col-md-6 col-12>
          <p class="sub-title"><b>Damage Location</b></p> 
          <ion-item class="dropdown half">
              <ion-label class="text"> {{damage_location_dropdown_text}} </ion-label>
              <ion-select  interface="action-sheet" [(ngModel)]="damage_location" (ngModelChange)="OnDamageLocationStatusChange($event)">
                <ion-option value="-1" disabled>Damage Location</ion-option>
                <span *ngFor="let location of damage_locations">
                  <ion-option value="{{location.id}}">{{location.damage_location}}</ion-option>
                </span>
              </ion-select>
          </ion-item>
          <span *ngIf="damage_location_error" class="error">Please select damage location</span>

          <p class="sub-title"><b>Damage Type</b></p>
          <ion-item class="dropdown half">
              <ion-label class="text" *ngIf="damage_type < 0"> {{damage_type_dropdown_text}} </ion-label>
              <ion-label class="text flex" *ngIf="damage_type >= 0" > <div class="red-icon">
                  <p> {{damage_type_dropdown_text | getFirstCharacter | uppercase | getNcharacters: 2}} </p>
                </div>
                 {{damage_type_dropdown_text }} 
              </ion-label>
              <ion-select interface="action-sheet"  [(ngModel)]="damage_type" (ngModelChange)="OnDamageTypeStatusChange($event)">
                <ion-option value="-1" selected disabled>Damage Type</ion-option>
                <p *ngFor="let type of damage_types">
                  <ion-option value="{{type.id}}">{{type.damage_type}}</ion-option>
                </p>
              </ion-select>
          </ion-item>
          <span *ngIf="damage_type_error" class="error">Please select damage type</span>

          <p class="sub-title"><b>Additional Comments</b></p>
          <textarea rows="3" type="text" maxlength="500" placeholder="Comments" [(ngModel)]="damage_location_get.comment" ></textarea>
        </ion-col>
        <ion-col col-md-6 col-12>
          <div class="edit-image-section">
            <p class="sub-title"><b>Add Photo</b></p>
            <div class="image" (click)="presentActionSheet()">
              <img [src]="damage_location_get.image_path" *ngIf="damage_location_get.image_path" />
              <img src="assets/icon/check-in/qodelogix-take-picture-damage.svg" class="cam-icon" *ngIf="!damage_location_get.image_path">
            </div>
          </div>
        </ion-col>
      </ion-row>

      
      <span *ngIf="damage_location_get.isSaved == 1">
        <ion-row>
            <ion-col col-4>
                <div class="cancel-btn">
                  <button ion-button block large  (click)="dismissPopover()">
                      <p>
                        Cancel
                      </p>
                  </button>
                </div>
              </ion-col>
              <ion-col col-4>
                <div class="delete-btn">
                  <button ion-button block large  (click)="delete()">
                      <p>
                        Delete
                      </p>
                  </button>
                </div>
              </ion-col>
              <ion-col col-4>
                <div class="save-btn">
                  <button ion-button block large  (tap)="update()">
                      <p>
                        Save
                      </p>
                  </button>
                </div>
              </ion-col>
            </ion-row>
        </span>
                
        <span *ngIf="damage_location_get.isSaved == 0">
          <ion-row>
            <ion-col col-6>
                <div class="cancel-btn">
                  <button ion-button block large  (click)="dismissPopover()">
                      <p>
                        Cancel
                      </p>
                  </button>
                </div>
              </ion-col>
              <ion-col col-6>
                <div class="save-btn">
                  <button ion-button block large  (tap)="save()">
                      <p>
                        Record Damage
                      </p>
                  </button>
                </div>
              </ion-col>
            </ion-row>
        </span>
    </ion-grid>
</div>
