<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Locate Vehicle
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

    <span *ngIf="operation== 'rental_manager_return_loaner'; else assignTag">
        <rental-manager-progress-bar
          total = "4"
          active = "3"
        >
        </rental-manager-progress-bar> 
    </span> 
    <ng-template #assignTag>
       
      <rental-manager-progress-bar
        total = "7"
        active = "4"
      >
      </rental-manager-progress-bar>
    </ng-template>

    <div class="page-content">

        <div class="component" id="component">
          <div class="map-content" id="map-content">
              <div #map id="map" style="width:100%; height:100%"></div> 
              <div class="toggle-div container" id="toggle-div">
                <ion-grid class="no-padding">
                  <ion-row>
                    <ion-col col-12 class="no-padding">
                      <div class="toggle-container">
                        Display Surrounding Vehicles
                        <span class="toggle-btn">
                          <ion-toggle [(ngModel)]="displaySurroundingVehicles" (ngModelChange)="toggleSurroundingVehicles($event)"></ion-toggle>
                        </span>
                      </div>
                    </ion-col>

                    <ion-col class="no-padding">
                        <div class="bottom-icon" id="bottom-icon"> 
                            <div class="img_div" (click)="gotoLocateVehicle2()">
                                Damage Reporting
                            </div>
                          </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div> <!-- edns toggle div-->
          </div> <!-- ends map content-->
    
        </div> <!-- ends component -->
    
      </div><!-- ends page-content-->
    
    
    </ion-content>
 