page-rental-manager-locate-vehicle {
    .footer-md::before{
        background-image: none !important;
      }

    .map-content {
      height: calc(100vh - 115px) !important;
        background: #222;
        position: absolute;
        width: 100%;
        z-index: 1;
    
        .toggle-div {
          margin-top: -140px;
    
          .toggle-container {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #ffffff;
            text-transform: capitalize;
            display: flex;
            justify-content: center;
            padding: 10px 30px;
            font-size: 16px;
            align-items: center;
    
            .toggle-btn {
              margin-left: 35px;
    
              .toggle-md {
                width: 50px;
                padding: 12px 0;
                padding-top: 3px;
    
                .toggle-inner {
                  margin-top: 5px;
                  width: 17px;
                  height: 17px;
                }
    
                .toggle-icon {
                  height: 21px;
                  width: 40px;
                }
              }
    
              .toggle-ios {
                // width:50px !important;
                padding: 0;
              }
    
              .toggle-md.toggle-checked .toggle-inner {
                transform: translate3d(22px, 0, 0);
                background-color: white;
              }
    
              .toggle-md.toggle-checked .toggle-icon {
                background-color: #005cb9;
              }
    
              .toggle-ios.toggle-checked .toggle-inner {
                transform: translate3d(22px, 0, 0);
                background-color: white;
              }
    
              .toggle-ios.toggle-checked .toggle-icon {
                background-color: #005cb9;
              }
    
            }
    
    
          }
        }
      }
      
      .bottom-icon{
        margin-top: 10px;
        z-index: 9999;
        display: flex;
        justify-content: center;
        width: 100%;
  
            .img_div{
                background: #F9A11B;
                padding: 10px; 
                border-radius: 10px;
                color: white;
                font-size: 16px;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
      }


      // @media (max-width: 576px) {
      //   .toggle-div {
      //     margin-top: -125px;
      //   }
      // }
}
