vehicle-parts-damage-report {
    
    //large screen
    @media screen and (min-width: 900px) {
        .car-view{
            width: 70%;
            margin-left: 15% !important;
        }
    }
    /*small device */
    @media screen and (max-width: 576px) {
        .icon{
            width: 18px !important ;
        }
        .middle {
            top: 37% !important;
        }
        .left{
            bottom: -5px !important;
        }
        .first{
            padding-left: 35px !important;
        }
        .second{
            margin-left: 12px !important;
        }
        .third{
            margin-left: 5px !important;
        }
        .fourth{
            margin-left: 5px !important;
        }
        .car-view .red-icon {
            max-width: 18px !important;
            min-height: 18px !important;
            max-height: 18px !important;
            margin-top: 0px !important;
        }
        .car-view .red-icon p {
            padding: 3px 0 !important;
            font-size: 10px !important;
        }
    }

    @media screen and (min-width: 334px) and (max-width: 400px) {
        .middle {
            top: 35% !important;
        }
    }

    @media screen and (max-width: 333px) {
        .middle {
            top: 34% !important;
        }
    }

    /* landscape */
    @media screen and (orientation:landscape) {
            .car-view .container {
                padding: 0 50px;
            }
            
            .icon{
                width: 40px !important ;
            }

            .red-icon {
                max-width: 40px !important;
                min-height: 40px!important;
                max-height: 40px !important;
                
                p{
                    padding: 10px 0 !important;
                }
            }

            .right {
                // top: 275px !important;
                top: 0px !important;
            }
    
            .middle {
                // top: 435px !important;
                top: 41% !important;
            }
    
            .left {
                // top: 590px !important;
                top: 84% !important;
            }
    
            .first{
                padding-left: 80px !important;
            }
            .second{
                padding-left: 30px !important;
            }
            .third{
                margin-left: 5px !important;
            }
            .fourth{
                // margin-left: 0px !important;
            }
    }

    
    .car-view{
        margin: 25px 10px;

        position: relative;

        .right {
            width: 100%;
            position: absolute;
            display: flex;
            // top: 240px;
            top: -4px;
        }

        .middle {
            width: 100%;
            position: absolute;
            display: flex;
            // top: 350px;
            top: 40%;
        }

        .left {
            width: 100%;
            position: absolute;
            display: flex;
            // top: 465px;
            bottom: 0;
        }

        .first{
            padding-left: 40px;
        }
        .second{
            padding-left: 0px;
        }
        .third{
            margin-left: -10px;
        }
        .fourth{
            margin-left: -75px;
        }

        .red-icon{
            max-width:28px;
            min-height:28px;
            max-height:28px;
            border-radius: 5px;
            background-color: red;
            color:white;
            font-weight: 500;
            z-index: 999;
            position: relative;
            margin-top: -3px;
            p{
                display: flex;
                justify-content: center;
                padding: 5px 0;
                margin:0;
            }
        }

        .icon{
            width: 28px;
        }
    }
}
