<!-- 
    <div class="view-options">
      <div class="option selected">
        <p> Top </p>
      </div>
      <div class="option">
          <p> Driver Side </p>
      </div>
      <div class="option">
          <p> Passenger Side </p>
      </div>
      <div class="option">
          <p> Front </p>
      </div>
      <div class="option">
          <p> Back </p>
      </div>
    </div> -->
    
    <!-- <ion-item class="border" no-padding>
           
        <ion-label class="horizontal-padding">EX:</ion-label>
        <ion-select [(ngModel)]="exteriorColor" interface="action-sheet">
          <ion-option *ngFor="let color of jsonColorList  | keysPipe" [value]="color.key">{{color.key}}</ion-option>
        </ion-select>
      </ion-item> -->
    <div class="car-view container">
        
        <img src="assets/icon/check-in/qodelogix-damage-reporting-car-top.png">
  
        <div class="container">
          <span *ngFor=" let info of damageInfo">        
            <div class="right">
              <ion-grid>
                <ion-row>
                  <ion-col col-3>
                      <div class="first">
                          <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 1">
                              <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                          </div>
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('1')" [ngClass]="info.damage_location_id == 1 ? 'hide': 'block'">
                      </div>
                  </ion-col>
  
                  <ion-col col-3>
                      <div class="second">
                          <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 2">
                              <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                          </div>
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('2')" [ngClass]="info.damage_location_id == 2 ? 'hide': 'block'">
                      </div>
                  </ion-col>
                  <ion-col offset-3>
                      <div class="fourth">
                          <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 3">
                              <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                          </div>
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('3')" [ngClass]="info.damage_location_id == 3 ? 'hide': 'block'">
                      </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
  
            <div class="middle">
                <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                        <div class="first">
                            <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 4">
                                <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('4')" [ngClass]="info.damage_location_id == 4 ? 'hide': 'block'">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="second">
                            <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 5">
                                <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('5')" [ngClass]="info.damage_location_id == 5 ? 'hide': 'block'">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="third">
                            <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 6">
                                <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('6')" [ngClass]="info.damage_location_id == 6 ? 'hide': 'block'">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="fourth">
                            <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 7">
                                <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('7')" [ngClass]="info.damage_location_id == 7 ? 'hide': 'block'">
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </div>
  
            <div class="left">
                <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                        <div class="first">
                            <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 8">
                                <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('8')" [ngClass]="info.damage_location_id == 8 ? 'hide': 'block'">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="second">
                            <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 9">
                                <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('9')" [ngClass]="info.damage_location_id == 9 ? 'hide': 'block'">
                        </div>
                    </ion-col>
                    <ion-col offset-3>
                        <div class="fourth">
                            <div class="red-icon"  (click)="openPopover(info)"  *ngIf="info.damage_location_id == 10">
                                <p> {{info.damage_type | getFirstCharacter |  uppercase | getNcharacters: 2}} </p>
                            </div>
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('10')" [ngClass]="info.damage_location_id == 10 ? 'hide': 'block'">
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </div>
          </span>
  
          <span *ngIf="!damageInfo">        
            <div class="right">
              <ion-grid>
                <ion-row>
                  <ion-col col-3>
                      <div class="first">
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('1')">
                      </div>
                  </ion-col>
  
                  <ion-col col-3>
                      <div class="second">
                        <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('2')">
                      </div>
                  </ion-col>
                  <ion-col offset-3>
                      <div class="fourth">
                        <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('3')">
                      </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
  
            <div class="middle">
                <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                        <div class="first">
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('4')">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="second">
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('5')">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="third">
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('6')">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="fourth">
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('7')">
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </div>
  
            <div class="left">
                <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                        <div class="first">
                            <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('8')">
                        </div>
                    </ion-col>
                    <ion-col col-3>
                        <div class="second">
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('9')">
                        </div>
                    </ion-col>
                    <ion-col offset-3>
                        <div class="fourth">
                          <img src="assets/icon/check-in/model-add.png" class="icon" (click)="openPopover('10')">
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </div>
          </span>
  
        </div>
  
      </div>
