<ion-content fullscreen id="splash">

              <lottie-animation-view
                    [options]="lottieConfig"
                    [width]="500"
                    [height]="950"
                    class="lottie-splash">
              </lottie-animation-view>
              
</ion-content>

<ion-footer no-border transparent>
      <div class="progress-outer">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            <p class="text-center">Preparing Application...</p>
      </div>
</ion-footer>
