page-splash {
    
    #splash{
        background-color: #0066cc;
    }

    #splash div, #splash canvas{
        height: 100% !important;
        width: 100% !important;
    //     margin-top: -15px;
    // transform: scale(1.09);
    }

    .lottie-splash {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .progress-outer {
        width: 100%;
        text-align: center;
        z-index: 9;
        position: absolute;
        top: calc(100% - 150px);

        p{
            // background: #0066cc !important;
            margin: 0;
            padding-top: 15px;
            color: #fff;
            font-size: 16px;
        }
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 40px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        margin: 6px;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    
    

}
