page-customer-profile {
    //large screen
    @media screen and (min-width: 900px) {
        .customer-profile .upload .box {
            width: 300px !important;
        }
    }


    .alert-head {
        display: block !important;
    }

    .page-content{
        color: #000;
        background-color: #fff;
        margin-top: 20px;
        position: absolute;
    }

    
    .customer-profile{
        .title{
            font-size: 30px;
            // font-weight: 500;
            padding: 20px 0;

            span{
                margin: 0 20px;
            }
            img{
                width: 40px;
            }

            .button, .delete-button{
                float: right;
                color: #000;
                box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32);
                border-radius: 100px;
                background-color: #ffffff;
                background-image: linear-gradient(-243deg, rgba(199, 225, 255, 0) 0%, rgba(114, 233, 255, 0.25) 100%);
                height: 50px;
                padding: 0 60px;
                font-size: 16px;
                margin-top: -10px;
                font-weight: 500;
                text-transform: capitalize;
            }
            .delete-button{
                background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
            }
        }

        .formfield {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #ccc;
            height: 35px;
            padding: 0 10px;
            margin: 10px 0;
        }

        .upload {
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            padding: 12px 20px;
            margin: 35px 0;

            .upload-title {
                font-size: 25px;
                margin-left: 15px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .box {
                border: 1px solid #b7b7b7;
                text-align: center;
                width: 45%;
                margin: 10px;
                cursor: pointer;
                max-height: 150px;

                .box-title {
                    font-size: 20px;
                    margin: 10px;
                }

                .icon{
                    width: 40px;
                }
                .image {
                    max-height: 150px;
                    width: 100%;
                    margin-bottom: -4px;
                }
            }


            .upload-small {
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                text-align: center;
                padding: 5px;

                img{
                    width: 40px;
                }
            }

            .delete-btn {
                button{
                    text-transform: capitalize;
                    color: #fff;
                    box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32);
                    border-radius: 100px;
                    background-color: #505050;;
                    height: 50px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }

}
