<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Customer Profile 
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
  
  <div>
  <form #form="ngForm" (ngSubmit)="saveCustomer(form.value)">
  <div class="page-content"> 
    <div class="container">
      <div class="customer-profile">
        <div class="title">
          <img src="assets/icon/users.png">
          <span>Customer Profile</span>     
          <span class="delete-button" (click)="showCustomerDeleteConfirmAlert()"> <p>Delete Customer</p></span>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col col-6 class="padding-right-10">
              <input type="text" class="formfield" placeholder="First Name" [ngModel]="customer.first_name | removeNull" name="first_name" (ngModelChange)="customer.first_name = $event">
            </ion-col>
            <ion-col col-6 class="padding-left-10">
              <input type="text" class="formfield" placeholder="Last Name" [ngModel]="customer.last_name | removeNull" name="last_name">
            </ion-col>
            <ion-col col-6 class="padding-right-10">
              <input type="number" class="formfield" placeholder="Phone" [ngModel]="customer.phone_number | removeNull" name="phone_number">
            </ion-col>
            <ion-col col-6 class="padding-left-10">
              <input type="email" class="formfield" placeholder="Email"  [ngModel]="customer.customer_email | removeNull" name="customer_email">
            </ion-col>
            <ion-col col-12>
              <input type="text" class="formfield" placeholder="Address Line 1" [ngModel]="customer.address_one | removeNull" name="address_one">
            </ion-col>
            <ion-col col-12>
              <input type="text" class="formfield" placeholder="Address Line 2" [ngModel]="customer.address_two | removeNull" name="address_two">
            </ion-col>
            <ion-col col-6 class="padding-right-10">
              <input type="text" class="formfield" placeholder="City" [ngModel]="customer.city | removeNull" name="city">
            </ion-col>
            <ion-col col-6 class="padding-left-10">
              <input type="text" class="formfield" placeholder="Country" [ngModel]="customer.country | removeNull" name="country">
            </ion-col>
            <ion-col col-6 class="padding-right-10">
              <input type="number" class="formfield" placeholder="Postal Code" [ngModel]="customer.postal_code | removeNull" name="postal_code">
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="upload">
          <div class="upload-title">
              Driver’s License
          </div>
          <div class="flex justify-center">
                  <div class="box" (click)="capture_dl_front()">
                    <img class="image" [src]="customer.dl_front" *ngIf="customer.dl_front" />
                  </div>
                  <div class="box" (click)="capture_dl_back()">
                    <img class="image" [src]="customer.dl_back" *ngIf="customer.dl_back" />
                  </div>
          </div>
        </div>

        <div class="upload">
            <div class="upload-title">
                Credit Card
            </div>
            <div class="flex justify-center">
                <div class="box" (click)="capture_cc_front()">
                  <img class="image" [src]="customer.cc_front" *ngIf="customer.cc_front" />
                </div>
                <div class="box" (click)="capture_cc_back()">
                  <img class="image" [src]="customer.cc_back" *ngIf="customer.cc_back" />
                </div>
            </div>
        </div>

        <div class="upload">
              <div class="upload-title">
                  Insurance Card
              </div>
              <div class="flex justify-center">
                  <div class="box" (click)="capture_ic_front()">
                    <img class="image" [src]="customer.ic_front" *ngIf="customer.ic_front" />
                  </div>
                  <div class="box" (click)="capture_ic_back()">
                    <img class="image" [src]="customer.ic_back" *ngIf="customer.ic_back" />
                  </div>
              </div>
        </div>

        <div class="vehicle-profile" style="padding-bottom: 10px;">
          <div class="title">
            <img src="assets/icon/car.png">
            <span>Vehicle Profile</span>
            <span class="button" (tap)="addVehicleBox()">
                  <p>
                      New Vehicle Profile
                  </p>
              </span>
          </div>
          <div class="upload" *ngFor="let i of vehicleNum;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <div class="upload-small" (tap)="scanBarcode(i)">
                    <img src="assets/icon/barcode.png" width="50px">
                    <p style="margin: 0"> SCAN</p>
                  </div>
                </ion-col>
                <ion-col offset-1 col-9>
                    <input type="text" class="formfield" placeholder="VIN #" [ngModel]="vin[i] | removeNull"  name="vin_number[{{i}}]" (ngModelChange)="getVehicleInfo($event, i)">
                </ion-col>
                <ion-col col-6 class="padding-right-10">
                    <input type="text" class="formfield" placeholder="Year" [ngModel]="year[i] | removeNull" name="year[{{i}}]">
                </ion-col>
                <ion-col col-6 class="padding-left-10">
                    <input type="text" class="formfield" placeholder="Make"  [ngModel]="make[i] | removeNull"  name="make[{{i}}]">
                </ion-col>
                <ion-col col-12>
                    <input type="text" class="formfield" placeholder="Model" [ngModel]="model[i] | removeNull"  name="model[{{i}}]">
                </ion-col>
                <ion-col col-6 class="padding-right-10">
                    <input type="number" class="formfield" placeholder="Plate #" [ngModel]="plate_num[i] | removeNull" name="plat_number[{{i}}]">
                </ion-col>
                <ion-col col-6 class="padding-left-10">
                    <input type="number" class="formfield" placeholder="Mileage" [ngModel]="mileage[i] | removeNull" name="mileage[{{i}}]">
                </ion-col>
                <ion-col offset-4 col-4>
                    <div class="delete-btn">
                        <button type="button" ion-button block large (click)="showVehicleConfirmAlert(i)">
                          <p>
                              Delete Profile
                          </p>
                        </button>
                      </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>

        <div class="my-btn">
          <div class="submit-btn">
            <button ion-button block large  >
              <p>
                  Update Customer Profile
              </p>
              &nbsp;
              <img src="assets/imgs/rounded-rectangle.png"> 
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
</div>
</ion-content>