<div class="container blue-bg">
    <ion-grid>
        <ion-row class="search-align">
          <ion-col col-md-8  col-12>
              <ion-searchbar class="searchbar" (ionInput)="filterCustomer($event)" placeholder="Search"></ion-searchbar>
          </ion-col>
          <ion-col col-md-4 col-12>
              <ion-item class="dropdown" (click)="gotoCreateCustomerPage()">
                  <ion-label class="text"> 
                    Create Customer 
                    <img class="customer-icon" src="assets/icon/customer.png">
                  </ion-label>
                </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>


<div class="page-content"> 
    <div class="component" *ngFor="let customer of filterData; let i = index">
        <div class="container"(click)="gotoCustomerProfile(customer)">
          <ion-grid>
            <ion-row>
              <ion-col col-11>
                <div class="component-content">
                  <div class="component-title">
                    {{customer.firstName}} {{customer.lastName}}
                  </div>
                  <div class="component-indicators"> 
                      <span class="indicator-div phone">
                          {{customer.phoneNumber}}
                      </span>
                    <span class="indicator-div indicator-primary">
                        {{customer.customerEmail}}
                    </span>
                  </div>
                </div>
              </ion-col>
              <ion-col col-1>
                <img src="assets/icon/assurant-drive-right-arrow-list.svg" class="component-arrow pull-right">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      <hr>
    </div>
</div>