<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
        Select Customer
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
          </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="content">


      <rental-manager-progress-bar
      total = "7"
      active = "1"
    >
    </rental-manager-progress-bar>

    <div class="body-content">
        <customer-list-2
                [listFor] = operation
        >
        </customer-list-2>
    </div>
  </ion-content>