<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/home/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
        <img src='{{dealer_logo}}'>
        {{dealer_name}}
    </ion-title>

  </ion-toolbar>

</ion-header>


<div id="blue-overlay" [class]="animate ? 'display-block expand' : 'display-none'"></div>

<ion-content>

  <div class="container">
      <div class="menu-container">
        <ul class='circle-container'>
          <li (click)="gotoAlertsDashboard('alerts')" [class]="menu == 'alerts' ? 'transferToCenter' : ''">
            <div>
                <img src='assets/icon/home/alerts.png' class="img">
                <div class="inside-image">
                  {{alertsCount}}
                </div>
            </div>
          </li>
          <li (click)="gotoCheckIn('checkin')" [class]="menu == 'checkin' ? 'transferToCenter' : ''">
              <img src='assets/icon/home/check-in.png'>
          </li>
          <li (click)="gotoRentalManager('rentals')" [class]="menu == 'rentals' ? 'transferToCenter' : ''">
              <img src='assets/icon/home/rentals.png'>
          </li>
          <li (click)="gotoVehiclesList('vehicles')" [class]="menu == 'vehicles' ? 'transferToCenter' : ''">
              <img src='assets/icon/home/vehicles.png'>
          </li>
          <li class="text">
            <span>TAP ICONS <br> TO LAUNCH</span>
          </li>
        </ul>
      </div>
  </div>


</ion-content>


<ion-footer no-border class="container">
  <div class="bottom-icon">
    <img src='assets/icon/home/Pocket_Drive_Logo_footer.png'>
  </div>
</ion-footer>