page-home {
  .toolbar-title-ios{
    color: #000000 !important;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 20px !important;

    img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

    /// @param {Integer} $item-count - Number of items on the circle
    /// @param {Length} $circle-size - Large circle size
    /// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $circle-size, $item-size) {  
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    border-radius: 50%;
    padding: 0; 
    list-style: none;
    
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      margin: -($item-size / 2);
      width:  $item-size;
      height: $item-size;
    
      $angle: (360 / $item-count);
      $rot: 225;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
          animation: fadein#{$i} $i * (0.5s);
         
        }

        // &:active {
        //   transform: translate(0, 0) ;  
        //   transition: 1s ease;
        // }
  
        $rot: $rot + $angle;
      }
    }
  }

  @keyframes expand {
    50%  {
      transform: scale(100);
    }
    100% {
      transform: scale(300);
      border-radius: 100%;
    }
  }
  @keyframes test {
    0% { transform: translate(5em, 5em); transition: 1s ease;}
    100% {  transform: translate(0, 0); transition: 1s ease; }
  }


  @keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; transform: translate(0, 1em); transition: 1s ease;}
    100% { opacity:1;}
  }

  @keyframes fadein1 {
    0% { opacity:0; }
    66% { opacity:0; transform: translate(-5em, -5em);  transition: 1s ease;}
    100% { opacity:1;}
  }

  @keyframes fadein2 {
    0% { opacity:0; }
    66% { opacity:0; transform: translate(5em, -5em) ;  transition: 1s ease;}
    100% { opacity:1;}
  }

  @keyframes fadein3 {
    0% { opacity:0; }
    66% { opacity:0; transform:translate(5em, 5em);  transition: 1s ease;}
    100% { opacity:1;}
  }

  @keyframes fadein4 {
    0% { opacity:0; }
    66% { opacity:0; transform: translate(-5em, 5em);  transition: 1s ease;}
    100% { opacity:1;}
  }

  ion-header, .toolbar-background-ios {
    background: #fff;
  }


  .transferToCenter{
    transform: translate(0) !important;
    transition: 1s ease !important;
  }

  .expand {
    animation: expand 1.5s cubic-bezier(.66, .35,.96,.38) forwards;
  }

  #blue-overlay {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: #0066cc;
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  
  .circle-container {
    @include on-circle($item-count: 4, $circle-size: 40vh, $item-size: 7em); 
    margin: 0 auto 0;
    border: dotted 3px #cacaca;
  
    img { 
      display: block; 
      max-width: 100%; 
      border-radius: 50%;
    }

    .text{
      font-size: 16px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px;
      background: #f5f5f5;
      height: 120px;
      border-radius: 100%;
      z-index: -1;
      height: 9em !important;
      width: 9em !important;
      top: 45%;
      left: 45%;

        span{
          color: #b5b5b5;
          animation: fadein 2.9s;
          // transition: 3s ease-in-out;
        }
    }

    .inside-image {
      position: absolute;
      top: 18px;
      right: 22px;
      background: red;
      color: #fff;
      border-radius: 100%;
      padding: 3px;
      font-size: 12px;
    }

    
  }
  .dot{
    background: #0066cc;
    width: 10px;
    height: 10px;
    right: 50%;
    position: absolute;
    z-index: -999;
  }

  .menu-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    margin: auto;
    align-items: center;
  }


  .bottom-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

    img{
      width: 150px;
      height: 60px;
    }
  }

  

  @media (max-width: 576px) {
    .text{
      font-size: 14px !important;
      width: 100px !important;
      height: 100px !important;
    }

    .inside-image{
      font-size: 10px !important;
      right: 18px !important;
    }
  }

}
