page-vehicle-list-with-animation {

    .arrow-up {
        transform: rotate(-180deg) !important;
        transition: transform 800ms ease;
    }
    
    .arrow-down {
        transform: rotate(0deg) !important;
        transition: transform 800ms ease;
    }

    .page-content{
        
        .gray-border{
            border: 1px solid #cccccc;
        }

        .search-section{
            // margin-top: -10px;

            .searchbar-input{
                border: 1px solid #cccccc;
                box-shadow: none !important;
            }

            .searchbar-search-icon {
                background-image: url(../assets/update/search.png) !important;
            }

            .advance-search-btn{
                background: rgba($color: #999999, $alpha: 1);
                border-radius: 10px;
                height: 40px;
                border-radius: 10px;
                border-bottom: #999999 1px solid;
                color: white;
                font-size: 18px;
                // padding-left: 15px;
                text-align: center;

                .advance-search-btn-content{
                    // padding-right: 15px;
                    width: 100%;

                    .dropdown-icon{
                        font-size: 20px;
                        // margin-left: 10px;
                    }
                }
        
            }

            .hide-advance-search-section{
                max-height: 0;
                overflow:hidden;
                transition: max-height 800ms, overflow 0s;
            }

            .show-advance-search-section{ 
                /* here comes the compromise, set a max-height that would for your usual contents*/
                max-height: 300px;
                overflow:auto;
                transition: max-height 800ms
            }


            .dropdown {
        
                ion-select {
                max-width: 100%;
                }
        
                .select-icon-inner {
                background: url('../assets/update/yellow-arrow-down.png') no-repeat;
                width: 15px !important;
                background-size: contain;
                height: 15px !important;
                border: none !important;
                left: -5px;
                // margin-top: -10px;
                }
            }

            .form-button .button{
                height: 40px !important;
                font-size: 18px !important;
                border-radius: 10px !important;
              }
        }


        
    }
    

    @media (max-width: 576px) {
        .advance-search-btn{
            font-size: 16px !important;
            // padding-left: 10px !important;

            .advance-search-btn-content{
            // padding-right: 8px !important;

                .dropdown-icon{
                    font-size: 18px;
                    // margin-left: 5px !important;
                }
            }
        }
    }

    @media (max-width: 370px) {
        .advance-search-btn{
            font-size: 15px !important;
            // padding-left: 6px !important;

            .advance-search-btn-content{
                // padding-right: 5px !important;
            }
        }

    }


}