<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Vehicle List
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
  <div class="page-content" id = "page-content">

    <div class="search-section container  ">
      <ion-grid>
        <ion-row class="search-align">
          <ion-col col-sm-9 col-8>
            <ion-searchbar id="searchbar" 
                          class="searchbar" 
                          [(ngModel)]="searchbarInput" 
                          (ionInput)="getItems($event)"
                          (ionCancel)="onSearchCancel($event)" 
                          placeholder="Search"
                          [style.opacity] = " !shoAdvanceMenu ? '1' : '0.5'"
                          >
            </ion-searchbar>
          </ion-col>
          <ion-col col-sm-3 col-4>
            <div class="advance-search-btn flex " (click)="toggleAdvanceMenu()">
              <div class="advance-search-btn-content">
                  {{ !shoAdvanceMenu ? 'Advanced' : 'Clear' }}
                  <ion-icon 
                      [name]=" !shoAdvanceMenu ? 'ios-arrow-down' : 'ios-arrow-up'"  
                      [class]=" !shoAdvanceMenu ? 'icon icon-md ion-ios-arrow-down dropdown-icon arrow-down' : 'icon icon-md ion-ios-arrow-down dropdown-icon arrow-up'">
                  </ion-icon>
              </div>
            </div>
          </ion-col>
          
          <div [class]=" !shoAdvanceMenu ? 'hide-advance-search-section' : 'show-advance-search-section' ">
            <ion-grid class="no-padding">
              <ion-row class="no-padding">
                  <ion-col col-md-6>
                      <div class="dropdown gray-border">

                          <ion-select  interface="{{interface}}" [(ngModel)]="vehicle_type" (ionChange) = "checkAdvanceSearchButton()">
                              <ion-option value="" selected>Vehicle Type</ion-option>
                              <ion-option *ngFor="let type of vehicleType" value="{{type.id}}">{{type.name}}</ion-option>
                          </ion-select>
                        <!-- <ion-select interface="{{interface}}" name="vehicle_type">
                          <ion-option value="-1" selected>Vehicle Type</ion-option>
                        </ion-select> -->
                      </div>
                    </ion-col>
                    <ion-col col-md-6>
                      <div class="dropdown gray-border">
                        <ion-select interface="{{interface}}" [(ngModel)]="model_type" (ionChange) = "checkAdvanceSearchButton()">
                          <ion-option value="" selected>Model</ion-option>
                          <ion-option *ngFor="let mtype of vehicleModels" value="{{mtype.model}}">{{mtype.model}}</ion-option>
                        </ion-select>
                      </div>
                    </ion-col>
                    <ion-col col-12>
                      <input type="text"  (keyup) = "checkAdvanceSearchButtonForTrim()"
                              class="gray-border"
                              placeholder="Trim and Features"
                              [(ngModel)]= "trimAndFeatures">
                    </ion-col>
                    <ion-col col-6>
                      <div class="dropdown gray-border">
                        <ion-select interface="{{interface}}" [(ngModel)]="vehicle_color" (ionChange) = "checkAdvanceSearchButton()">
                          <ion-option value="" selected>Vehicle Color</ion-option>
                          <ion-option *ngFor="let ctype of vehicleColor" value="{{ctype.id}}">{{ctype.color_name}}</ion-option>
                        </ion-select>
                      </div>
                    </ion-col>

                    <ion-col col-6>
                      <div class="dropdown gray-border">
                        <ion-select interface="{{interface}}" [(ngModel)]="location" (ionChange) = "checkAdvanceSearchButton()">
                            <ion-option value="" selected>Location</ion-option>
                          <ion-option value="1" >Lot In</ion-option>
                          <ion-option value="0">Lot Out</ion-option>
                        </ion-select>
                      </div>
                    </ion-col>
                    <ion-col col-12>
                        <div class="form-button">
                            <button ion-button block large (click)="doAdvanceSearch()" [disabled]="isAdvanceSearchDisabled">
                              Search
                            </button>
                        </div>
                    </ion-col>
              </ion-row>
            </ion-grid>
          </div><!--end advance-search-section-->
        </ion-row>
      </ion-grid>
    </div> <!-- end search-section-->

    <div *ngFor="let vehicle of filterData; let i = index;">

      <div  (click)="gotoVehicleProfileWithAnimation($event, i , vehicle)" attr.id="component{{i}}">
          <vehicle-detail-list-new [vehicle] = vehicle>
          </vehicle-detail-list-new>
      </div>

    </div>
      

  </div>

</ion-content>