page-rental-manager-select-vehicle {
    .slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}

       ion-slides {
           min-height: 100vh !important;
           overflow: scroll;
       }

    .page-content{

        .gray-border{
            border: 1px solid #cccccc;
        }

        .search-section{
            // margin-top: -10px;

            .searchbar-input{
                border: 1px solid #cccccc;
                box-shadow: none !important;
            }

            .searchbar-search-icon {
                background-image: url(../assets/update/search.png) !important;
            }

            .advance-search-btn{
                background: rgba($color: #999999, $alpha: 1);
                border-radius: 10px;
                height: 40px;
                border-radius: 10px;
                border-bottom: #999999 1px solid;
                color: white;
                font-size: 18px;
                // padding-left: 15px;
                text-align: center;

                .advance-search-btn-content{
                    // padding-right: 15px;
                    width: 100%;

                    .dropdown-icon{
                        font-size: 20px;
                        // margin-left: 10px;
                    }
                }
        
            }

            .hide-advance-search-section{
                max-height: 0;
                overflow:hidden;
                transition: max-height 800ms, overflow 0s;
            }

            .show-advance-search-section{ 
                /* here comes the compromise, set a max-height that would for your usual contents*/
                max-height: 300px;
                overflow:auto;
                transition: max-height 800ms
            }


            .dropdown {
        
                ion-select {
                max-width: 100%;
                }
        
                .select-icon-inner {
                background: url('../assets/update/yellow-arrow-down.png') no-repeat;
                width: 15px !important;
                background-size: contain;
                height: 15px !important;
                border: none !important;
                left: -5px;
                // margin-top: -10px;
                }
            }

            .form-button .button{
                height: 40px !important;
                font-size: 18px !important;
                border-radius: 10px !important;
              }
        }

        .component {
            // margin-top: 10px;

            .segment-md .segment-button{
            color: #999999;
            font-size: 20px;
            text-align: left !important;
            text-transform: capitalize;
            }

            .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
            border-color: #000 !important;
            color: #000000 !important;
            }

            .vehicleDiv{
                text-align: left !important;
            }
        }
    }
}
