<div class="component">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col col-sm-3 col-3 class="car-img" *ngIf="this.isTabletOrIpad">
          <img *ngIf="vehicle.model_image; else elsetag" class="header-img" src="{{baseUrl+vehicle.model_image}}">
          <ng-template #elsetag>
            <img class="header-img-default" src="assets/imgs/car-list.png">
          </ng-template>
          <!-- <img src="assets/imgs/car-list.png"> -->
        </ion-col>
        <ion-col col-sm-8 col-8>
          <div class="component-content">
            <p class="vinModel margin-0">
              {{vehicle.year}} {{vehicle.make}} {{vehicle.model_trim}}
            </p>
            <div class="component-title vinNumber">

              {{vehicle.vin_number}}
            </div>
            <div class="component-indicators" *ngIf="showIndicators">
              <span class="indicator-div indicator-black">
                {{vehicle.stock_number | valueOrNa}}
              </span>
              <!-- <span class="indicator-div" style="padding-left: 0" [innerHTML]="vehicle.stock_number | valueOrNa"> 
                  Stock #: {{vehicle.stock_number | valueOrNa}} 
              </span> -->
              <span class="indicator-div indicator-primary">
                {{vehicle.Vehicle_type}}
              </span>
              <!-- <span *ngIf="this.isTabletOrIpad">
                <span *ngIf="vehicle.battery_level < 12500" class="indicator-div indicator-danger">
                  <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                  {{vehicle.battery_level | volt}}V
                </span>
                <span *ngIf="vehicle.battery_level >= 12500 && vehicle.battery_level <= 13000" class="indicator-div indicator-warning">
                  <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                  {{vehicle.battery_level | volt}}V
                </span>
                <span *ngIf="vehicle.battery_level > 13000" class="indicator-div indicator-success">
                  <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                  {{vehicle.battery_level | volt}}V
                </span>

                <span *ngIf="vehicle.fuel_level < 20" class="indicator-div indicator-danger">
                  <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                  {{vehicle.fuel_level}}%
                </span>
                <span *ngIf="vehicle.fuel_level >= 20 && vehicle.fuel_level <= 30" class="indicator-div indicator-warning">
                  <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                  {{vehicle.fuel_level}}%
                </span>
                <span *ngIf="vehicle.fuel_level > 30" class="indicator-div indicator-success">
                  <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                  {{vehicle.fuel_level}}%
                </span>
              </span> -->
              <span class="indicator-div color-name" [style.background]="vehicle.int_color_code" *ngIf="vehicle.int_color_code">
                  IN
                </span>
                <span class="indicator-div color-name" [style.background]="vehicle.ext_color_code" *ngIf="vehicle.ext_color_code">
                    EX
                </span>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <img src="assets/icon/assurant-drive-right-arrow-list.svg" class="component-arrow pull-right">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
<hr class="margin-0">
