vehicle-detail-list {

  .component {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    text-transform: uppercase;

    .component-title {
      color: #000000;
      font-size: 29px;
      // font-weight: 700;
      margin-top: 0;
    }

    .component-arrow {
      width: 18px;
      padding-top: 20px;
    }

    .component-content {
      padding: 0 25px;
    }

    .component-indicators {
      margin-top: 15px;

      .indicator-div {
        border-radius: 5px;
        padding: 5px;
        padding-left: 7px;
        margin-right: 10px;

        .battery-icon {
          width: 15px;
        }

        .fuel-icon {
          width: 11px;
        }
      }

      .indicator-black {
        background-color: #333333;
        color: #f3f3f3;
      }

      .indicator-primary {
        background-color: #f3f3f3;
      }

      .indicator-success {
        background-color: #00aa58;
        color: white;
      }

      .indicator-danger {
        background-color: #ee3324;
        color: white;
      }

      .indicator-warning {
        background-color: #ebc200;
        color: white;
      }
    }

  }

  @media (max-width: 576px) {
    .component {
      padding: 8px 0;

      .component-content {
        font-size: 14px !important;
        padding: 0px 0px 0px 10px !important;
      }

      .component-title {
        font-size: 16px !important;
        font-weight: normal !important;
        ;
        margin-top: 5px !important;
      }

      .component-indicators {
        margin-top: 5px;
      }

    }
  }
}
