page-rental-manager-rental-information {

     //large screen
  @media screen and (min-width: 900px) {
    .upload .box {
      width: 300px !important;
    }
  }

    .hide-add-drive{
        max-height: 0;
        overflow:hidden;
        transition: max-height 500ms, overflow 0s;
    }

    .show-add-drive{ 
        /* here comes the compromise, set a max-height that would for your usual contents*/
        max-height: 800px;
        overflow:auto;
        transition: all 500ms
    }

    .title {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .flex-space-between{
        padding-top: 0px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input, textarea{
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        border-style: groove;
        border: 1px solid #cccccc;
    }

    .dropdown {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #cccccc;
        margin-bottom: 10px;
        font-weight: 500;
        padding-top: 5px;

        span{
            color: gray;
            padding: 0 10px;
        }

        ion-select {
          max-width: 100%;
        }

        .select-md {
            padding: 3px 10px !important;
            margin-right: 10px !important;
        
          .select-icon{
            width: 13px !important;
          }
        }

        .select-icon-inner {
          background: url(../assets/icon/assurant-drive-right-arrow-list.svg) no-repeat !important;
          transform: rotate(90deg);
          width: 15px !important;
          background-size: contain;
          height: 15px !important;
          border: none !important;
          left: 0px;
        }
      }

      .toggle-btn{
        float: right;
    }

    .toggle-md {
        width: 50px;
        padding: 12px 0;

        .toggle-inner {
            margin-top: 5px;
            width: 17px;
            height: 17px;
        }
        .toggle-icon{
            height: 21px;
            width: 40px;
        }
    }

    .toggle-ios {
        // width:50px !important;
        padding: 12px 0;
    }

     .toggle-md.toggle-checked .toggle-inner{
        transform: translate3d(22px, 0, 0);
        background-color: white;
    }
    .toggle-md.toggle-checked .toggle-icon {
        background-color: #005cb9;
    }

    .toggle-ios.toggle-checked .toggle-inner{
        transform: translate3d(22px, 0, 0);
        background-color: white;
    }
    .toggle-ios.toggle-checked .toggle-icon {
        background-color: #005cb9;
    }


    .upload {
        .upload-title {
          font-size: 16px;
          margin-left: 10px;
          font-weight: 500;
          margin-top: 20px;
        }
  
        .box {
          border: 1px solid #b7b7b7;
          text-align: center;
          width: 45%;
          margin: 10px;
          cursor: pointer;
          max-height: 150px;
          border-radius: 10px;
  
          .icon {
            width: 20px;
            padding-top: 40px;
          }
  
          p {
            margin-top: 5px;
            padding-bottom: 30px;
            color: gray;
          }
  
          .image {
            max-height: 150px;
            width: 100%;
            margin-bottom: -4px;
            padding-bottom: 2px;
            border-radius: 10px;
          }
        }
  
  
        .upload-small {
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
          border-radius: 5px;
          text-align: center;
          padding: 5px;
  
          img {
            width: 40px;
          }
        }
      }


    .bottom-icon{
        margin-top: 10px;
        z-index: 9999;
        display: flex;
        justify-content: center;
        width: 100%;
  
            .img_div{
                background: #F9A11B;
                padding: 10px; 
                border-radius: 10px;
                color: white;
                font-size: 16px;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
      }
}
