<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Rental Information
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

    <rental-manager-progress-bar
    total = "7"
    active = "6"
  >
  </rental-manager-progress-bar>


    <div class="page-content">

        <div class="component" id="component">

          <div class="container">
            
            <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <div class="title">
                      Rental Type
                    </div>
                  </ion-col>
                  <ion-col col-12>
                    <div class="dropdown">
                      <ion-select interface="{{interface}}" name="rentalType" [(ngModel)]="rentalType" (ionChange)="onChangeRentalType()">
                        <ion-option value="-1" disabled>Select Status</ion-option>
                        <ion-option *ngFor="let type of rentalTypes" value="{{type.id}}">{{type.name}}</ion-option>
                      </ion-select>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <div class="title">
                      Fee
                    </div>
                  </ion-col>
                  <ion-col col-12>
                    <div class="dropdown flex-space-between">
                      <span> ${{rentalFee}} </span>
                      <span style="float:right"> /mo</span>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <div class="title">
                      Service Advisor
                    </div>
                  </ion-col>
                  <ion-col col-12>
                    <div class="">
                     <input type="text" [(ngModel)]="serviceAdvisor">
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <div class="title">
                      RO#
                    </div>
                  </ion-col>
                  <ion-col col-12>
                    <div class="">
                     <input type="text" [(ngModel)]="roNumber">
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <div class="title">
                      Pick-up Date + Time
                    </div>
                  </ion-col>
                  <ion-col col-12>
                    <div class="dropdown flex-space-between">
                        <span style="padding-left: 0;"> 
                            <ion-datetime displayFormat="MMM DD, YY | h:mm A" [(ngModel)]="pickupDate"></ion-datetime>
                        </span>
                      <span style="float:right"> <ion-icon name="md-calendar"></ion-icon></span>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                      <div class="title">
                        Drop-off Date + Time
                      </div>
                    </ion-col>
                    <ion-col col-12>
                      <div class="dropdown flex-space-between">
                          <span style="padding-left: 0;"> 
                              <ion-datetime [disabled]= "!pickupDate" displayFormat="MMM DD, YY | h:mm A" [(ngModel)]="dropoffDate" [min] = "pickupDate"></ion-datetime>
                          </span>
                        <span style="float:right"> <ion-icon name="md-calendar"></ion-icon></span>
                      </div>
                    </ion-col>
                  </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <div class="title flex">
                      Additional Driver &nbsp;&nbsp;&nbsp;
                      <div class="toggle-btn">
                          <ion-toggle [(ngModel)]="addDriver"></ion-toggle>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col col-12 class="no-padding">
                      <div [class]=" !addDriver ? 'hide-add-drive' : 'show-add-drive' ">
                          <ion-grid class="no-padding">
                            <ion-row class="no-padding">
                                <ion-col col-12>
                                    <div class="title">
                                      First Name
                                    </div>
                                  </ion-col>
                                <ion-col col-12>
                                    <input type="text" class="formfield" placeholder="First Name" name="FirstName" [(ngModel)]="driver.FirstName">
                                  </ion-col>

                                  <ion-col col-12>
                                      <div class="title">
                                        Last name
                                      </div>
                                    </ion-col>
                                  <ion-col col-12>
                                    <input type="text" class="formfield" placeholder="Last Name"  name="LastName" [(ngModel)]="driver.LastName">
                                  </ion-col>
                            </ion-row>
                          </ion-grid>
                          <div class="upload">
                            <div class="upload-title">
                                Driver’s License
                            </div>
                            <div class="flex justify-center">
                                    <div class="box" (click)="capture_dl_front()">
                                      <div *ngIf="!driver.DLFront">
                                        <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                                        <p>Upload Front</p>
                                      </div>
                                      <img class="image" [src]="driver.DLFront" *ngIf="driver.DLFront" />
                                    </div>
                                    <div class="box" (click)="capture_dl_back()">
                                      <div *ngIf="!driver.DLBack">
                                        <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                                        <p>Upload Back</p>
                                      </div>
                                      <img class="image" [src]="driver.DLBack" *ngIf="driver.DLBack" />
                                    </div>
                            </div>
                          </div>
                          
                          <div class="upload">
                                <div class="upload-title">
                                    Insurance Card
                                </div>
                                <div class="flex justify-center">
                                    <div class="box" (click)="capture_ic_front()">
                                      <div *ngIf="!driver.ICFront">
                                        <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                                        <p>Upload Front</p>
                                      </div>
                                      <img class="image" [src]="driver.ICFront" *ngIf="driver.ICFront" />
                                    </div>
                                    <div class="box" (click)="capture_ic_back()">
                                      <div *ngIf="!driver.ICBack">
                                        <img class="icon" src="assets/icon/upload-logo-assign-loaner.png">
                                        <p>Upload Back</p>
                                      </div>
                                      <img class="image" [src]="driver.ICBack" *ngIf="driver.ICBack" />
                                    </div>
                                </div>
                          </div>
                        </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <div class="">
                      <span> 
                          <textarea rows="3" placeholder="Additional Notes"  maxlength="250" [(ngModel)]="note"></textarea>
                      </span>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="no-padding">
                        <div class="bottom-icon" id="bottom-icon"> 
                            <div class="img_div" (click)="gotoRentalInformation2()">
                                Review & Sign
                            </div>
                          </div>
                    </ion-col>
                </ion-row>
                
            </ion-grid>
          </div>

        </div> <!-- ends component -->
  
    </div><!-- ends page-content-->
</ion-content>

   