<div class="component">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col col-sm-12 col-12>
          <div class="component-content">
            <p [ngClass]="hasAlert ? 'vinModel margin-0 has-alert' : 'vinModel margin-0'">
                {{vehicle.year}} {{vehicle.make}} {{vehicle.model_trim}}
            </p>
            <div class="component-title-new vinNumber">
                {{vehicle.vin_number}}
            </div>
            <div class="component-indicators">

                <span class="indicator-div-new indicator-light-gray">
                  <img *ngIf="vehicle.in_out_location == 0" src="assets/icon/rental-manager/off-lot.png" class="lot-icon">
                  <img *ngIf="vehicle.in_out_location == 1" src="assets/icon/rental-manager/in-lot.png" class="lot-icon">
                </span>
              <span class="indicator-div-new indicator-black" [innerHTML]="vehicle.stock_number | valueOrNa">
              </span>
              <span class="indicator-div-new indicator-primary">
                {{vehicle.Vehicle_type}}
              </span>

              <div class="pull-right auto-margin-left">
                <span class="indicator-div-new color-name" [style.background]="vehicle.int_color_code" *ngIf="vehicle.int_color_code">
                    IN
                  </span>
                  <span class="indicator-div-new color-name" [style.background]="vehicle.ext_color_code" *ngIf="vehicle.ext_color_code">
                      EX
                  </span>
              </div>
              <!-- <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                        <div class="pull-right">
                            <span class="indicator-div-new color-name" [style.background]="vehicle.int_color_code" *ngIf="vehicle.int_color_code">
                                IN
                              </span>
                              <span class="indicator-div-new color-name" [style.background]="vehicle.ext_color_code" *ngIf="vehicle.ext_color_code">
                                  EX
                              </span>
                          </div>
                    </ion-col>
                  </ion-row>
                </ion-grid> -->
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>