vehicle-detail-list-new {
    .component {
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        border-bottom: 1px solid #f3f3f3;

        .component-title-new {
        color: #000000;
        font-size: 20px;
        // font-weight: 700;
        margin-top: 0;
        }

        .component-arrow {
        width: 18px;
        padding-top: 20px;
        }

        .component-content {
        // padding: 0 25px;

            .vinModel {
                font-size: 22px;
            }

            .has-alert {
                color: red;

                &:after {
                    content: "";
                    margin-left: 5px;
                    height: 5px;
                    width: 5px;
                    border-radius: 100%;
                    background: red;
                    display: inline-block;
                    top: 5;
                    position: absolute;
                }
            }
            
            .component-indicators {
                margin-top: 5px;

                .indicator-div-new {
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 5px;
                    padding-left: 7px;
                    margin-right: 10px;

                    .lot-icon {
                    width: 25px;
                    }
                    
                }

                .indicator-black {
                    background-color: #333333;
                    color: #f3f3f3;
                    // margin-left: 30px;
                }

                .indicator-gray {
                    background-color: #666666;
                    color: #f3f3f3;
                }
                .indicator-light-gray {
                    // background-color: #999999;
                    // color: #f3f3f3;
                    // position: absolute;
                    padding: 0;
                    left: 5px;
                }

                .indicator-primary {
                    background-color: #f3f3f3;
                }

                .indicator-success {
                    background-color: #00aa58;
                    color: white;
                }

                .indicator-danger {
                    background-color: #ee3324;
                    color: white;
                }

                .indicator-warning {
                    background-color: #ebc200;
                    color: white;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .component {
            padding: 8px 0;
      
            .component-content {
              font-size: 14px !important;
            //   padding: 0px 0px 0px 10px !important;
            }

            .vinModel {
                font-size: 19px !important;
            }
      
            .component-title-new {
              font-size: 18px !important;
              font-weight: normal !important;
              margin-top: 5px !important;
            }
      
            .component-indicators {
              margin-top: 5px;
            }

            .indicator-div-new {
                font-size: 16px !important;
                margin-right: 6px !important;
            }

            .component-indicators {
                margin-top: 5px;
              }

            .indicator-black {
                // margin-left: 35px;
            }
      
          }
    }

    @media (max-width: 400px) {
        .indicator-div-new {
            font-size: 14px !important;
        }
    }


}
