header-vehicle-detail {
    .sub-header{
        margin-top: 0px;
        text-transform: uppercase;
        
        .vehicle-detail{
            p{
                color:white;
                font-size: 25px !important;
                margin: 0 0 10px 0px;
                font-weight: 500;
            }
        
            .component-indicators{

                .indicator-div{
                    border-radius: 5px;
                    padding: 5px;
                    padding-left: 7px;
                    margin-right: 10px;
                    font-size:13px;

                    .battery-icon{
                        width: 15px;
                    }
                    .fuel-icon{
                        width:11px;
                    }
                }
                .indicator-black {
                    background-color: #333333;
                    color: #f3f3f3;
                  }

                .indicator-primary{
                    background-color: #f3f3f3;
                }

                .indicator-success{
                    background-color: #00aa58;
                    color:white;
                }

                .indicator-danger{
                    background-color: #ee3324;
                    color:white;
                }

                .indicator-warning{
                    background-color: #ebc200;
                    color:white;
                }
            }
        }

        .vehicle-img{
            padding: 10px 0;
            padding-left: 25px;
            width: 235px;
            float: right;
        }
    }
    @media (max-width: 576px) {
    .vehicle-detail {
        .indicator-div {
          border-radius: 5px;
          padding: 4px;
          padding-left: 5px;
          margin-right: 7px;
          text-transform: uppercase;
          font-size: 11px !important;

          img {
            height: 12px !important;
            width: auto !important;
          }

          .fuel-icon {
            margin-bottom: -3px;
          }
        }

      }

      .main-title {
        font-size: 24px;
        font-weight: normal;

        small {
          font-weight: 400;
          font-size: 14px;
        }
      }

      .header-img-default {
        margin: 10px 0;
      }
    }
}
