
    <div class="sub-header container">
        <ion-grid>
          <ion-row>
              <ion-col col-md-7 col-12>
                <div class="vehicle-detail">
                  <p> {{vehicle.year}} {{vehicle.make}} {{vehicle.model_trim}}
                    <br>
                  <span style="font-size:20px; text-transform: capitalize">
                    {{vehicle.vin_number}}
                  </span>
                  </p>
                  <div class="component-indicators" *ngIf="checkin_type != 3"> 
                      <span class="indicator-div indicator-black" [innerHTML] = "vehicle.stock_number | valueOrNa">
                          <!-- {{vehicle.stock_number | valueOrNa}} -->
                        </span>
                      <span class="indicator-div indicator-primary"  *ngIf="vehicle.Vehicle_type">
                        {{vehicle.Vehicle_type}}
                      </span>
                      <span *ngIf="vehicle.battery_level < 12500" class="indicator-div indicator-danger">
                        <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                        {{vehicle.battery_level | volt}}V
                      </span>
                      <span *ngIf="vehicle.battery_level >= 12500 && vehicle.battery_level <= 13000" class="indicator-div indicator-warning">
                          <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                          {{vehicle.battery_level | volt}}V
                      </span>
                      <span *ngIf="vehicle.battery_level > 13000" class="indicator-div indicator-success">
                          <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                          {{vehicle.battery_level | volt}}V
                      </span>
  
                      <span *ngIf="vehicle.fuel_level < 20" class="indicator-div indicator-danger">
                        <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                          {{vehicle.fuel_level}}%
                      </span>
                      <span *ngIf="vehicle.fuel_level >= 20 && vehicle.fuel_level <= 30" class="indicator-div indicator-warning">
                          <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                            {{vehicle.fuel_level}}%
                      </span>
                      <span *ngIf="vehicle.fuel_level > 30" class="indicator-div indicator-success">
                        <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                          {{vehicle.fuel_level}}%
                      </span>
  
                      <span>
                          <img *ngIf="checkin_type == 1" class="check_in_type" src="assets/icon/check-in/qodelogix-checkin-vehicle-new-inventory.svg"> 
                          <img *ngIf="checkin_type == 2" class="check_in_type" src="assets/icon/check-in/qodelogix-checkin-vehicle-dealer-trade.svg"> 
                      </span>
                      
                  </div>
                  <div *ngIf="show_spray_name == 1">
                    <div class="color-spray-display flex" no-padding *ngIf="vehicle.int_color_code || vehicle.ext_color_code">
                        <img class="spray-icon" src="assets/icon/car-paint-icon.svg">
                        <div class="color-spray-item" *ngIf="vehicle.int_color_code">
                              <span class="color-name" [style.background]="vehicle.int_color_code">IN</span>
                              <span>{{vehicle.int_color_name}}</span>
                        </div>
                        <div class="color-spray-item padding-left-10" *ngIf="vehicle.ext_color_code"> 
                              <span class="color-name" [style.background]="vehicle.ext_color_code">EX</span>
                              <span>{{vehicle.ext_color_name}}</span>
                        </div>
                    </div>
                  </div>
                </div>
              </ion-col>
              <ion-col col-5 *ngIf="isTabletOrIpad">
                <div class="vehicle-img" *ngIf="checkin_type == 3" style="width:180px">
                  <img *ngIf="vehicle.model_image; else elsetag" src="{{baseUrl+vehicle.model_image}}" >
                  <ng-template #elsetag>
                    <img src="assets/imgs/car-list.png">
                  </ng-template>
                </div>
                <div class="vehicle-img" *ngIf="checkin_type != 3">
                  <img *ngIf="vehicle.model_image; else elsetag" src="{{baseUrl+vehicle.model_image}}" >
                  <ng-template #elsetag>
                    <img src="assets/imgs/car-list.png">
                  </ng-template>
                </div>
  
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
