page-map {

  .mobilePopVin .black-text{
    color: #fff !important;
  }
  .displayVehicleInfoInMobileOnly{
    display: none;
  }
  .searchbar-clear-icon {
    display: none !important;
    }

  ion-app.ios [padding] .scroll-content {
    padding: 0;
  }

  .scroll-content {
    overflow-y: hidden;
  }

  .search-align {
    display: flex;
    justify-content: center;
    align-items: center;

    .dropdown {
      color: #fff;
      border-radius: 10px;
      // font-weight: 500;
      background: rgba($color: #fff, $alpha: .25);

      ion-select {
        max-width: 100%;
      }

      .select-icon-inner {
        background: url('../assets/icon/qodelogix-dropdown-arrow-white.svg') no-repeat;
        width: 15px !important;
        background-size: contain;
        height: 15px !important;
        border: none !important;
        left: -5px;
      }
    }
  }

  .page-content {
    height: 100%;
    font-weight: 500;

    .vehicle-list {
      position: absolute;
      z-index: 99;
      // background: rgba(33, 33, 33, 0.1);
      box-shadow: 0 6px 29px rgba(38, 105, 149, 0.32);
      // background-color: #ffffff;
      // height: 100%;
      height: 95%;
      padding: 15px 20px;
      width: 36%;
      overflow-y: auto;

      .title {
        // font-size: 25px;
        margin: 0;
      }

      .vehicle {
        background-color: #f6f6f6;
        border-radius: 5px;
        padding: 10px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin-bottom: -5px;
      }
    }

    .map-content {
      // background: #aaa;
      height: 100%;
      width: 65%;
      float: right;
    }

    .vehicle-detail {
      .car-img img {
        padding: 20px 0;
        width: 225px;
      }

      .component-indicators {
        margin-top: 7px;
        font-weight: 400;

        .indicator-div {
          border-radius: 5px;
          padding: 5px;
          padding-left: 7px;
          margin-right: 10px;

          .battery-icon {
            width: 15px;
          }

          .fuel-icon {
            width: 11px;
          }
        }

        .indicator-black {
          background-color: #333333;
          color: #ffffff;
        }

        .indicator-primary {
          background-color: #f3f3f3;
        }

        .indicator-success {
          background-color: #00aa58;
          color: white;
        }

        .indicator-danger {
          background-color: #ee3324;
          color: white;
        }

        .indicator-warning {
          background-color: #ebc200;
          color: white;
        }
      }

      .submit-btn {
        p {
          color: #000;
          border-radius: 100px;
          background-color: #fe9900;
          color: #fff;
          font-size: 16px;
          height: 50px;
        }
      }

      .toggle-section {
        font-weight: 700;
        display: flex;
        font-size: 16px;
        margin: 20px 0;

        .toggle-btn {
          margin-left: 25px;

          .toggle-md {
            width: 50px;
            padding: 12px 0;
            padding-top: 3px;

            .toggle-inner {
              margin-top: 4px;
              width: 14px;
              height: 14px;
            }

            .toggle-icon {
              height: 16px;
              width: 35px;
            }
          }

          .toggle-ios {
            // width:50px !important;
            padding: 0;
          }

          .toggle-md.toggle-checked .toggle-inner {
            transform: translate3d(22px, 0, 0);
            background-color: white;
          }

          .toggle-md.toggle-checked .toggle-icon {
            background-color: #005cb9;
          }

          .toggle-ios.toggle-checked .toggle-inner {
            transform: translate3d(22px, 0, 0);
            background-color: white;
          }

          .toggle-ios.toggle-checked .toggle-icon {
            background-color: #005cb9;
          }

        }
      }
    }

    .map-vehicle-detail {
      position: absolute;
      z-index: 9999;
      bottom: 25px;
      margin: 0 20px;
      padding: 20px;
      box-shadow: 0 6px 29px rgba(38, 105, 149, 0.32);
      border-radius: 10px;
      background-color: #ffffff;
      font-weight: 400;
      width: 88%;

      .car-img {
        padding-top: 20px;
      }

      .info {
        // padding-left: 10px;
        margin-top: -15px;
        font-size: 16px;
        font-weight: 400;
        color: #999999 !important;

        .vehicle-name {
        }
        .bold-black{
          color: #000;
        }

        .vehicle-vin-number{
          color: #005cb9 !important;
        }

        .component-indicators {
          margin-top: 7px;

          .indicator-div {
            border-radius: 5px;
            padding: 5px;
            padding-left: 7px;
            margin-right: 10px;

            .battery-icon {
              width: 15px;
            }

            .fuel-icon {
              width: 11px;
            }
          }

          .indicator-primary {
            background-color: #f3f3f3;
          }

          .indicator-success {
            background-color: #00aa58;
            color: white;
          }

          .indicator-danger {
            background-color: #ee3324;
            color: white;
          }

          .indicator-warning {
            background-color: #ebc200;
            color: white;
          }
        }
      }

      .toggle-section {
        font-weight: 700;
        display: flex;
        font-size: 14px;

        .toggle-btn {
          margin-left: 25px;

          .toggle-md {
            width: 50px;
            padding: 12px 0;
            padding-top: 3px;

            .toggle-inner {
              margin-top: 4px;
              width: 14px;
              height: 14px;
            }

            .toggle-icon {
              height: 16px;
              width: 35px;
            }
          }

          .toggle-ios {
            // width:50px !important;
            padding: 0;
          }

          .toggle-md.toggle-checked .toggle-inner {
            transform: translate3d(22px, 0, 0);
            background-color: white;
          }

          .toggle-md.toggle-checked .toggle-icon {
            background-color: #005cb9;
          }

          .toggle-ios.toggle-checked .toggle-inner {
            transform: translate3d(22px, 0, 0);
            background-color: white;
          }

          .toggle-ios.toggle-checked .toggle-icon {
            background-color: #005cb9;
          }

        }
      }

      .vin-list {
        max-height: 147px;
        overflow-y: auto;

        .vin {
          border-radius: 5px;
          background: rgba(204, 204, 204, 0.18);
          padding: 10px;
          text-align: center;
          font-size: 14px;
        }
      }


      .submit-btn {
        p {
          color: #fff;
          border-radius: 100px;
          border-radius: 100px;
          background-color: #fe9900;
          font-size: 15px;
          height: 50px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .displayVehicleInfoInMobileOnly{
      display: block;
    }

    .map-content {
      width: 100% !important;
    }
    #map{
      height: 85% !important;
    }
    .zoom-btn-container{
      bottom: 75px !important;
    }

  }


}
