<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Map
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
  <div class="page-content" id="page-content">

    <div class="blue-bg container">
      <ion-grid>
        <ion-row class="search-align">
          <ion-col col-sm-6 col-12>
            <ion-searchbar class="searchbar" (ionInput)="searchItemsByVin($event)" placeholder="Search"></ion-searchbar>
          </ion-col>
          <!-- <ion-col col-sm-3 col-6>
            <div class="dropdown">
              <ion-select interface="{{interface}}" [(ngModel)]="vehicle_status" name="vehicle_status" (ngModelChange)="OnVehicleStatusChange($event)">
                <ion-option value="-1">Vehicle Status</ion-option>
                <ion-option *ngFor="let type of vehicleType" value="{{type.name}}">{{type.name}}</ion-option>
              </ion-select>
            </div>
          </ion-col> -->
          <ion-col col-sm-3 col-6>
            <div class="dropdown">
              <ion-select interface="{{interface}}" [(ngModel)]="vehicle_lot" name="vehicle_lot" (ngModelChange)="OnVehiclesLotChange($event)">
                <ion-option value="1">Vehicles On-Lot</ion-option>
                <ion-option value="0">Vehicles Off-Lot</ion-option>
              </ion-select>
            </div>
          </ion-col>
          <ion-col col-sm-3 col-6>
            <div class="dropdown">
              <ion-select interface="{{interface}}" [(ngModel)]="alert_type" name="alert_type" (ngModelChange)="OnAlertTypeChange($event)">
                <ion-option value="-1">Alert Type</ion-option>
                <ion-option value="0">Battery Alerts</ion-option>
                <ion-option value="1">Fuel Alerts</ion-option>
                <ion-option value="2">Mileage Alerts</ion-option>
                <ion-option value="3">GPS Alerts</ion-option>
                <ion-option value="4">Disconnect Alerts</ion-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="vehicle-list" *ngIf="isTabletOrIpad">
      <div class="text-center" *ngIf="loadingVehicles">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <div>
        <div *ngIf="!displayVehicleInfo">
          <!-- <h1 class="title">Results</h1> -->
          <ion-list>
            <ion-item no-lines text-wrap *ngFor="let v of filterData" (tap)="selectVehicle(v)" style="padding-left:0">
              <div style="color: #999; font-size: 18px;font-weight: 500;">
                {{v.vin_number}}
              </div>
              <div style="color: #000;font-size: 18px;font-weight: 500;">
                {{v.year}} {{v.make}} {{v.model_trim}}
              </div>
            </ion-item>
          </ion-list>
          <!-- <p class="vehicle" *ngFor="let v of filterData" (tap)="selectVehicle(v)">{{v.vin_number}} </p> -->
        </div>
        <div *ngIf="displayVehicleInfo">
          <div class="vehicle-detail"  style="height: 81vh;overflow-y: auto;">
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <p (click)="closeVehicleDetail()" style="color: #11a2cf;font-size: 12px">
                    <ion-icon name="arrow-back"></ion-icon> Back
                  </p>
                </ion-col>
                <ion-col col-12>
                  <div style="color: #999; font-size: 18px;font-weight: 500;">
                    {{selectedMarker.vin_number}}
                  </div>
                  <div style="color: #000;font-size: 24px;font-weight: 500;">
                    {{selectedMarker.year}} {{selectedMarker.make}} {{selectedMarker.model_trim}}
                  </div>
                </ion-col>
                <ion-col col-12>
                  <div class="component-indicators">
                    <span class="indicator-div indicator-black" [innerHTML]="selectedMarker.stock_number | valueOrNa">
                      <!-- {{selectedMarker.stock_number | valueOrNa}} -->
                    </span>
                    <span class="indicator-div indicator-primary">
                      {{selectedMarker.Vehicle_type | uppercase}}
                    </span>
                  </div>
                  <div class="component-indicators" style="padding-top: 8px">
                    <span *ngIf="selectedMarker.battery_level < 12500" class="indicator-div indicator-danger">
                      <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                      {{selectedMarker.battery_level | volt}}V
                    </span>
                    <span *ngIf="selectedMarker.battery_level >= 12500 && selectedMarker.battery_level <= 13000" class="indicator-div indicator-warning">
                      <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                      {{selectedMarker.battery_level | volt}}V
                    </span>
                    <span *ngIf="selectedMarker.battery_level > 13000" class="indicator-div indicator-success">
                      <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                      {{selectedMarker.battery_level | volt}}V
                    </span>

                    <span *ngIf="selectedMarker.fuel_level < 20" class="indicator-div indicator-danger">
                      <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                      {{selectedMarker.fuel_level}}%
                    </span>
                    <span *ngIf="selectedMarker.fuel_level >= 20 && selectedMarker.fuel_level <= 30" class="indicator-div indicator-warning">
                      <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                      {{selectedMarker.fuel_level}}%
                    </span>
                    <span *ngIf="selectedMarker.fuel_level > 30" class="indicator-div indicator-success">
                      <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                      {{selectedMarker.fuel_level}}%
                    </span>

                  </div>
                </ion-col>
                <ion-col col-12 class="car-img">
                  <img *ngIf="selectedMarker.model_image; else elsetag" src="{{baseUrl+selectedMarker.model_image}}">
                  <ng-template #elsetag>
                    <img src="assets/imgs/car-list.png">
                  </ng-template>
                </ion-col>
                <ion-col col-12>
                  <div class="submit-btn">
                    <p ion-button block large (click)="gotoVehicleProfile(selectedMarker)">
                      View Vehicle
                    </p>
                  </div>
                </ion-col>
                <ion-col col-12>
                  <div class="toggle-section">
                    Surrounding Vehicles
                    <span class="toggle-btn">
                      <ion-toggle [(ngModel)]="displaySurroundingVehicles" (ngModelChange)="toggleSurroundingVehicles(selectedMarker)"></ion-toggle>
                    </span>
                  </div>
                </ion-col>
                <ion-col col-12>
                  <ion-list *ngIf="displaySurroundingVehicles; else noSurroundingVehicle">
                    <ion-item no-lines text-wrap *ngFor="let v of surroundingVehicles" style="padding-left:0">
                      <div style="color: #999; font-size: 16px;font-weight: 500;">
                        {{v.vin_number}}
                      </div>
                      <div style="color: #000;font-size: 16px;font-weight: 500;">
                        {{v.year}} {{v.make}} {{v.model_trim}}
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>

    </div>
    <div class="map-content">
      <div #map id="map" style="width:100%; height:95%"></div>
    </div>

    <div class="displayVehicleInfoInMobileOnly">
      <div *ngIf="displayVehicleInfo">
          <div class="map-vehicle-detail" *ngIf="selectedMarker">
            <ion-grid>
              <ion-row>
                
                  <ion-col col-12 (click)="closeVehicleDetail()">
                      <img src="assets/icon/white-cross.png" style="width:12px;float:right;margin-top: -15px;">
                  </ion-col>
                <!-- <ion-col col-3 class="car-img">
                  <img *ngIf="selectedMarker.model_image; else elsetag" src="{{baseUrl+selectedMarker.model_image}}" >
                  <ng-template #elsetag>
                    <img src="assets/imgs/car-list.png">
                  </ng-template>
                </ion-col> -->
                <ion-col col-12>
                  <div class="info">
                    <ion-grid class="no-padding">
                      <ion-row class="no-padding">
                        <ion-col col-12 class="no-padding">
                            <span class="vehicle-name bold-black">{{selectedMarker.year}} {{selectedMarker.make}} {{selectedMarker.model_trim}}</span>
                        </ion-col>
                        <ion-col col-12 class="no-padding">
                            <span class="vehicle-vin-number">{{selectedMarker.vin_number}} </span>
                        </ion-col>
                        <ion-col col-12 class="no-padding mobilePopVin" [innerHTML]="selectedMarker.stock_number | valueOrNa">
                            <!-- <span>{{selectedMarker.stock_number | valueOrNa}} </span> -->
                        </ion-col>
                        <ion-col col-6 class="no-padding">
                            Battery: <span class="bold-black">{{selectedMarker.battery_level | volt}}V</span>
                        </ion-col>
                        <ion-col col-6 class="no-padding">
                           <div style="float:right">Fuel: <span class="bold-black">{{selectedMarker.fuel_level}}V</span> </div>
                        </ion-col>
                        <ion-col col-12 class="no-padding">
                            Mileage: <span class="bold-black">{{selectedMarker.mileage + selectedMarker.km_buffer | number : fractionSize}}km</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    </div>
<!--                       
                      <br>
                      
                      <div class="vehicle-info">
                        <span>{{selectedMarker.stock_number | valueOrNa}}</span>
                        <span>{{selectedMarker.stock_number | valueOrNa}}</span>

                      </div>
                      
                      <div class="component-indicators"> 
                          <span class="indicator-div indicator-primary">
                            {{selectedMarker.Vehicle_type | uppercase}}
                          </span>
                      </div>
                      <div class="component-indicators" style="padding-top: 8px"> 
                          <span *ngIf="selectedMarker.battery_level < 12500" class="indicator-div indicator-danger">
                            <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                            {{selectedMarker.battery_level | volt}}V
                          </span>
                          <span *ngIf="selectedMarker.battery_level >= 12500 && selectedMarker.battery_level <= 13000" class="indicator-div indicator-warning">
                              <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                              {{selectedMarker.battery_level | volt}}V
                          </span>
                          <span *ngIf="selectedMarker.battery_level > 13000" class="indicator-div indicator-success">
                              <img src="assets/icon/qodelogix-battery-icon-list.svg" class="battery-icon">&nbsp;
                              {{selectedMarker.battery_level | volt}}V
                          </span>
    
                          <span *ngIf="selectedMarker.fuel_level < 20" class="indicator-div indicator-danger">
                            <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                              {{selectedMarker.fuel_level}}%
                          </span>
                          <span *ngIf="selectedMarker.fuel_level >= 20 && selectedMarker.fuel_level <= 30" class="indicator-div indicator-warning">
                              <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                                {{selectedMarker.fuel_level}}%
                          </span>
                          <span *ngIf="selectedMarker.fuel_level > 30" class="indicator-div indicator-success">
                            <img src="assets/icon/qodelogix-gas-pump-icon-list.svg" class="fuel-icon">&nbsp;
                              {{selectedMarker.fuel_level}}%
                          </span>
                          
                        </div>
                  </div> -->
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- <hr style="background-color: #cccccc; margin-top: -3px;margin-bottom: 15px;">

            <div class="toggle-section">
                Surrounding Vehicles
                <span class="toggle-btn">
                    <ion-toggle [(ngModel)]="displaySurroundingVehicles"(ngModelChange)="toggleSurroundingVehicles(selectedMarker)"></ion-toggle>
                  </span>
            </div>

            <ion-grid class="vin-list" *ngIf="displaySurroundingVehicles">
              <ion-row>
                <ion-col col-6 *ngFor="let v of surroundingVehicles">
                  <div class="vin" >
                      {{v.vin_number}} 
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid> -->

            <div class="submit-btn">
                <p ion-button block large (click)="gotoVehicleProfile(selectedMarker)">
                      View Vehicle
                </p>
              </div>

          </div>
      </div>
    </div>
  </div>

</ion-content>
