page-alerts-home {

    .body-content {
        // background-color: #fff;
        height: auto;
        padding: 50px;
        padding-top: 25px;
        padding-bottom: 25px;

        .component{
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          margin-bottom: 20px;
          padding: 10px 20px;

          img.dashboard-icon {
            opacity: 0.4;
            width: 60px;
          }
    
          .component-main-title {
            span {
              text-align: center;
              color: #0066cc;
              font-size: 50px;
              font-weight: 400;
              line-height: 100px;
              margin: 0 40px;
              min-width: 50px;
              max-width: 65px;
            }
            p{
              color: #000000;
              font-size: 20px;
              font-weight: 400;
            }
          }
        
          .component-subtitle {
            font-size: 22px;
            color: #999999;
          }
        
          .dashboard-arrow-icon {
            width: 15px;
            float: right;
            margin-top: 0;
            height: 30px;
            margin-right: 10px;
          }
        }
    
        .component:last-of-type {
          margin-bottom: 0;
        }
    
      }
    
    
      @media (max-width: 576px) {
        .body-content {
          margin: 20px 20px !important;
          padding: 0 !important;
    
          .component{
            padding: 5px 10px;

            .component-main-title {
              font-size: 21px !important;
              span {
                font-size: 30px;
                line-height: normal;
                margin: 0 15px;
                // min-width: 25%;
              }

              p {
                font-size: 16px;
              }
            }
          
            .component-subtitle {
              font-size: 16px !important;
            }
            .dashboard-icon {
              margin-left: 0 !important;
              width: 40px !important;
              height: 40px !important;
            }
          }
        }
      }
      @media (max-width: 375px) {
        .body-content {
          .component {
            .dashboard-icon {
              width: 40px !important;
              height: 40px !important;
            }
          }
        }
      }
}
