<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Alerts
    </ion-title>

    <ion-buttons end>
      
      <div class="back" (click)="back()">
        Back
      </div>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

    <div class="body-content">
        <div class="component flex" (click)="navigateToAlertsPage(0)">
          <ion-grid>
            <ion-row>
              <ion-col col-11>
                <ion-row>
                  <ion-col>
                    <div class="row component-main-title">
                        <img src="assets/update/car-battery.svg" class="dashboard-icon">
                        <span>{{battery}}</span>
                        <p>Battery<br>Alerts</p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-1>
                <img src="assets/icon/blue-right-arrow.png" class="dashboard-arrow-icon">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
  </div>
  <div class="body-content">
      <div class="component flex" (click)="navigateToAlertsPage(2)">
        <ion-grid>
          <ion-row>
            <ion-col col-11>
              <ion-row>
                <ion-col>
                  <div class="row component-main-title">
                      <img src="assets/update/mileage-alert.svg" class="dashboard-icon">
                      <span>{{mileage}}</span>
                      <p>Mileage<br>Alerts</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-1>
              <img src="assets/icon/blue-right-arrow.png" class="dashboard-arrow-icon">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
</div>
<div class="body-content">
    <div class="component flex" (click)="navigateToAlertsPage(1)">
      <ion-grid>
        <ion-row>
          <ion-col col-11>
            <ion-row>
              <ion-col>
                <div class="row component-main-title">
                    <img src="assets/update/gas-station.svg" class="dashboard-icon">
                    <span>{{fuel}}</span>
                    <p>Fuel<br>Alerts</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-1>
            <img src="assets/icon/blue-right-arrow.png" class="dashboard-arrow-icon">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</div>
<div class="body-content">
    <div class="component flex" (click)="navigateToAlertsPage(3)">
      <ion-grid>
        <ion-row>
          <ion-col col-11>
            <ion-row>
              <ion-col>
                <div class="row component-main-title">
                    <img src="assets/update/location-alert.svg" class="dashboard-icon">
                    <span>{{gps}}</span>
                    <p>Location<br>Alerts</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-1>
            <img src="assets/icon/blue-right-arrow.png" class="dashboard-arrow-icon">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</div>

</ion-content>
