page-loaner-agreement {
    @media (max-width: 330px) {
        .content-component{
            margin: 25px 0 !important;
        }
      }

    @media (max-width: 576px) {
        .content-component{
            .component-content{
                padding: 6vh 0 !important;
            }
        }
    }
    
    .content{
        background: #0066cc !important;
    }

    .intro{
        color:white;
        margin: -25px 0;

        .intro-img {
            width: 150px;
            margin-top: 30px;
        }
        
        .intro-text{
            font-weight: 300;
            line-height: 25px;
            margin:40px 0;
            width: 90%;
        }
    }

    .success-header{
        padding-top: 25px;
        margin-bottom: -25px;

        .vehicle-img {
            display: flex;
            justify-content: center;
        }

        .success_message{
            color:white;
            font-size: 16px;
            text-align: center;
            margin-top: 0;

            .text{
                opacity: 0.6;
            }
        }
        .vehicle-detail{
            display: flex;
            justify-content: center;
            margin-top: 20px;

            p{
                color:white;
                font-size: 28px;
                margin: 0 0 10px 0px;
                font-weight: 700;
            }
        }
    }

    .page-content{
        color: #fff;
        margin-top: 20px;

        .content-component{
            width: 100%;
            border-radius: 10px;
            border: 2px solid #0066db;
            background-color: #0057c5;
            color: white;
            padding: 0px 20px;
            margin: 50px 0;

            .component-content{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10vh 0;
            }

            .component-title {
                font-size: 28px !important;
                font-weight: 700;
                margin-bottom: 8px;
            }

            .component-icon{
                width: 125px;
                margin-right: 15px;
                float: right;
            }
        
        }
    }
}
