<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Loaner Agreement
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
  
    <div class="page-content container">

    <div class="intro container" *ngIf="!isAssigned && isTabletOrIpad">
        <ion-grid>
          <div>
            <ion-row>
              <ion-col offset-1 col-4>
                <img src="assets/icon/rental-large1.png" class="intro-img pull-right">
              </ion-col>
              <ion-col col-6>
                <p class="intro-text">
                  Assign or return loaner & Rental vehicles to your customers
                </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
  
      <div class="success-header" *ngIf="isAssigned">
          <ion-grid>
              <ion-row>
                  <ion-col col-12>
                      <div class="vehicle-img">
                          <img *ngIf="vehicle.model_image; else elsetag" src="{{baseUrl+vehicle.model_image}}" >
                          <ng-template #elsetag>
                            <img class="header-img-default" src="assets/imgs/car-list.png">
                          </ng-template>
                      </div>
                      <div class="vehicle-detail">
                        <p> {{vehicle.vin_number}}</p>
                      </div>
                      <div class="success_message"> 
                          <span class="text" *ngIf="operation== 'assign'; else returnTag">Succesfully assigned to </span> 
                          <ng-template #returnTag>
                              <span class="text">Succesfully returned from </span> 
                          </ng-template>
                          {{customer.firstName}} {{customer.lastName}}
                          <p>
                            <span class="text">on </span> {{ today | date: "d MMMM, y"}} 
                            <span class="text">at</span> {{ today | date: "h:mm a"}}
                          </p>
                      </div>
                  </ion-col>
                </ion-row>
          </ion-grid>
      </div>

        <div class="content-component" (click)="gotoAssignVehiclePage();">
            <div class="component-content">
              <ion-grid>
                <ion-row>
                    <ion-col col-3 offset-md-2>
                        <img src="assets/icon/qodelogix-assign-loaner.svg" class="component-icon">
                    </ion-col>
                    <ion-col col-md-5 col-9>
                      <p class="component-title">
                          ASSIGN VEHICLE
                      </p>
                      <span>
                        Assign a loaner or rental vehicle to a customer
                      </span>
                    </ion-col>
                </ion-row>
              </ion-grid>
                  
            </div>
          </div>


          <div class="content-component"  (click)="gotoReturnVehiclePage();">
              <div class="component-content">
                <ion-grid>
                  <ion-row>
                      <ion-col col-3 offset-md-2>
                          <img src="assets/icon/qodelogix-return-loaner.svg" class="component-icon">
                      </ion-col>
                      <ion-col col-md-5 col-9>
                        <p class="component-title">
                            RETURN VEHICLE
                        </p>
                        <span>
                          Return a loaner or rental vehicle from a customer 
                        </span>
                      </ion-col>
                  </ion-row>
                </ion-grid>
                    
              </div>
            </div>
      
    </div>

</ion-content>
