page-return-loaner-vehicle-step-1 {

    .page-content{
        color: #000;
        background-color: #fff;
        margin-top: 20px;

    }


    .search-align{
        display: flex;
        align-items: center;

        input.searchbar-input::placeholder {
            font-size: 14px;
        }

        .dropdown{
            color: #fff;
            border-radius: 10px;
            background: rgba($color: #fff, $alpha: .25);

            ion-select {
                max-width: 100%;
            }
            .select-icon-inner{
                background: url('../assets/icon/qodelogix-dropdown-arrow-white.svg') no-repeat;
                width: 15px !important;
                background-size: contain;
                height: 15px !important;
                border: none !important;
                left: -5px;
            }
        }
    }

    
}
