@font-face {
  font-family: 'Trebuchet-MS';
  src: url('../assets/fonts/Trebuchet-MS.ttf') format('truetype');
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

//navheader css
ion-header, .toolbar-background-ios {
  background: #0066cc;
  .toolbar-title-ios{
    color: #fff !important;
    font-weight: 400 !important;
    letter-spacing: -1.5px;
    font-size: 30px;
    margin-top: 5px;
  }
}
ion-header {
  padding: 10px 55px !important;
}


ion-app.md {
  font-family: Trebuchet-MS !important;
}

.vehicle-img {
  // height: 550px;
}

.sticky-blue-bg{
  background: #0066cc;
  padding-bottom: 10px !important;
  position: sticky;
  top: 0;
  z-index: 999;
}

.content {
  background: #fff;
  .page-content{
    margin-top: 0 !important;
  }
}

.black-text{
  color:#333333;
}
.red-text{
  color:red;
}

.white-bg{
  background-color: #fff;
}
.blue-bg{
  background-color: #0066cc !important;
}


button{
  box-shadow: none !important;
}

.color-name, .color-white{
  color: white;
}

.scroll-content{
  padding: 0 !important;
}

.display-none{
  display: none !important;
}
.display-block{
  display: block !important;
}

.button-md {
  text-transform: capitalize;
}

.row {
  align-items: center;
}

.component-title {
  margin-top: 0 !important;
  font-size: 24px !important;
}

.component .component-arrow {
  padding-top: 0 !important;
}


.image {
  border: none !important;
  img {
    padding-bottom: 2px;
  }
}

.indicator-div {
  text-transform: uppercase;
  font-size: 16px !important;
}

//styling for sidemenu items
.nav-item.item.item-block.item-ios {
  margin-bottom: 20px;
}

//custom ctyle for damage report popover
.damage-report-popover .popover-content {
  width: 500px;
}

//placing the popover in the center of the screen for ios
.popover-ios .popover-content,
.popover-content {
  // width: auto !important;
  // position: inherit !important;
}

//hiding popover arrow for ios
.popover-ios .popover-arrow {
  // display: none !important;
}

// remove header from ion-select dropdown
.alert-head {
  // display: none;
}

// custom styling for alerts
.alertCustomCss {
  button:first-child {
    // color: red!important;
    // border-right: 1px solid lightgray;
    // padding-right: 25px;
  }

  .alert-wrapper {
    // background: lightyellow;
  }
}

// Remove dropdown in input type=number 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea {
  font-size: 14px !important;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel] {
  height: 40px !important;
  width: 100%;
  border-radius: 10px;
  padding: 0 15px;
}

.dropdown {
  height: 40px !important;
  border-radius: 10px !important;

  .select-icon-inner {
    top: 7px !important;
  }
}
 
.select-ios {
  padding: 8px 8px 8px 16px;
}

.vinModel {
  // color: #049bcd;
  font-size: 16px;
  text-transform: capitalize;
}

.vinNumber{
  color: #005cb9 !important;
}

// style for custom back button
.back {

  color: #fff;
  border-radius: 5px;
  background: rgba($color: #fff, $alpha: .25);
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 5px;
}

.component-indicators {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  span{
    margin: 3px 0;
  }

  .auto-margin-left{
    margin-left: auto;
  }

  img.check_in_type {
    width: 25px;
    margin-top: 0px;
  }
}

.margin-0 {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-top-down {
  padding-top: 0;
  padding-bottom: 0;
}

// disable textarea resize
textarea {
  resize: none;
}

.toggle-ios {
  display: flex;
}

.padding-side {
  padding-right: 0;
  padding-left: 0;
}

button {
  color: black;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.nav * {
  background-color: black;
  color: white;
  // padding-left: 10px;

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    border: none;
  }

  img {
    width: 17px;
    margin: 0 15px;
    margin-bottom: -3px;
  }

  .label-md {
    margin: 20px 8px 20px 0;
  }

  .user-pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .user-name {
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: -0.9px;
  }

  .profile {
    margin-top: 20px
  }

  .nav-item {
    cursor: pointer;
  }
}

.form-button {

  .button,
  .button:hover {
    border-radius: 100px;
    background-color: #fe9900;
    color: #fff;
    height: 50px;
  }

  img {
    height: 15px;
  }
}

// blue button
.component,
.my-btn {
  .submit-btn {
    padding-top: 26px;
    padding-bottom: 100px;
    
    .cancel-btn{
      background-color: #999999 !important;
    }

    button {
      text-transform: capitalize;
      color: #fff;
      background-color: #f9a11b;
      height: 40px;
      border-radius: 10px;
    }

    img {
      width: 8px;
      margin: 0 5px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
}


.content {
  // background: #0066cc;
}


.container {
  padding: 0 50px !important;
}

.notification {
  text-align: right;
}

.content-ios{.header {
  padding-top: 20px;
}}
.content-md{.header {
  padding-top: 10px;
}}

.notification-icon {
  width: 20px;
  // height:27px;
  // margin-top: 8px;
  cursor: pointer;
}

.menu-icon {
  width: 20px;
  // margin-top: 10px;
  margin-left: -25px;
  cursor: pointer;
}

.page-title {
  letter-spacing: -1.5px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.searchbar .searchbar-input {
  border-radius: 10px !important;
  margin: 10px 0;
  height: 40px !important;
  border: 1px solid #cccccc;
  box-shadow: none !important;
}

.searchbar {
  padding: 0 !important;
}

.searchbar-ios {
  border: none;
  background: transparent;
}

.searchbar-search-icon {
  background-image: url('../assets/icon/assurant-drive-search-icon.svg') !important;
  background-size: 15px !important;
  width: 15px;
  height: 15px;
  margin-top: 13px;
}

// styles for the status indicators
span.red-indicator {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0px;
  border: 1px lightgray solid;
}

span.green-indicator {
  height: 12px;
  width: 12px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0px;
  border: 1px lightgray solid;
}

span.yellow-indicator {
  height: 12px;
  width: 12px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0px;
  border: 1px lightgray solid;
}

span.null-indicator {
  height: 12px;
  width: 12px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0px;
  border: 1px lightgray solid;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

/* CSS for map overlay buttons */
.dropdown-container, .dropdown-option-container{
  // padding: 10px;

  .dropdown-content{
    background-color: #ffffff;
    border-radius: 10px;
    margin: 16px;
    padding: 10px;
    font-size: 16px;
    width: 190px;
    
    .dropDownArrow{
      background-image: url('../assets/icon/assurant-drive-right-arrow-list.svg');
      transform: rotate(90deg);
      background-repeat: no-repeat;
      background-position: right;
      width: 20px;
      height: 20px;
      float: right;
      margin-top: -2px;
    }
  }
}

.dropdown-option-container, .geofence-dropdown-option-container{
  top: 50px !important;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 16px;
  font-size: 16px;
  width: 180px;

  .option{
    padding: 5px;
    padding-left: 10px;
    font-size: 16px;
  }
  .option:first-of-type{
    // padding-top: 10px;
  }
  .option:last-of-type{
    padding-bottom: 10px;
  }
  
}

.zoom-btn-container{
  padding: 5px;
  bottom: 30px !important;

  .zoom-btn-controlWrapper{
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 16px;
    width: 40px;
    height: 120px;

    .zoom-btn-zoomInButton, .zoom-btn-zoomOutButton, .zoom-btn-resetButton{
      width: 20px;
      margin-left: 10px;
      height: 20px;
      position: relative;
    }
    .zoom-btn-resetButton{
      top: 11px;
      background-image: url('../assets/icon/assurant-drive-map-reset.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .zoom-btn-zoomInButton{
      top: 31px;
      background-image: url('../assets/icon/assurant-drive-map-zoomin.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .zoom-btn-zoomOutButton{
      top: 60px;
      background-image: url(../assets/icon/assurant-drive-map-zoomout.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .zoom-btn-bar, .zoom-btn-bar2{
      width: 100%;
      height: 1px;
      position: relative;
      background-color: #f3f3f3;
    }
    .zoom-btn-bar{
      top: 0px;
    }
    .zoom-btn-bar2{
      top: 20px;
    }
  }
}

.dropdown-container, .dropdown-option-container{    
  .dropdown-content{
    margin: 16px;
    padding: 10px;
    font-size: 16px;
    width: 190px;
    color: #495057;
    
    .dropDownArrow{
      width: 15px;
      height: 17px;
    }
  }
}

.dropdown-option-container, .geofence-dropdown-option-container{
  margin: 16px;
  font-size: 14px;
  width: 190px;
  color: #999999;
  overflow-y: auto;
  max-height: 150px;

  #clear-fence {
    padding-left: 0;
    text-align: center;
    background: #f3f3f3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
/* CSS for map overlay buttons end */

.color-spray-dropdown {
  font-weight: 400;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;

  .label-md{
    margin-right: 5px !important;
  }
  .color-name{
    color: white;
    background-color: #999;
    padding: 5px;
    border-radius: 5px;
  }

  ion-item{
    color: #fff !important;
    background-color: transparent !important;
    text-transform: capitalize;

    .item-inner{
      padding: 0 !important;
      border: none !important;

    }
  }

  ion-select {
    max-width: 100%;
  }

  .select-md {
    padding-left: 0 !important;
    
    .select-icon{
      width: 15px !important;
    }
  }

  .select-icon-inner {
    background: url('../assets/icon/qodelogix-dropdown-arrow-white.svg') no-repeat;
    width: 15px !important;
    background-size: contain;
    height: 15px !important;
    border: none !important;
    left: 7px;
  }
}


.color-spray-display{
color: white;
margin: 15px 0;

.spray-icon {
    margin-right: 10px;
    width: 8px;
}
.color-spray-item{
  padding-right: 10px;
  font-size: 16px;
  
  .color-name{
    color: white;
    background-color: #999;
    padding: 5px;
    border-radius: 5px;
    // margin-right: 5px;
  }
}
}

@media (max-width: 370px) {
  .vehicle-img {
    max-height: 250px !important;
  }
  .indicator-div{
    margin-right: 5px !important;
  }
}

@media (max-width: 576px) {

  .padding-bottom-50{
    padding-bottom: 20px;
  }

  .vehicle-img {
    max-height: 350px;
  }

  ion-header {
    padding: 10px 15px !important;
  }
  .toolbar-title-ios{
    font-size: 20px !important;
  }


  .container {
    padding: 0 10px !important;
  }

  .indicator-div, .color-spray-display{
    // font-size: 12px !important;
  }

  .color-spray-display{
    .color-spray-item{
      font-size: 14px;
    }
  }

  
  .dropdown-container, .dropdown-option-container{    
    .dropdown-content{
      margin: 16px;
      padding: 10px;
      font-size: 14px;
      width: 165px;
      color: #495057;
      
      .dropDownArrow{
        width: 15px;
        height: 15px;
      }
    }
  }
  
  .dropdown-option-container, .geofence-dropdown-option-container{
    margin: 16px;
    font-size: 14px;
    width: 165px;
    color: #999999;
    overflow-y: auto;
    max-height: 150px;

    .option{
      font-size: 14px;
    }

    #clear-fence {
      padding-left: 0;
      text-align: center;
      background: #f3f3f3;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }


  .page-title {
    letter-spacing: -1.5px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 5px;
  }

  .notification-icon {
    max-width: 18px !important;
  }

  .back {
    font-size: 12px !important;
    padding: 5px 5px;
    margin-left: 10px;
    // width: 60px;

    &::before {
      content: "";
      background-image: url("../assets/icon/small-back-arrow.png");
      background-size: 100% 100%;
      display: inline-block;

      /*size of your image*/
      height: 10px;
      width: 10px;

      /*if you want to change the position you can use margins or:*/
      position: relative;
      top: 1px;
    }
  }

  
  .damage-report-popover .popover-content .title {
    font-size: 22px;
  }

  ion-select.select-ios {
    padding: 12px 12px 12px 16px !important;
  }

  .damage-report-popover .popover-content {
    width: 80% !important;
  }
}

@media (max-width: 400px) {
  .dropdown-container, .dropdown-option-container{    
   .dropdown-content{
     margin: 12px;
     font-size: 12px;
     width: 144px;
   }
 }
 .dropdown-option-container, .geofence-dropdown-option-container{
   font-size: 12px;
   width: 140px;
   top: 40px !important;
 }
}
