<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="nav">

      <div class="nav-item profile" col-12 ion-item>
        <img class="user-pic" src="{{avatar}}"> 
        <span class="user-name"> {{ name}} </span>
      </div>
      
      <div class="nav-item" col-12 menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
       <img src="assets/icon/{{p.icon}}"> {{p.title | uppercase}}
      </div>

      <div class="nav-item" col-12 menuClose ion-item (click)="logout()">
          <img src="assets/icon/Logout.svg"> LOGOUT
      </div>

  </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>