<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      <span *ngIf="!operation">Assign</span>
      <span *ngIf="operation == 'return'">Return</span>
       Loaner Vehicle 
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="page-content">
    <div class="blue-bg">

      
        <header-vehicle-detail 
        [vehicle]= vehicle
        [checkin_type] = checkin_type
      >
      </header-vehicle-detail>
    </div>
    <div class="container">

        <div class="component">
            <div class="component-content">
              <div class="title">
                    <span class="header">
                      Customer Information
                    </span>
                    <span class="btn" (click)="gotoEditCustomerProfileForLoaner()"><img class="header-icon" src="assets/icon/check-in/edit.png">Edit</span>
              </div>
              <div class="section">
                  <div class="flex inner-section" style="align-items: unset">
                        <div>
                          <div class="subcomponent-content">
                            <div class="subcomponent-title">
                              {{customer.firstName}} {{customer.lastName}}
                            </div>
                            <div class="subcomponent-detail"> 
                              <div class="subcomponent-info">
                                  Phone : {{customer.phoneNumber}}
                              </div>
                              <div class="subcomponent-info">
                                  Email : {{customer.customerEmail}}
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
          </div>

      <div class="component">
        <div class="component-content">
          <div class="title">
                <span class="header">
                    Damages Reports
                </span>
                <span class="btn" (click)="gotoAssignLoanerVehicleStep2()"><img class="header-icon" src="assets/icon/check-in/edit.png">Edit</span>
          </div>
          <div class="section">
            <ion-grid class="no-padding">
              <ion-row>
                  <ion-col col-12 col-sm-6 class="padding-right-20"  *ngFor="let d of damageInfo">
                    <div class="sub-container">
                      <ion-grid class=" no-padding">
                        <ion-row>
                          <ion-col col-5 class="no-padding-top-down no-padding-left">
                            <div class="image">
                              <div class="red-icon">
                                <p> {{d.damage_type | getFirstCharacter | uppercase | getNcharacters: 2}} </p>
                              </div>
                              <img src="{{baseUrl}}{{d.image_path}}" imageViewer>
                            </div>
                          </ion-col>
                          <ion-col col-7 class="no-padding-top-down no-padding-right">
                            <div class="sub-container-content">
                              <p>{{d.damage_location}}</p>
                              <p class="sub-p">{{d.comment}}</p>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
      <div class="component">
        <div class="submit-btn">
          <button ion-button block large (click)="gotoAssignLoanerVehicleStep5()">
              <p>
                  <span *ngIf="!operation || operation == ''">Loaner Vehicle Agreement</span>
                  <span *ngIf="operation == 'return'">Return Vehicle</span>
              </p>
              &nbsp;
              <img src="assets/imgs/rounded-rectangle.png"> 
          </button>
        </div>
      </div>

    </div>
  </div>
  

</ion-content>
