page-assign-loaner-vehicle-step-4 {

    .row{
        align-items: unset !important;
    }
    //large screen
    @media screen and (min-width: 900px) {
        .page-content .component .component-content .sub-container .image {
            width: 160px !important;
        }
        .sub-container-content{
            margin-left: -20% !important;
        }
    }

    .page-content{
        color: #000;
        background-color: #fff;
        font-weight: 450;
        margin-top: 0px;
        min-height: 80%;

        .component{
            width: 100%;
            padding-top: 20px;
            margin: 0;
            padding-left: 10px;

            .component-content{
                .inner-section {
                    padding-bottom: 20px;
                }
                .subcomponent-content {
                    // margin-left: 20px;
                    font-size: 16px;
                    font-weight: 700;

                    .subcomponent-title{
                        padding-bottom: 5px;
                        text-transform: capitalize;
                    }
                    .subcomponent-detail{
                        .subcomponent-info{
                            padding-bottom: 5px;
                            font-weight: 400;
                        }
                    }

                }

                .picture {
                    border-radius: 100%;
                    width: 97px;
                }

                .title{
                    margin-bottom: 20px;
                    padding-right: 20px; 

                    .header{
                        font-size:29px;
                        font-weight: 500 !important;
                    }
                    .header-sub{
                        font-size:23px;
                        font-weight: 500 !important;
                    }
                    .btn {
                        color: #000;
                        opacity: 0.5;
                        float: right;
                        text-transform: uppercase;
                        font-size: 16px;
                        padding-top: 15px;
                    }
                }
                
                p{
                    font-size: 16px;
                    margin-top: 0;
                    font-weight: 700;    
                    margin-bottom: 5px;
                }
                

                .sub-p{
                    font-size: 13px;
                    color: gray;
                    font-weight: 10;
                }

                .header-icon{
                    max-width: 15px;
                    min-height: 15px;
                    margin-bottom: -3px;
                    margin-right: 5px;
                }         
                
                .sub-container{
                    border: lightgray 1px solid;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 2px 0;

                    .image{
                        width: 100%;
                        max-height: 110px;
                        min-height: 110px;
                        border-radius: 5px;
                        border: 1px lightgray solid;
            
                        img {
                            width: 100%;
                            height: -webkit-fill-available;
                        }

                        .red-icon{
                            max-width:25px;
                            min-height:25px;
                            max-height:25px;
                            border-radius: 5px;
                            background-color: red;
                            font-weight: 500;
                            margin-right: 5px;
                            top: -5px;
                            left: -5px;
                            position: absolute;
                            p{
                                display: flex;
                                justify-content: center;
                                padding: 3px 5px;
                                margin:0;
                                color:white;
                            }
                        }
                    }

                    .sub-header-head{
                        padding-bottom: 10px;
                        font-size: 15px;
                    }
                }
                
                
            }   
            
        }
    }
}
