page-vehicle-profile-with-animation {
    // Animations
    .arrow-down {
        transform: rotate(-180deg) !important;
        transition: transform 800ms ease;
    }
    
    .arrow-up {
        transform: rotate(0deg) !important;
        transition: transform 800ms ease;
    }
    @keyframes pulse {
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .page-content{
        .component {
            width: 100%;
            margin: 0;
            text-transform: uppercase;
            // border-bottom: 1px solid #f3f3f3;
            margin-top: 10px;

            .component-title {
            color: #000000;
            font-size: 20px !important;
            // font-weight: 700;
            margin-top: 0;
            }

            .vinModel{
                font-size: 22px;
            }

            .component-arrow {
            width: 18px;
            padding-top: 20px;
            }

            .component-content {
            
                .component-indicators {
                    margin-top: 5px;
        
                    .indicator-div {
                        font-size: 16px !important;
                        border-radius: 5px;
                        padding: 5px;
                        padding-left: 7px;
                        margin-right: 10px;

                        .icon {
                            width: 25px;
                        }
        
                    }

                    .indicator-light-gray {
                        background-color: #999999;
                        color: #f3f3f3;
                    }

                    .indicator-primary {
                        background-color: #f3f3f3;
                    }

        
                    .indicator-black {
                        background-color: #333333;
                        color: #f3f3f3;
                    }
        
                    .indicator-primary {
                        background-color: #f3f3f3;
                    }
        
                    .indicator-success {
                        background-color: #00aa58;
                        color: white;
                    }
        
                    .indicator-danger {
                        background-color: #ee3324;
                        color: white;
                    }
        
                    .indicator-warning {
                        background-color: #ebc200;
                        color: white;
                    }
                    }
            }


        }

        .more-details{
            transition: all 1s ease;
            margin-top: -10px;
            .info{
                font-size: 16px; 

                .fuel-icon{
                    width: 15px;
                    height: 15px;
                }

                .fuel-info:first-of-type{
                    padding-right: 15px;
                }
            }

            .header-img-default, .header-img {
                margin: 20px 0;
                margin-top: 20px;
                width: 400px;
              }
          
              .header-img {
                width: 400px;
              }

              .features{
                  font-size: 18px;

                  .feature-list{
                      margin-top: 10px;
                      color: #999999;
                      line-height: 25px;
                      
                  }
              }

        }

        .map-content {
            height: 80vh;
            margin-top: 10px;
            background: #222;
            position: absolute;
            width: 100%;
            z-index: 1;
            transition: margin-top 1s;

            .animateMap{
                z-index: 999;
                position: absolute;
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 15px;
                animation: pulse 1s infinite;
            }
        
            .toggle-div {
              margin-top: -130px;
        
              .toggle-container {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #ffffff;
                text-transform: capitalize;
                display: flex;
                justify-content: center;
                padding: 15px 30px;
                font-size: 16px;
                align-items: center;
        
                .toggle-btn {
                  margin-left: 35px;
        
                  .toggle-md {
                    width: 50px;
                    padding: 12px 0;
                    padding-top: 3px;
        
                    .toggle-inner {
                      margin-top: 5px;
                      width: 17px;
                      height: 17px;
                    }
        
                    .toggle-icon {
                      height: 21px;
                      width: 40px;
                    }
                  }
        
                  .toggle-ios {
                    // width:50px !important;
                    padding: 0;
                  }
        
                  .toggle-md.toggle-checked .toggle-inner {
                    transform: translate3d(22px, 0, 0);
                    background-color: white;
                  }
        
                  .toggle-md.toggle-checked .toggle-icon {
                    background-color: #005cb9;
                  }
        
                  .toggle-ios.toggle-checked .toggle-inner {
                    transform: translate3d(22px, 0, 0);
                    background-color: white;
                  }
        
                  .toggle-ios.toggle-checked .toggle-icon {
                    background-color: #005cb9;
                  }
        
                }
        
        
              }
            }
          }
        
          .review-section {
            color: #000;
            background-color: #fff;
            font-weight: 450;
            margin-top: 10px;
            // height: 100vh;
            position: absolute;
            width: 100%;
        
            .component {
              width: 100%;
              // padding-top: 20px;
              margin: 0;
              padding-left: 10px;
        
              .component-content {
                // padding: 0 25px;
        
                .title {
                  // margin: 10px 0;
                  padding-right: 20px;
                  padding-bottom: 10px;
        
                  .header {
                    font-size: 29px;
                    font-weight: 500 !important;
                  }
        
                  .header-sub {
                    font-size: 23px;
                    font-weight: 500 !important;
                  }
        
                  .btn {
                    color: #000;
                    opacity: 0.5;
                    float: right;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding-top: 15px;
                  }
                }
        
                p {
                  font-size: 16px;
                  margin-top: 0;
                  font-weight: 700;
                  margin-bottom: 5px;
                }
        
        
                .sub-p {
                  font-size: 13px;
                  color: gray;
                  font-weight: 10;
                }
        
                .header-icon {
                  max-width: 15px;
                  min-height: 15px;
                  margin-bottom: -3px;
                  margin-right: 5px;
                }
        
                .icon {
                  max-width: 40px;
                  min-height: 25px;
                  margin-bottom: -5px;
                  margin-right: 5px;
                }
        
                .icon-medium {
                  max-width: 25px;
                  min-height: 25px;
                  margin-bottom: -5px;
                  margin-right: 5px;
                }
        
                .icon-small {
                  max-width: 20px;
                  min-height: 15px;
                  margin-bottom: -5px;
                  margin-right: 5px;
                }
        
                .icon-extra-small {
                  max-width: 14px;
                  min-height: 15px;
                  margin-bottom: -5px;
                  margin-right: 5px;
                }
        
                .sub-container {
                  border: lightgray 1px solid;
                  border-radius: 5px;
                  padding: 10px;
                  margin: 2px 0;

                    .row{
                      align-items: unset !important;
                    }
        
                  .image {
                    width: 100%;
                    max-height: 110px;
                    min-height: 110px;
                    border-radius: 5px;
                    border: 1px lightgray solid;
        
                    img {
                      width: 100%;
                      height: -webkit-fill-available;
                    }
        
                    .red-icon {
                      max-width: 25px;
                      min-height: 25px;
                      max-height: 25px;
                      border-radius: 5px;
                      background-color: red;
                      font-weight: 500;
                      margin-right: 5px;
                      top: -5px;
                      left: -5px;
                      position: absolute;
        
                      p {
                        display: flex;
                        justify-content: center;
                        padding: 3px 5px;
                        margin: 0;
                        color: white;
                      }
                    }
                  }
        
                  .sub-header-head {
                    padding-bottom: 10px;
                    font-size: 16px;
                  }
                }
        
        
              }
        
              
            }
          }
    }

    .submit-btn {
        padding-top: 25px;
        padding-bottom: 0 !important;
        button {
          color: #fff;
          border-radius: 100px;
          background: #fe9900;
          height: 50px;
        }

        img {
          width: 8px;
          margin: 0 5px;
        }

        p {
          font-size: 15px;
        }
      }


    @media (max-width: 576px) {

        .component {
            padding: 8px 0;
            margin-top: 0 !important;
      
            .component-content {
              font-size: 14px !important;
            //   padding: 0px 0px 0px 10px !important;

                .title {
                    padding-right: 20px;
                    padding-bottom: 10px;
            
                    .header {
                    font-size: 20px !important;
                    }
                    .header-sub{
                    font-size: 18px !important; 
                    }
                    .btn {
                        padding-top: 5px !important;
                      }
                }
            }
      
            .component-title {
              font-size: 16px !important;
              font-weight: normal !important;
              margin-top: 5px !important;
            }
      
            .component-indicators {
              margin-top: 5px;
            }
        }

        .more-details{


            .header-img-default {
                margin: 10px 0 !important;
              }
              .header-img-default, .header-img{
                width: 300px !important;
              }
        }

        .map-content {
          height: 75vh !important;
        }
    }
}
