<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Assign Loaner Vehicle 
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="content" >
  
      <div class="page-content">        

        <div class="blue-bg container">

      <ion-grid>
          <ion-row class="search-align">
            <ion-col col-12>
                <ion-searchbar class="searchbar" [(ngModel)]="searchbarInput" (ionInput)="getItems($event)" (ionCancel)="onSearchCancel($event)" placeholder="Search for VIN Number"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>
        
        <div *ngFor="let v of filterData; let i = index;">
            <div (click)="gotoAssignLoanerStep2(v)">

                <vehicle-detail-list-new
                  [vehicle] = v 
                >
                </vehicle-detail-list-new>
  
            </div>
        </div>
    
      </div>
  
  </ion-content>
  