page-assign-loaner-vehicle-step-1 {

    
    .page-content{
        color: #000;
        background-color: #fff;
        margin-top: 20px;

    }


    .search-align{
        display: flex;
        align-items: center;

        input.searchbar-input::placeholder {
            font-size: 14px;
        }
    }

    

}
