page-accessories-checklist {
    .row{
        align-items: unset !important;
    }
    .sub-header{
        margin-top: 0px;
        text-transform: uppercase;
        
        .vehicle-detail{
            p{
                color:white;
                font-size: 28px;
                margin: 0 0 10px 0px;
                font-weight: 500;
            }
        
            .component-indicators{

                .indicator-div{
                    border-radius: 5px;
                    padding: 5px;
                    padding-left: 7px;
                    margin-right: 10px;
                    font-size:13px;

                    .battery-icon{
                        width: 15px;
                    }
                    .fuel-icon{
                        width:11px;
                    }
                }

                .indicator-primary{
                    background-color: #f3f3f3;
                }

                .indicator-success{
                    background-color: #00aa58;
                    color:white;
                }

                .indicator-danger{
                    background-color: #ee3324;
                    color:white;
                }

                .indicator-warning{
                    background-color: #ebc200;
                    color:white;
                }
            }
        }

        .vehicle-img{
            padding-left: 25px;
            padding-top: 10px;
            width: 280px;
            float: right;
        }
    }


    .page-content{
        color: #000;
        background-color: #fff;
        font-weight: 450;
        margin-top: 0px;
        // height: 80vh;
        // height: 100%;

        .component{
            width: 100%;
            padding-top: 20px;
            margin: 0;
            padding-left: 10px;

            .component-content{
                // padding: 0 25px;
                p{
                    font-size: 16px;
                    margin-top: 0;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                input, textarea{
                    width: 100%;
                    // border-bottom: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-size: 12px;
                    margin-bottom: 10px;
                    border-style: groove;
                    opacity: 0.7;
                }

                .icon{
                    max-width: 38px;
                    min-height: 38px;
                    margin-bottom: -5px;
                }

                .right-placeholder input::placeholder {
                    text-align: right;
                }

                .toggle-btn{
                    float: right;
                }

                .toggle-md {
                    width: 50px;
                    padding: 12px 0;

                    .toggle-inner {
                        margin-top: 5px;
                        width: 17px;
                        height: 17px;
                    }
                    .toggle-icon{
                        height: 21px;
                        width: 40px;
                    }
                }

                .toggle-ios {
                    // width:50px !important;
                    padding: 12px 0;
                }

                 .toggle-md.toggle-checked .toggle-inner{
                    transform: translate3d(22px, 0, 0);
                    background-color: white;
                }
                .toggle-md.toggle-checked .toggle-icon {
                    background-color: #005cb9;
                }

                .toggle-ios.toggle-checked .toggle-inner{
                    transform: translate3d(22px, 0, 0);
                    background-color: white;
                }
                .toggle-ios.toggle-checked .toggle-icon {
                    background-color: #005cb9;
                }
                
                
            }   
            
        }
    }

    @media (max-width: 576px) {
        .padding-left-10, .padding-right-10{
            padding: 0 !important;
        }
        .component .container{
            padding-left: 0 !important;
        }

    }
}
