<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
          Accessories Checklist
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content">

    <div class="page-content">
        <div class="blue-bg">
          <header-vehicle-detail 
            [vehicle]= vehicle
            [checkin_type] = checkin_type
          >
          </header-vehicle-detail>
        </div>
        <form #form="ngForm" (ngSubmit)="gotoReview(form.value)">
            <input type="hidden" name="user_id" value="{{user_id}}" [(ngModel)]="user_id">
            <input type="hidden" name="dealer_id" value="{{dealer_id}}" [(ngModel)]="dealer_id">
            <input type="hidden" name="vin_number" value="{{vehicle.vin_number}}" [(ngModel)]="vehicle.vin_number">
            <input type="hidden" name="asset_id" value="{{vehicle.asset_id}}" [(ngModel)]="vehicle.asset_id">
            <input type="hidden" name="checkin_type" value="{{checkin_type}}" [(ngModel)]="checkin_type">
        <div class="component">
            <div class="container">
                    <div class="component-content">
                      <ion-grid class="padding-side">
                        <ion-row>
                          <ion-col col-12 col-sm-6  class="padding-side padding-right-10">
                            <ion-grid  class="padding-side">
                              <ion-row>
                                <ion-col col-2>
                                  <img class="icon" src="assets/icon/check-in/assurant-drive-accessories-books.svg"
                                  >
                                </ion-col>
                                <ion-col col-6 radio-group>
                                  <p>Books</p>
                                </ion-col>
                                <ion-col col-4>
                                  <div class="toggle-btn">
                                      <ion-toggle [(ngModel)]="accessories.books" name="books"></ion-toggle>
                                  </div>
                                </ion-col>
                                <ion-col col-12>
                                    <textarea rows="3"   maxlength="50" type="text"placeholder="Notes" [ngModel]="accessories.books_note | removeNull" name="books_note"></textarea>
                                  </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                          <ion-col col-12 col-sm-6  class="padding-side padding-left-10">
                              <ion-grid  class="padding-side">
                                <ion-row>
                                  <ion-col col-2>
                                    <img class="icon" src="assets/icon/check-in/assurant-drive-accessories-pouch.svg"
                                    >
                                  </ion-col>
                                  <ion-col col-6 radio-group>
                                    <p>Pouch</p>
                                  </ion-col>
                                  <ion-col col-4>
                                    <div class="toggle-btn">
                                        <ion-toggle [(ngModel)]="accessories.pouch" name="pouch"></ion-toggle>
                                    </div>
                                  </ion-col>
                                  <ion-col col-12>
                                    <textarea rows="3"   maxlength="50" type="text"placeholder="Notes" [ngModel]="accessories.pouch_note | removeNull" name="pouch_note"></textarea>
                                  </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                          <ion-col col-12 col-sm-6  class="padding-side padding-right-10">
                              <ion-grid  class="padding-side">
                                <ion-row>
                                  <ion-col col-2>
                                    <img class="icon" src="assets/icon/check-in/assurant-drive-accessories-keys.svg"
                                    >
                                  </ion-col>
                                  <ion-col col-6 radio-group>
                                    <p>2 Set of keys</p>
                                  </ion-col>
                                  <ion-col col-4>
                                    <div class="toggle-btn">
                                        <ion-toggle [(ngModel)]="accessories.keys" name="keys"></ion-toggle>
                                    </div>
                                  </ion-col>
                                  <ion-col col-12>
                                      <textarea rows="3"   maxlength="50" type="text"placeholder="Notes" [ngModel]="accessories.keys_note | removeNull" name="keys_note"></textarea>
                                  </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                          <ion-col col-12 col-sm-6  class="padding-side padding-left-10">
                              <ion-grid  class="padding-side">
                                <ion-row>
                                  <ion-col col-2>
                                    <img class="icon" src="assets/icon/check-in/assurant-drive-accessories-tablet.svg"
                                    >
                                  </ion-col>
                                  <ion-col col-6 radio-group>
                                    <p>Tablet</p>
                                  </ion-col>
                                  <ion-col col-4>
                                    <div class="toggle-btn">
                                        <ion-toggle [(ngModel)]="accessories.tablet" name="tablet"></ion-toggle>
                                    </div>
                                  </ion-col>
                                  <ion-col col-12>
                                      <textarea rows="3"   maxlength="50" type="text"placeholder="Notes" [ngModel]="accessories.tablet_note | removeNull" name="tablet_note"></textarea>
                                  </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                          <ion-col col-12 col-sm-6  class="padding-side padding-right-10">
                              <ion-grid  class="padding-side">
                                <ion-row>
                                  <ion-col col-2>
                                    <img class="icon" src="assets/icon/check-in/assurant-drive-accessories-headphones.svg"
                                    >
                                  </ion-col>
                                  <ion-col col-6 radio-group>
                                    <p>Headphones</p>
                                  </ion-col>
                                  <ion-col col-4>
                                    <div class="toggle-btn">
                                        <ion-toggle [(ngModel)]="accessories.headphones" name="headphones"></ion-toggle>
                                    </div>
                                  </ion-col>
                                  <ion-col col-12>
                                      <textarea rows="3"   maxlength="50" type="text"placeholder="Notes" [ngModel]="accessories.headphones_note | removeNull" name="headphones_note"></textarea>
                                  </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                          <ion-col col-12 col-sm-6  class="padding-side padding-left-10">
                              <ion-grid  class="padding-side">
                                <ion-row>
                                  <ion-col col-2>
                                    <img class="icon" src="assets/icon/check-in/assurant-drive-accessories-mats.svg"
                                    >
                                  </ion-col>
                                  <ion-col col-6 radio-group>
                                    <p>Mats</p>
                                  </ion-col>
                                  <ion-col col-4>
                                    <div class="toggle-btn">
                                        <ion-toggle [(ngModel)]="accessories.mats" name="mats"></ion-toggle>
                                    </div>
                                  </ion-col>
                                  <ion-col col-12>
                                      <textarea rows="3"   maxlength="50" type="text"placeholder="Notes" [ngModel]="accessories.mats_note | removeNull" name="mats_note"></textarea>
                                  </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
            </div>
        </div>
        
        <div class="component">
          <div class="container">
            <div class="submit-btn">
              <button type="submit" ion-button block large [disabled]="!validaAccessories">
                  <p *ngIf="checkin_type != 3">
                    Review and Check-in
                  </p>
                  <p *ngIf="checkin_type == 3">
                    Review and Make Delivery
                  </p>
                  &nbsp;
                  <img src="assets/imgs/rounded-rectangle.png"> 
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  
  </ion-content>
  