page-rental-manager-vehicle-profile {


    .footer-md::before{
        background-image: none !important;
      }
  
      .swiper-slide, .slide-zoom {
        text-align: left !important;
        height: ayto !important;
      }
      .swiper-wrapper{
        // height: 100% !important;
      }
    
  
      .page-content{
  
          .component {
              width: 100%;
              margin: 0;
              text-transform: uppercase;
              // border-bottom: 1px solid #f3f3f3;
              margin-top: 10px;
  
              .component-title-new{
              color: #000000;
              font-size: 20px;
              // font-weight: 700;
              margin-top: 0;
              }
  
              .vinModel{
                  font-size: 22px;
              }
  
              .component-arrow {
              width: 18px;
              padding-top: 20px;
              }
          }
  
          .more-details{
              transition: all 1s ease;
              // margin-top: -10px;
              
  
              .header-img-default, .header-img {
                  margin: 20px 0;
                  margin-top: 20px;
                  width: 400px;
                }
            
                .header-img {
                  width: 400px;
                }
  
                .features{
                    padding-top: 15px;
                    font-size: 18px;
  
                    .feature-list{
                        margin-top: 10px;
                        color: #999999;
                        line-height: 25px;
                        
                    }
                }
                .segment-md .segment-button{
                  color: #999999;
                  font-size: 20px;
                  text-align: left !important;
                }
  
                .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
                  border-color: #000 !important;
                }
          }
          
            .review-section {
              color: #000;
              background-color: #fff;
              font-weight: 450;
              margin-top: 10px;
              // height: 100vh;
              position: absolute;
              width: 100%;
          
              .component {
                width: 100%;
                // padding-top: 20px;
                margin: 0;
                // padding-left: 10px;
          
                .component-content {
                  // padding: 0 25px;
          
                  .title {
                    // margin: 10px 0;
                    padding-right: 20px;
                    padding-bottom: 10px;
          
                    .header {
                      font-size: 23px;
                      font-weight: 500 !important;
                    }
          
                    .header-sub {
                      font-size: 20px;
                      font-weight: 500 !important;
                    }
          
                    .btn {
                      color: #000;
                      opacity: 0.5;
                      float: right;
                      text-transform: uppercase;
                      font-size: 16px;
                      padding-top: 15px;
                    }
                  }
          
                  p {
                    font-size: 16px;
                    margin-top: 0;
                    // font-weight: 700;
                    margin-bottom: 5px;
                  }
          
          
                  .sub-p {
                    font-size: 13px;
                    color: gray;
                    font-weight: 10;
                  }
          
                  .header-icon {
                    max-width: 15px;
                    min-height: 15px;
                    margin-bottom: -3px;
                    margin-right: 5px;
                  }
          
                  .icon {
                    max-width: 40px;
                    min-height: 25px;
                    margin-bottom: -5px;
                    margin-right: 5px;
                  }
          
                  .icon-medium {
                    max-width: 25px;
                    min-height: 25px;
                    margin-bottom: -5px;
                    margin-right: 5px;
                  }
          
                  .icon-small {
                    max-width: 20px;
                    min-height: 15px;
                    margin-bottom: -5px;
                    margin-right: 5px;
                  }
          
                  .icon-extra-small {
                    max-width: 14px;
                    min-height: 15px;
                    margin-bottom: -5px;
                    margin-right: 5px;
                  }
          
                  .sub-container {
                    border: lightgray 1px solid;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 2px 0;
  
                      .row{
                        align-items: unset !important;
                      }
          
                    .image {
                      width: 100%;
                      max-height: 110px;
                      min-height: 110px;
                      border-radius: 5px;
                      border: 1px lightgray solid;
          
                      img {
                        width: 100%;
                        height: -webkit-fill-available;
                      }
          
                      .red-icon {
                        max-width: 25px;
                        min-height: 25px;
                        max-height: 25px;
                        border-radius: 5px;
                        background-color: red;
                        font-weight: 500;
                        margin-right: 5px;
                        top: -5px;
                        left: -5px;
                        position: absolute;
          
                        p {
                          display: flex;
                          justify-content: center;
                          padding: 3px 5px;
                          margin: 0;
                          color: white;
                        }
                      }
                    }
          
                    .sub-header-head {
                      padding-bottom: 10px;
                      font-size: 16px;
                    }
                  }
          
          
                }
          
                
              }
            }
      }
  
      .bottom-icon{
          z-index: 9999;
          display: flex;
          justify-content: center;
          width: 100%;
    
              .img_div{
                  background: #F9A11B;
                  padding: 10px; 
                  border-radius: 10px;
                  color: white;
                  font-size: 16px;
                  width: 100%;
                  text-align: center;
                  margin-bottom: 15px;
              }
        }
  
      @media (max-width: 576px) {
  
          .component {
              padding: 8px 0;
              margin-top: 0 !important;
  
              .vinModel {
                  font-size: 18px !important;
              }
        
              .component-content {
                font-size: 14px !important;
              //   padding: 0px 0px 0px 10px !important;
  
                  .title {
                      padding-right: 20px;
                      padding-bottom: 10px;
              
                      .header {
                      font-size: 18px !important;
                      }
                      .header-sub{
                      font-size: 16px !important; 
                      }
                      .btn {
                          padding-top: 5px !important;
                        }
                  }
              }
        
              .component-title-new {
                font-size: 17px !important;
                font-weight: normal !important;
                margin-top: 5px !important;
              }
        
          }
  
          .more-details{
  
  
              .header-img-default {
                  margin: 10px 0 !important;
                }
                .header-img-default, .header-img{
                  width: 300px !important;
                }
              .segment-md .segment-button{
                font-size: 16px !important;
              }
          }
      }
  }
  