<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Vehicle Profile
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

    <span *ngIf="operation== 'rental_manager_return_loaner'; else assignTag">
        <rental-manager-progress-bar
          total = "4"
          active = "2"
        >
        </rental-manager-progress-bar> 
    </span> 
    <ng-template #assignTag>
       
      <rental-manager-progress-bar
        total = "7"
        active = "3"
      >
      </rental-manager-progress-bar>
    </ng-template>


 
  <div class="page-content">

    <div class="component" id="component">

      <header-vehicle-detail-new [vehicle] = vehicle>
      </header-vehicle-detail-new>

      <div class="container">
        <div class="more-details " id="more-detail">
          <ion-grid>
            <ion-row>
              <ion-col col-12 class="no-padding flex justify-center">
                <img *ngIf="vehicle.model_image; else elsetag" class="header-img" src="{{baseUrl+vehicle.model_image}}">
                <ng-template #elsetag>
                  <img class="header-img-default" src="assets/imgs/car-list.png">
                </ng-template>
              </ion-col>
              <ion-col col-12 class="no-padding">
                  <div>
                      <ion-segment [(ngModel)]="toggleTabs" (ionChange)="onSegmentChanged($event)">
                        <ion-segment-button value="features">
                          TRIM & FEATURES
                        </ion-segment-button>
                        <ion-segment-button value="review-section">
                          CHECK-IN REPORT
                        </ion-segment-button>
                      </ion-segment>
                    </div>

                    <ion-slides #mySlider>
                      <ion-slide>
                        <div class="features" id="features">
                          <!-- LS Standard 
                          <div class="feature-list">
                             <span> &bull; Carpeted front floor mats</span> <br>
                             <span> &bull; Carpeted front floor mats</span>
                          </div> -->
                        </div>
                      </ion-slide>
                    
                      <ion-slide>
                        <div class="review-section" id="review-section">
                          <div class="">
                            <div class="component">
                              <div class="component-content">
                                <div class="title">
                                  <span class="header">
                                    Review Damages and Warnings
                                  </span>
                                  <!-- <span class="btn" (click)="toggleContent()">
                                    <img src="assets/icon/white-cross.png" style="width:15px;">
                                  </span> -->
                                </div>
                                <div class="section" *ngIf="damageInfo">
                                  <ion-grid class="no-padding">
                                    <ion-row>
                                      <ion-col col-12 col-sm-6 class="padding-right-20" *ngFor="let d of damageInfo">
                                        <div class="sub-container">
                                          <ion-grid class=" no-padding">
                                            <ion-row>
                                              <ion-col col-5 class="no-padding-top-down no-padding-left">
                                                <div class="image">
                                                  <div class="red-icon">
                                                    <p> {{d.damage_type | getFirstCharacter | uppercase | getNcharacters: 2}} </p>
                                                  </div>
                                                  <img src="{{baseUrl}}{{d.image_path}}" imageViewer>
                                                </div>
                                              </ion-col>
                                              <ion-col col-7 class="no-padding-top-down no-padding-right">
                                                <div class="sub-container-content">
                                                  <p>{{d.damage_location}}</p>
                                                  <p class="sub-p">{{d.comment}}</p>
                                                </div>
                                              </ion-col>
                                            </ion-row>
                                          </ion-grid>
                                        </div>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </div>
                              </div>
                            </div>
                      
                            <div class="component" *ngIf="damageReport">
                              <div class="component-content">
                                <div class="title">
                                  <span class="header-sub">
                                    Warning Lights
                                  </span>
                                </div>
                                <div class="section-sub">
                                  <ion-grid class="no-padding">
                                    <ion-row>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-check-engine.svg">
                                            Engine
                                            <span class="green-indicator pull-right" *ngIf="damageReport.check_engine == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.check_engine == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.check_engine_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-tire-pressure.svg">
                                            Tire Pressure
                                            <span class="green-indicator pull-right" *ngIf="damageReport.tire_pressure == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.tire_pressure == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.tire_pressure_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-airbag.svg">
                                            Airbag
                                            <span class="green-indicator pull-right" *ngIf="damageReport.airbag == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.airbag == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.airbag_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-medium" src="assets/icon/check-in/assurant-drive-warning-lights-dsc.svg">
                                            DSC
                                            <span class="green-indicator pull-right" *ngIf="damageReport.dsc == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.dsc == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.dsc_note}}</p>
                                        </div>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </div>
                              </div>
                            </div>
                      
                            <div class="component" *ngIf="damageReport">
                              <div class="component-content">
                                <div class="title">
                                  <span class="header-sub">
                                    Tire Pressure/Tread Depth
                                  </span>
                                </div>
                                <div class="section-sub">
                                  <ion-grid class="no-padding">
                                    <ion-row>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon" src="assets/icon/check-in/assurant-drive-tire-left-front.svg">
                                            Left Front
                                            <span class="green-indicator pull-right" *ngIf="damageReport.left_front == 1"></span>
                                            <span class="yellow-indicator pull-right" *ngIf="damageReport.left_front == 2"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.left_front == 0"></span>
                                          </div>
                                          <p class="sub-p">
                                            {{damageReport.left_front_tire_pressure}} PSI
                                            <span class="pull-right">
                                              {{damageReport.left_front_tire_thread}}/32"
                                            </span>
                                          </p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon" src="assets/icon/check-in/assurant-drive-tire-right-front.svg">
                                            Right Front
                                            <span class="green-indicator pull-right" *ngIf="damageReport.right_front == 1"></span>
                                            <span class="yellow-indicator pull-right" *ngIf="damageReport.right_front == 2"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.right_front == 0"></span>
                                          </div>
                                          <p class="sub-p">
                                            {{damageReport.right_front_tire_pressure}} PSI
                                            <span class="pull-right">
                                              {{damageReport.right_front_tire_thread}}/32"
                                            </span>
                                          </p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon" src="assets/icon/check-in/assurant-drive-tire-left-rear.svg">
                                            Left Rear
                                            <span class="green-indicator pull-right" *ngIf="damageReport.left_rear == 1"></span>
                                            <span class="yellow-indicator pull-right" *ngIf="damageReport.left_rear == 2"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.left_rear == 0"></span>
                                          </div>
                                          <p class="sub-p">
                                            {{damageReport.left_rear_tire_pressure}} PSI
                                            <span class="pull-right">
                                              {{damageReport.left_rear_tire_thread}}/32"
                                            </span>
                                          </p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon" src="assets/icon/check-in/assurant-drive-tire-right-rear.svg">
                                            Right Rear
                                            <span class="green-indicator pull-right" *ngIf="damageReport.right_rear == 1"></span>
                                            <span class="yellow-indicator pull-right" *ngIf="damageReport.right_rear == 2"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.right_rear == 0"></span>
                                          </div>
                                          <p class="sub-p">
                                            {{damageReport.right_rear_tire_pressure}} PSI
                                            <span class="pull-right">
                                              {{damageReport.right_rear_tire_thread}}/32"
                                            </span>
                                          </p>
                                        </div>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </div>
                              </div>
                            </div>
                      
                            <div class="component" *ngIf="damageReport">
                              <div class="component-content">
                                <div class="title">
                                  <span class="header-sub">
                                    Exterior/Interior
                                  </span>
                                </div>
                                <div class="section-sub">
                                  <ion-grid class="no-padding">
                                    <ion-row>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            Exterior Body
                                            <span class="green-indicator pull-right" *ngIf="damageReport.ext_body == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.ext_body == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.ext_body_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            Windshield
                                            <span class="green-indicator pull-right" *ngIf="damageReport.windshield == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.windshield == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.windshield_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            Wipers
                                            <span class="green-indicator pull-right" *ngIf="damageReport.wiper == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.wiper == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.wiper_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            Lights
                                            <span class="green-indicator pull-right" *ngIf="damageReport.light == 1"></span>
                                            <span class="red-indicator pull-right" *ngIf="damageReport.light == 0"></span>
                                          </div>
                                          <p class="sub-p">{{damageReport.light_note}}</p>
                                        </div>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </div>
                              </div>
                            </div>
                      
                            <div class="component" *ngIf="accessories">
                              <div class="component-content">
                                <div class="title">
                                  <span class="header">
                                    Accessories Checklist
                                  </span>
                                </div>
                                <div class="section" style="padding-bottom: 25px;">
                                  <ion-grid class="no-padding">
                                    <ion-row>
                                      <ion-col  col-md-4 col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-extra-small" src="assets/icon/check-in/assurant-drive-accessories-books.svg">
                                            Books
                                            <span [class]="accessories.books == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                                          </div>
                                          <p class="sub-p">{{accessories.books_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col  col-md-4 col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-pouch.svg">
                                            Pouch
                                            <span [class]="accessories.pouch == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                                          </div>
                                          <p class="sub-p">{{accessories.pouch_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col  col-md-4 col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-keys.svg">
                                            2 Set of Keys
                                            <span [class]="accessories.keys == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                                          </div>
                                          <p class="sub-p">{{accessories.keys_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col  col-md-4 col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-extra-small" src="assets/icon/check-in/assurant-drive-accessories-tablet.svg">
                                            Tablet
                                            <span [class]="accessories.tablet == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                                          </div>
                                          <p class="sub-p">{{accessories.tablet_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col  col-md-4 col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-small" src="assets/icon/check-in/assurant-drive-accessories-headphones.svg">
                                            Headphones
                                            <span [class]="accessories.headphones == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                                          </div>
                                          <p class="sub-p">{{accessories.headphones_note}}</p>
                                        </div>
                                      </ion-col>
                                      <ion-col  col-md-4 col-12 col-sm-6 class="padding-right-20">
                                        <div class="sub-container">
                                          <div class="sub-header-head">
                                            <img class="icon-extra-small" src="assets/icon/check-in/assurant-drive-accessories-mats.svg">
                                            Mats
                                            <span [class]="accessories.mats == 'true' ? 'green-indicator pull-right' : 'red-indicator pull-right' "></span>
                                          </div>
                                          <p class="sub-p">{{accessories.mats_note}}</p>
                                        </div>
                                      </ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </div>
                              </div>
                            </div>
                      
                          </div>
                        </div>
                      </ion-slide>
                    </ion-slides>
                    
                   
              </ion-col>
            </ion-row>
          </ion-grid>

        </div> <!-- more details ends-->

      </div> <!-- ends container-->

    </div> <!-- ends component -->

  </div><!-- ends page-content-->


</ion-content>

<ion-footer>
  <div class="container">
    <div class="bottom-icon" id="bottom-icon"> 
        <div class="img_div" (click)="gotoLocateVehicle()">
          Locate Vehicle
        </div>
      </div>
  </div>
</ion-footer>