<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
        Return Vehicle
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
          </div>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content class="content">

    <rental-manager-progress-bar
    total = "4"
    active = "1"
  >
  </rental-manager-progress-bar>

  <div class="page-content">

      <div class="search-section container  ">
          <ion-grid>
            <ion-row class="search-align">
              <ion-col col-12>
                <ion-searchbar id="searchbar" 
                              class="searchbar" 
                              [(ngModel)]="searchbarInput" 
                              (ionInput)="getItems($event)"
                              (ionCancel)="onSearchCancel($event)" 
                              placeholder="Search"
                              >
                </ion-searchbar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div> <!-- end search-section-->

  
    <div class="component" id="component">

        <div class="container">
          <ion-grid>
            <ion-row>

                <ion-col col-12 class="no-padding">

                    <div *ngFor="let vehicle of filterData; let i = index;">

                        <div  (click)="gotoVehicleProfileWithAnimation($event, i , vehicle)" attr.id="component{{i}}" class="vehicleDiv">
                            <vehicle-detail-list-new-2 [vehicle] = vehicle> 
                            </vehicle-detail-list-new-2>
                        </div>
                  
                      </div>
                    <!-- <div>
                        <ion-segment [(ngModel)]="toggleTabs" (ionChange)="onSegmentChanged($event)">
                          <ion-segment-button value="reserved">
                            Reserved
                          </ion-segment-button>
                          <ion-segment-button value="allVehicles">
                            All Vehicles
                          </ion-segment-button>
                        </ion-segment>
                      </div>
  
                      <ion-slides #mySlider>
                        <ion-slide>
                          <div class="reserved" id="reserved">
                            
                              <div *ngFor="let vehicle of filterData; let i = index;">

                                  <div  (click)="gotoVehicleProfileWithAnimation($event, i , vehicle)" attr.id="component{{i}}" class="vehicleDiv">
                                      <vehicle-detail-list-new-2 [vehicle] = vehicle> 
                                      </vehicle-detail-list-new-2>
                                  </div>
                            
                                </div>

                          </div>
                        </ion-slide>
                      
                        <ion-slide>
                          <div class="allVehicles" id="allVehicles">

                            <div *ngFor="let vehicle of filterData; let i = index;">

                              <div  (click)="gotoVehicleProfileWithAnimation($event, i , vehicle)" attr.id="component{{i}}" class="vehicleDiv">
                                  <vehicle-detail-list-new-2 [vehicle] = vehicle>
                                  </vehicle-detail-list-new-2>
                              </div>

                            </div>

                          </div>
                        </ion-slide>
                      </ion-slides> -->
                  </ion-col>

              </ion-row>
            </ion-grid>
        </div>
    </div>
  </div>

</ion-content>
