<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Assign Loaner Vehicle 
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
            <div class="blue-bg">
                    <header-vehicle-detail 
                      [vehicle]= vehicle
                      [checkin_type] = checkin_type
                    >
                    </header-vehicle-detail>
            </div>
            <customer-list
                listFor = "assign_loaner"
                [vehicle]= vehicle
            >
            </customer-list>
    
  
  </ion-content>
  