<ion-header no-border>
    <ion-toolbar no-border-top mode="ios">
        <button ion-button menuToggle start>
            <img src="assets/icon/menu.png"  class="menu-icon">
        </button>
  
      <ion-title mode="ios">
        Rental Manager
      </ion-title>
  
      <ion-buttons end>
          <div class="flex pull-right">
            <div class="notification">
              <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
              <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
            </div>
            <div class="back" (click)="back()">
              Back
            </div>
          </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="content blue-bg">

    <div class="outer">

        <div class="success">
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <div class="success-icon">
                            <img class="header-img-default" src="assets/icon/rental-manager/success.png">
                        </div>
                        <div class="vehicle-detail">
                          <p> {{vehicle.vin_number}}</p>
                        </div>
                        <div class="success_message"> 
                            <span class="text" *ngIf="operation== 'rental_manager_assign_loaner'">Succesfully assigned to </span> 
                            <span class="text" *ngIf="operation== 'rental_manager_return_loaner'">Succesfully returned from </span> 
                            <span class="text" *ngIf="operation== 'rental_manager_edit_loaner'">Succesfully edited vehicle assigned to </span> 
                            {{customer.firstName}} {{customer.lastName}}
                            <p>
                              <span class="text">on </span> {{ today | date: "d MMMM, y"}} 
                              <span class="text">at</span> {{ today | date: "h:mm a"}}
                            </p>
                        </div>
                    </ion-col>
                  </ion-row>
            </ion-grid>
        </div>
  
      <div class="body-content container">
          <div class="component">
              <ion-grid>
                <ion-row>

                    <ion-col col-md-6 col-12 *ngIf = "operation == 'rental_manager_assign_loaner'">
                        <div class="submit-btn" style="padding-top:0; padding-bottom:10px">
                          <button class=" cancel-btn" ion-button block large (click)="resendAgreementCopy()">
                              <p>
                                Resend Agreement Copy
                              </p>
                          </button>
                        </div>
                    </ion-col>
                    
                    <ion-col>
                        <div class="submit-btn" style="padding-top:0; padding-bottom:10px">
                          <button ion-button block large (click)="backToMenu()">
                              <p>
                                Back To Menu 
                              </p>
                          </button>
                        </div>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </div>
      </div>
    </div>
  </ion-content>