page-rental-manager-success {
    @media (max-width: 576px) {
        .success{
            height: calc(100vh - 225px) !important;
        }
    }

    @keyframes widthAnimation {
        from { width: 50px; }
        to { width: 200px; }
    }

    .success{
        font-size: 18px;
        text-align: center;
        color:white;
        display: table-cell;
        height: calc(100vh - 160px);
        vertical-align: middle;
        width: 100vw;
        

        .success-icon {
            max-width: 200px;
            margin: auto;
            animation: widthAnimation 1s ease forwards;
        }

        .success_message{
            margin-top: 0;

            .text{
                opacity: 0.6;
            }
        }
        .vehicle-detail{
            display: flex;
            justify-content: center;

            p{
                margin: 0 0 10px 0px;
            }
        }
    }

    .bottom-icon{
        margin-top: 10px;
        z-index: 9999;
        display: flex;
        justify-content: center;
        width: 100%;
  
            .img_div{
                background: #F9A11B;
                padding: 10px; 
                border-radius: 10px;
                color: white;
                font-size: 16px;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
      }

}
