
<div class="blue-bg padding-top-down-25" *ngIf="total>0">
    <div class="container">
        <ion-grid>
            <ion-row>
              <ion-col>
                <div class="rental-manager-progress-bar-container">
                  <span *ngFor="let item of progress;" [innerHTML]="item">
                  </span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    </div>
</div>
