rental-manager-progress-bar {
    .padding-top-down-25{
        padding: 5px 0 !important;
    }
    .rental-manager-progress-bar-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 5px solid #024a92;
        padding-top: 15px;
        // margin: 25px 0;
      }
      
      .active{
        background-color: #fff !important;
      }
      
      .rental-manager-progress-bar-container div {
        background-color: #024a92;
        font-weight: bold;
        color: #7ea5cc;
        border: 2px solid #024a92;
        margin-top: -30px;
        width: 25px;
        height: 25px;
        line-height: 23px;
        text-align: center;
        border-radius: 50%;
        z-index: 99;
      }
}
