page-rental-manager {

    .content {
        background: #fff;
      }
    
      .greeting {
        font-size: 22px;
        color: #fff;
        padding: 10px 0;
        margin-top: 15px;
      }
    
      .body-content {
        // background-color: #fff;
        height: auto;
        padding: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    
        .component{
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          margin-bottom: 20px;
          padding: 20px 0;
    
          .component-main-title {
            font-size: 30px;
            margin-top: 0;
          }
        
          .component-subtitle {
            font-size: 22px;
            color: #999999;
          }
    
          .dashboard-icon {
            width: 50px;
            height: 55px;
            margin-left: 25%;
            // opacity: 0.6;
          }
        
          .dashboard-arrow-icon {
            width: 15px;
            float: right;
            margin-top: 0;
            height: 30px;
            margin-right: 10px;
          }
        }
    
        .component:last-of-type {
          margin-bottom: 0;
        }
    
      }
    
    
      @media (max-width: 576px) {
        .body-content {
          padding: 20px !important;
    
          .component{
            .component-main-title {
              font-size: 21px !important;
            }
          
            .component-subtitle {
              font-size: 16px !important;
            }
            .dashboard-icon {
              margin-left: 0 !important;
              width: 40px !important;
              height: 40px !important;
            }
          }
        }
      }
}
