<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Rental Manager
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="body-content">

    <div class="component flex" (click)="navigateAssignLoanerPage()">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-row>
              <ion-col col-3 col-sm-2>
                <img src="assets/icon/rental-manager/assign-loaner.png" class="dashboard-icon">
              </ion-col>
              <ion-col>
                <div class="component-main-title">
                  Assign Loaner
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-2>
            <img src="assets/icon/blue-right-arrow.png" class="dashboard-arrow-icon">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="component flex" (click)="navigateReturnLoanerPage()">
        <ion-grid>
          <ion-row>
            <ion-col col-10>
              <ion-row>
                <ion-col col-3 col-sm-2>
                  <img src="assets/icon/rental-manager/return-loaner.png" class="dashboard-icon">
                </ion-col>
                <ion-col>
                  <div class="component-main-title">
                    Return Loaner
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-2>
              <img src="assets/icon/blue-right-arrow.png" class="dashboard-arrow-icon">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="component flex" (click)="navigateEditLoanerPage()">
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <ion-row>
                  <ion-col col-3 col-sm-2>
                    <img src="assets/icon/rental-manager/edit-loaner.png" class="dashboard-icon">
                  </ion-col>
                  <ion-col>
                    <div class="component-main-title">
                      Edit Loaner
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-2>
                <img src="assets/icon/blue-right-arrow.png" class="dashboard-arrow-icon">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    

  </div>
</ion-content>