page-assign-loaner-vehicle-step-2 {
    .content{
        background: #0066cc !important;
    }
    
    //large screen
    @media screen and (min-width: 900px) {
        .component-content .sub-container .image {
           width: 160px !important;
       }
       .sub-container-content{
           margin-left: -20% !important;
       }
   }

   @media screen and (orientation:landscape) {
       .top-content{
           .header-img {
               margin-top: -25px;
               margin-bottom: -50px;
           }
           .component-indicators {
               margin-top: 5px !important;
           }
       } 
   }

  .red-indicator, .green-indicator, .yellow-indicator{
   margin-top: 3px !important;
   } 

   .top-content{
    //    height: 50vh;

       .main-title {
           color: white;
           font-weight: 700;
           font-size: 30px;
       }

       .header-img-default{
           margin: 20px 0;
           margin-top: 20px;
       }
       .header-img{
           width: 400px;
       }

       .sub-header{
        margin-top: 0px;
        text-transform: uppercase;
        
        .vehicle-detail{
            p{
                color:white;
                font-size: 28px;
                margin: 0 0 10px 0px;
                font-weight: 500;
            }
        
            .component-indicators{

                .indicator-div{
                    border-radius: 5px;
                    padding: 5px;
                    padding-left: 7px;
                    margin-right: 10px;
                    font-size:13px;

                    .battery-icon{
                        width: 15px;
                    }
                    .fuel-icon{
                        width:11px;
                    }
                }

                .indicator-primary{
                    background-color: #f3f3f3;
                }

                .indicator-success{
                    background-color: #00aa58;
                    color:white;
                }

                .indicator-danger{
                    background-color: #ee3324;
                    color:white;
                }

                .indicator-warning{
                    background-color: #ebc200;
                    color:white;
                }
            }
        }

        .vehicle-img{
            padding-left: 25px;
            padding-top: 10px;
            width: 280px;
            float: right;
        }
    }
      
   }

   .map-content{
    //    height: 48vh;
    height: 45%;
       background: #222;

       .toggle-div {
           margin-top: -100px;

       }
   }

   .submit-btn {
        // padding-bottom: 60px;
        padding-bottom: 0;

        button{
            color: #000;
            border-radius: 100px;
            background-color: #fe9900;
            color: #fff;
            height: 50px;
        }

        img{
            width: 8px;
            margin: 0 5px;
        }
        p {
            font-size: 15px;
        }
    }
   
}
