<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
              <span *ngIf="!operation">Assign</span>
                            <span *ngIf="operation == 'return'">Return</span>
                             Loaner Vehicle 
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="top-content">
        <header-vehicle-detail 
        [vehicle]= vehicle
        [checkin_type] = checkin_type
      >
      </header-vehicle-detail>
  
      <vehicle-parts-damage-report
        [vehicle] = vehicle
        [checkin_type] = checkin_type
      >
      </vehicle-parts-damage-report>
    </div>
  
    <div class="map-content">
        <div #map id="map" style="width:100%; height:110%"></div> 
        <div class="toggle-div">
            <ion-grid class="no-padding">
                <ion-row>
                  <ion-col col-8 offset-2 class="container">

                    <div class="submit-btn">
                        <button ion-button block large (click)="gotoAssignLoanerStep3()">
                            <p>
                                    <span *ngIf="!operation">Select Customer</span>
                                    <span *ngIf="operation == 'return'">Review and Return Vehicle</span>
                            </p>
                            &nbsp;
                            <img src="assets/imgs/rounded-rectangle.png"> 
                        </button>
                      </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    
  
  </ion-content>
  