<ion-header no-border>
  <ion-toolbar no-border-top mode="ios">
      <button ion-button menuToggle start>
          <img src="assets/icon/menu.png"  class="menu-icon">
      </button>

    <ion-title mode="ios">
      Deliver Vehicles
    </ion-title>

    <ion-buttons end>
        <div class="flex pull-right">
          <div class="notification">
            <img (click)="gotoAlertsPage()" *ngIf="alertsCount > 0" src="assets/icon/notification-alert.png" class="notification-icon">
            <img *ngIf="alertsCount == 0" src="assets/icon/notification.svg" class="notification-icon">
          </div>
          <div class="back" (click)="back()">
            Back
          </div>
        </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
    <div class="container">
      <ion-grid>
        <ion-row class="search-align">
          <ion-grid class="intro" *ngIf="isTabletOrIpad">
              <ion-row>
                
                  <ion-col offset-md-1 col-md-4 col-5>
                    <img src="assets/icon/delivery.svg" class="intro-img">
                  </ion-col>
                  <ion-col col-md-6 col-7>
                    <p class="intro-text">
                      Capture damage & condition of a sold vehicle before delivering it to a customer
                    </p>
                  </ion-col>
                </ion-row>
          </ion-grid>
          <ion-col col-4 offset-4>
            <div class="barcode text-center" (click)="scanBarcode()">
              <img src="assets/icon/barcode-white.png">
              <p>
                  + Scan New Vehicle
              </p>
            </div>
          </ion-col>
          <ion-col col-12>
              <ion-searchbar class="searchbar" [(ngModel)]="searchItem" (ionInput)="getItems($event)" placeholder="Search"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
      <div class="page-content">

        <div *ngFor="let v of filterData | reverse; let i = index">
            <div (click)="gotoDamageReportingPage(v)">

                <vehicle-detail-list 
                  [vehicle] = v 
                  [showIndicators] = "false"
                >
                </vehicle-detail-list>
  
            </div>
        </div>
    
      </div>
  
  </ion-content>
  